In [11]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 120)
START = "2022-01-01"
END = "2025-12-18"

In [12]:
# --- Yahoo Finance via yfinance: US tickers (real market yh_df) ---
tickers = ["SPY", "QQQ", "TLT", "GLD", "EEM"]
# SPY : S&P 500 index
# QQQ : Nasdaq-100 index
# TLT : U.S. Treasury bonds with 20+ year maturity
# GLD : Physical gold prices
# EEM : MSCI Emerging Markets index

try:
    import yfinance as yf
except Exception as e:
    yf = None
    print("Could not import yfinance:", type(e).__name__, str(e))

if yf is not None:
    try:
        yh_df = yf.download(tickers, start=START, end=END, auto_adjust=True, progress=False)
    except Exception as e:
        yh_df = pd.DataFrame()
        print("yfinance download failed:", type(e).__name__, str(e))
else:
    yh_df = pd.DataFrame()

# Convert to long format: date, ticker, close, volume
if isinstance(yh_df, pd.DataFrame) and yh_df.shape[0] > 0:
    if isinstance(yh_df.columns, pd.MultiIndex):
        close = yh_df["Close"].copy()
        vol = yh_df["Volume"].copy()
    else:
        close = yh_df[["Close"]].rename(columns={"Close": tickers[0]})
        vol = yh_df[["Volume"]].rename(columns={"Volume": tickers[0]})

    close.index.name = "date"
    vol.index.name = "date"

    us_close_long = close.reset_index().melt(id_vars="date", var_name="ticker", value_name="close")
    us_vol_long = vol.reset_index().melt(id_vars="date", var_name="ticker", value_name="volume")
    us_mkt = us_close_long.merge(us_vol_long, on=["date","ticker"], how="inner").dropna(subset=["close"])
else:
    us_mkt = pd.DataFrame(columns=["date","ticker","close","volume"])

us_mkt.head(), us_mkt.shape

(        date ticker      close    volume
 0 2022-01-03    EEM  44.624966  27572700
 1 2022-01-04    EEM  44.470772  24579500
 2 2022-01-05    EEM  43.745167  46425100
 3 2022-01-06    EEM  43.944706  34288700
 4 2022-01-07    EEM  44.343792  32640900,
 (4970, 4))

### 3.2.2 From NumPy array to Series 

Using `us_mkt`:

1. Filter to `ticker == "SPY"`.
2. Take `close` as a NumPy array.
3. Create a Series indexed by `date` named `SPY_close_series`.
4. Compute the mean/min/max with Series methods.

### 3.2.3 From Dictionary to Series 

Using `us_mkt`:

1. Compute the **last available close** for each ticker in `tickers`.
2. Store it in a dict `{ticker: last_close}`.
3. Convert to a Series and sort descending.

### 3.2.4 Series vs NumPy 

Goal: show why pandas alignment matters.

1. Create two Series indexed by date:
   - df mid-rate from `df`
   - SPY close from `us_mkt`
2. Combine them into a yh_dfFrame (pandas aligns on dates).
3. Separately, build two NumPy arrays by truncating to the same length.
4. In markdown: explain why alignment is safer.

### 3.3.6 Dealing with Nulls 
Using `us_mkt`:

1. Copy `us_mkt` to `us_mkt_nan`.
2. Set 1% of `close` to NaN (fixed random seed).
3. Create:
   - `us_drop`: drop NaNs
   - `us_fill`: fill NaNs with ticker-specific median close
4. Compare shapes.

### 3.3.7 Duplicates 

1. Create `dup_df` by stacking the last 5 rows of `us_mkt` twice.
2. Detect duplicates using `.duplicated()`.
3. Remove them using `.drop_duplicates()`.

### 3.3.8 Groupby 


Using `us_mkt`:

1. Group by `ticker` and compute:
   - mean close
   - median close
   - max volume
2. Rename columns clearly.
3. Sort by mean close descending.

### 3.3.9 Reshape 

1. Create a 1-row wide yh_dfFrame with last closes per ticker.
2. Convert it to long format with `melt()` into columns: `ticker`, `last_close`.
3. Pivot `us_mkt` into a wide table: index=`date`, columns=`ticker`, values=`close` (keep first 50 dates).

In [13]:
#Solutions for 3.3.9
# Create a 1-row wide DataFrame with the last close for each ticker
last_closes = (
    us_mkt
    .sort_values("date") # Sort data by date to make sure we keep the most recent observation
    .groupby("ticker", as_index=False) # Group by ticker and take the last available close price
    .last()[["ticker", "close"]] # Keep only ticker and close columns
    .set_index("ticker") 
    .T # Transpose the DataFrame to get a single-row wide format
)
last_closes

ticker        EEM         GLD        QQQ         SPY        TLT
close   52.599998  399.290009  599.63739  669.421936  87.459633

In [14]:
# Convert the wide DataFrame to long format
last_closes_long = last_closes.melt( # Convert the wide DataFrame into long format
    var_name="ticker",
    value_name="last_close" # Each row represents the last close of one ticker
)
last_closes_long

  ticker  last_close
0    EEM   52.599998
1    GLD  399.290009
2    QQQ  599.637390
3    SPY  669.421936
4    TLT   87.459633

In [16]:
# Pivot us_mkt into a wide table (date x ticker) keeping first 50 dates
us_mkt_wide = (
    us_mkt
    .pivot(index="date", columns="ticker", values="close") # Pivot the market data to create a wide table,rows are dates and columns are tickers
    .sort_index() # Sort dates in ascending order
    .head(50) # Keep only the first 50 available dates
)
us_mkt_wide

ticker            EEM         GLD         QQQ         SPY         TLT
date
2022-01-03  44.624966  168.330002  391.679443  451.875183  125.295334
2022-01-04  44.470772  169.570007  386.599182  451.723846  124.774353
2022-01-05  43.745167  169.059998  374.722412  443.049744  124.097084
2022-01-06  43.944706  166.990005  374.459137  442.633514  124.418388
2022-01-07  44.343792  167.750000  370.402649  440.883545  123.523994
2022-01-10  44.343792  168.259995  370.646423  440.334930  123.827965
2022-01-11  45.368717  170.289993  376.214294  444.345612  124.652779
2022-01-12  46.121532  170.740005  377.706238  445.546906  124.175262
2022-01-13  45.468487  170.160004  368.257446  439.407959  125.277977
2022-01-14  45.450352  169.669998  370.548981  439.587738  123.385139
2022-01-18  44.643108  169.389999  361.324493  431.802704  121.648537
2022-01-19  44.833576  172.080002  357.355835  427.319122  122.490753
2022-01-20  45.096619  171.649994  352.714355  422.589539  123.246162
2022-01-21  44.443565  171.089996  342.934052  414.293762  124.713585
2022-01-24  43.817722  172.029999  344.503937  416.053223  123.689018
2022-01-25  43.736092  172.580002  336.517914  410.973633  123.489281
2022-01-26  43.182816  169.789993  335.991302  409.942535  121.995827
2022-01-27  42.683960  167.600006  332.607697  407.918365  124.236053
2022-01-28  42.892574  167.100006  343.041229  418.049103  124.279442
2022-01-31  44.298439  168.089996  354.011200  425.578644  123.636917
2022-02-01  44.570545  168.229996  356.419739  428.454163  123.226479
2022-02-02  44.497990  168.839996  359.315826  432.616241  123.643829
2022-02-03  44.026337  168.600006  344.747742  422.447632  122.678688
2022-02-04  44.135178  168.860001  349.096802  424.434082  120.870125
2022-02-07  44.044476  170.110001  346.288330  423.071960  120.948418
2022-02-08  44.470772  170.630005  350.179047  426.552917  120.139793
2022-02-09  45.169174  171.210007  357.599670  432.795929  120.365837
2022-02-10  44.869862  170.559998  349.506195  425.020538  118.452927
2022-02-11  44.189606  173.809998  338.419342  416.639648  120.209312
2022-02-14  43.881222  174.740005  338.838654  415.277527  118.713715
2022-02-15  44.833576  173.080002  347.263489  421.974640  117.366020
2022-02-16  45.160103  174.860001  347.175720  422.447632  118.061623
2022-02-17  44.634041  177.250000  336.849365  413.423553  118.939827
2022-02-18  44.189606  177.119995  333.007599  410.746613  120.191933
2022-02-22  43.563759  177.490005  329.662933  406.338623  120.504967
2022-02-23  43.055840  178.289993  321.218506  399.130676  118.844193
2022-02-24  42.166965  177.139999  332.012878  405.137299  118.922440
2022-02-25  42.946991  176.550003  337.161499  414.076294  119.009407
2022-02-28  42.384644  178.380005  338.165833  413.016815  121.617897
2022-03-01  41.822300  181.619995  332.987976  406.726410  123.024055
2022-03-02  41.894863  179.729996  338.575378  414.208649  118.818733
2022-03-03  41.305302  180.800003  333.738831  412.146545  120.028969
2022-03-04  40.470852  183.679993  328.902252  408.797974  122.101143
2022-03-07  38.956142  186.410004  316.772003  396.746979  121.169518
2022-03-08  39.083126  191.509995  315.299622  393.738983  119.950615
2022-03-09  40.189682  185.820007  326.649780  404.295380  118.775192
2022-03-10  39.436855  186.399994  323.022369  402.469818  117.068718
2022-03-11  38.611477  185.089996  316.323547  397.352417  117.460541
2022-03-14  37.677261  182.300003  310.248596  394.448395  114.717964
2022-03-15  37.731678  178.889999  319.980103  403.122559  114.517715