# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [2]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [3]:
#Sol 1.1 Renzo Update
# 1) Print the first item of the second item of tuple1 (indexing)
# This line defines the tuple named tuple1, containing a string, a list, and a nested tuple.
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
# This line selects the second element of tuple1 (index 1), which is the list, and then selects its first element (index 0).
print(tuple1[1][0])

10

In [4]:
# 2) Print the last item of the tuple1 object (indexing)
# This line accesses the last element of tuple1 using negative indexing (-1), which refers to the final item.
print(tuple1[-1])

(5, 15, 25)

In [5]:
# 3) Change "Orange" to "pink grapefruit" and comment whether it is possible
# This commented-out line illustrates an invalid operation, because tuples are immutable and do not support item reassignment.
# tuple1[0] = "pink grapefruit"  # TypeError: tuples do not support item assignment.

# This line constructs a new tuple by placing the replacement string first (as a 1-item tuple) and concatenating the remaining slice of tuple1.
tuple1_new = ("pink grapefruit",) + tuple1[1:]

# This line prints the newly created tuple, which reflects the desired change without modifying the original tuple1.
print(tuple1_new)

('pink grapefruit', [10, 20, 30], (5, 15, 25))

In [6]:
# 4) Print the length of tuple1 (length function)
# This line computes the number of top-level elements contained in tuple1 using the built-in len() function.
print(len(tuple1))

3

In [7]:
# 5) Sum all elements of tuple2 using map (no loops)
# This line defines the tuple named tuple2, which contains three lists of integers.
tuple2 = ([7, 8], [9, 1], [10, 7])

# This line applies sum() to each list inside tuple2 using map, and then sums those intermediate results into one total.
total = sum(map(sum, tuple2))

# This line prints the final scalar total obtained from summing all numbers across the nested lists.
print(total)

42

In [8]:
# 6) Create tuple3 with half the values of tuple2, preserving the same structure, using map
# This line constructs tuple3 by mapping over each inner list, halving each element via a nested map, converting each mapped result into a list, and finally converting the outer result into a tuple.
tuple3 = tuple(map(lambda lst: list(map(lambda x: x / 2, lst)), tuple2))

# This line prints tuple3 to display the transformed structure (a tuple of lists) with each original value divided by two.
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [9]:
import numpy as np

In [10]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [11]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [12]:
p2_list = [ 2 , 3, 4, 5 ]

In [13]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [14]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [15]:
#Sol 1.2 Carmen Update:
# 1
# Get index-value pairs, filter only np.nan values, and extract indices
nan_indices = list(map(lambda x: x[0], filter(lambda x: x[1] is np.nan, enumerate(f_list))))

# Print indices using f-string
print(f"The indices {nan_indices[0]}, {nan_indices[1]}, {nan_indices[2]}, {nan_indices[3]} have np.nan values.")

#2
# Multiply the list to repeat its elements
replicated_list = p2_list * 4

# Print the replicated list
print(replicated_list)

#3
# Use len() to get the number of elements in the list
print(len(f_list))

#4
# Join list elements into a single string separated by spaces
sentence = " ".join(text1)

# Print the sentence
print(sentence)

#5
# Create a copy of the original list
text1_extended = text1.copy()

# Replace 'teacher assistant' with 'TA'
text1_extended[1:3] = ["TA"]

# Add extra words to the list
text1_extended.extend(["but", "is", "very", "funny."])

# Join list into a sentence
sentence2 = " ".join(text1_extended)

# Print the sentence
print(sentence2)

#6
# Get maximum value from the list
max_value = max(values1)

# Get minimum value from the list
min_value = min(values1)

# Print max value and its index
print(f"The max value of values1 is {max_value} and is located in the {values1.index(max_value)} index.")

# Print min value and its index
print(f"The min value of values1 is {min_value} and is located in the {values1.index(min_value)} index.")


#7
# Split each full name into last names and first names
split_names = list(map(lambda x: x.split(", "), last_and_name))

# Extract last names
last_names = list(map(lambda x: x[0], split_names))

# Extract first names
names = list(map(lambda x: x[1], split_names))

#8
# Pair last names with emails, filter empty emails, and extract last names
no_email_last_names = list(
    map(
        lambda x: x[0],
        filter(lambda x: x[1] == "", zip(last_names, emails))
    )
)

# Print last names without email
print(no_email_last_names)

The indices 0, 1, 4, 7 have np.nan values.
[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]
8
My teacher assistant is so boring.
My TA is so boring. but is very funny.
The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.
['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [16]:
str1 = 'I am                            too                                                        old'

In [17]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [18]:
#Sol: 1.3 Kevin update
#1
# split() separates the string into words ignoring multiple spaces
# join() rebuilds the string using only one space between words
clean_str1 = " ".join(str1.split())

clean_str1

'I am too old'

In [19]:
#2
# Remove all blank spaces
# len() counts only the letters
num_letters = len(clean_str1.replace(" ", ""))

num_letters

9

In [20]:
#3
# Total length of the original string
# Minus length after removing spaces
# The difference is the number of blank spaces
num_spaces = len(str1) - len(str1.replace(" ", ""))

num_spaces

85

In [21]:
#4
# map() applies find("@") to each email
# find() returns the index of '@' or -1 if not found
at_positions = list(map(lambda x: x.find("@"), emails))

at_positions

[9,
 11,
 14,
 9,
 12,
 8,
 14,
 9,
 8,
 16,
 12,
 13,
 6,
 9,
 10,
 12,
 8,
 11,
 14,
 6,
 11,
 7,
 15,
 9,
 12,
 8,
 9,
 11,
 13,
 6,
 9,
 12,
 11,
 16,
 11]

In [22]:
#5
# find(".edu.") returns -1 if the substring does not exist
# != -1 converts the result into a Boolean value
has_edu = list(map(lambda x: x.find(".edu.") != -1, emails))

has_edu

[True,
 True,
 True,
 False,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False]

In [23]:
#6
# split(".", 1) splits only at the first dot
# [0] keeps the part before the dot
before_dot = list(map(lambda x: x.split(".", 1)[0], emails))

before_dot

# "@" in x returns True or False
# sum() counts True as 1 and False as 0
count_at_before_dot = sum(map(lambda x: "@" in x, before_dot))

count_at_before_dot

14

PART 2:

In [24]:
!pip install yfinance

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/8d/c1/ac130a6a46b7c23624220c8fcae9de5f3be0c2c492452d31c45cbf50bc12/yfinance-1.0-py2.py3-none-any.whl.metadata
  Downloading yfinance-1.0-py2.py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Obtaining dependency information for frozendict>=2.3.4 from https://files.pythonhosted.org/packages/38/74/f94141b38a51a553efef7f510fc213894161ae49b88bffd037f8d2a7cb2f/frozendict-2.4.7-py3-none-any.whl.metadata
  Downloading frozendict-2.4.7-py3-none-any.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Obtaining dependency information for peewee>=3.16.2 from https://files.pythonhosted.org/packages/1a/41/19c65578ef9a54b3083253c68a607f099642747168fe00f3a2bceb7c3a34/peewee-3.19.0-py3-none-any.whl.metadata
  Downloading peewee-3.19.0-py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Collecting curl_cffi<0.14,>=0.7 (from yfinance)
  Obtaining dependency information for curl_cffi<0.14,>=0.7 from https://files.pythonhosted.org/packages/6d/e4/15a253f9b4bf8d008c31e176c162d2704a7e0c5e24d35942f759df107b68/curl_cffi-0.13.0-cp39-abi3-win_amd64.whl.metadata
  Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl.metadata (13 kB)
Collecting protobuf>=3.19.0 (from yfinance)
  Obtaining dependency information for protobuf>=3.19.0 from https://files.pythonhosted.org/packages/64/20/4d50191997e917ae13ad0a235c8b42d8c1ab9c3e6fd455ca16d416944355/protobuf-6.33.2-cp310-abi3-win_amd64.whl.metadata
  Downloading protobuf-6.33.2-cp310-abi3-win_amd64.whl.metadata (593 bytes)
Collecting websockets>=13.0 (from yfinance)
  Obtaining dependency information for websockets>=13.0 from https://files.pythonhosted.org/packages/98/93/e36c73f78400a65f5e236cd376713c34182e6663f6889cd45a4a04d8f203/websockets-15.0.1-cp311-cp311-win_amd64.whl.metadata
  Downloading websockets-15.0.1-cp311-cp311-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12.0 in c:\users\user\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (1.15.1)
Collecting certifi>=2024.2.2 (from curl_cffi<0.14,>=0.7->yfinance)
  Obtaining dependency information for certifi>=2024.2.2 from https://files.pythonhosted.org/packages/e6/ad/3cc14f097111b4de0040c83a525973216457bbeeb63739ef1ed275c1c021/certifi-2026.1.4-py3-none-any.whl.metadata
  Downloading certifi-2026.1.4-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Downloading yfinance-1.0-py2.py3-none-any.whl (127 kB)
   ---------------------------------------- 0.0/127.1 kB ? eta -:--:--
   -------------------------------------- - 122.9/127.1 kB 7.0 MB/s eta 0:00:01
   ---------------------------------------- 127.1/127.1 kB 2.5 MB/s eta 0:00:00
Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ---------------------------------------  1.6/1.6 MB 51.5 MB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 25.9 MB/s eta 0:00:00
Downloading frozendict-2.4.7-py3-none-any.whl (16 kB)
Downloading peewee-3.19.0-py3-none-any.whl (411 kB)
   ---------------------------------------- 0.0/411.9 kB ? eta -:--:--
   ---------------------------------------- 411.9/411.9 kB 8.5 MB/s eta 0:00:00
Downloading protobuf-6.33.2-cp310-abi3-win_amd64.whl (436 kB)
   ---------------------------------------- 0.0/436.9 kB ? eta -:--:--
   --------------------------------------- 436.9/436.9 kB 13.8 MB/s eta 0:00:00
Downloading websockets-15.0.1-cp311-cp311-win_amd64.whl (176 kB)
   ---------------------------------------- 0.0/176.8 kB ? eta -:--:--
   ---------------------------------------- 176.8/176.8 kB 5.4 MB/s eta 0:00:00
Downloading certifi-2026.1.4-py3-none-any.whl (152 kB)
   ---------------------------------------- 0.0/152.9 kB ? eta -:--:--
   ---------------------------------------- 152.9/152.9 kB ? eta 0:00:00
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.12-py3-none-any.whl size=15617 sha256=19407bc71a1d94332ba51aa9cba62b7458d0e433d347a4e692e44b0aef9ca2fc
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\42\d6\84\bf57a755f4569494cd00de4bb46ef064874823f4d19c82e960
Successfully built multitasking
Installing collected packages: peewee, multitasking, websockets, protobuf, frozendict, certifi, curl_cffi, yfinance
  Attempting uninstall: certifi
    Found existing installation: certifi 2023.7.22
    Uninstalling certifi-2023.7.22:
      Successfully uninstalled certifi-2023.7.22
Successfully installed certifi-2026.1.4 curl_cffi-0.13.0 frozendict-2.4.7 multitasking-0.0.12 peewee-3.19.0 protobuf-6.33.2 websockets-15.0.1 yfinance-1.0

In [25]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 120)
START = "2022-01-01"
END = "2025-12-18"

In [26]:
# --- Yahoo Finance via yfinance: US tickers (real market yh_df) ---
tickers = ["SPY", "QQQ", "TLT", "GLD", "EEM"]
# SPY : S&P 500 index
# QQQ : Nasdaq-100 index
# TLT : U.S. Treasury bonds with 20+ year maturity
# GLD : Physical gold prices
# EEM : MSCI Emerging Markets index

try:
    import yfinance as yf
except Exception as e:
    yf = None
    print("Could not import yfinance:", type(e).__name__, str(e))

if yf is not None:
    try:
        yh_df = yf.download(tickers, start=START, end=END, auto_adjust=True, progress=False)
    except Exception as e:
        yh_df = pd.DataFrame()
        print("yfinance download failed:", type(e).__name__, str(e))
else:
    yh_df = pd.DataFrame()

# Convert to long format: date, ticker, close, volume
if isinstance(yh_df, pd.DataFrame) and yh_df.shape[0] > 0:
    if isinstance(yh_df.columns, pd.MultiIndex):
        close = yh_df["Close"].copy()
        vol = yh_df["Volume"].copy()
    else:
        close = yh_df[["Close"]].rename(columns={"Close": tickers[0]})
        vol = yh_df[["Volume"]].rename(columns={"Volume": tickers[0]})

    close.index.name = "date"
    vol.index.name = "date"

    us_close_long = close.reset_index().melt(id_vars="date", var_name="ticker", value_name="close")
    us_vol_long = vol.reset_index().melt(id_vars="date", var_name="ticker", value_name="volume")
    us_mkt = us_close_long.merge(us_vol_long, on=["date","ticker"], how="inner").dropna(subset=["close"])
else:
    us_mkt = pd.DataFrame(columns=["date","ticker","close","volume"])

us_mkt.head(), us_mkt.shape

(        date ticker      close    volume
 0 2022-01-03    EEM  44.624966  27572700
 1 2022-01-04    EEM  44.470772  24579500
 2 2022-01-05    EEM  43.745163  46425100
 3 2022-01-06    EEM  43.944710  34288700
 4 2022-01-07    EEM  44.343796  32640900,
 (4970, 4))

In [27]:
# --- BCRP: daily exchange rate PEN/USD buy & sell (official API) ---
# Codes:
# - PD04637PD: USD/PEN (buy)
# - PD04638PD: USD/PEN (sell)

import requests

bcrp_url = f"https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PD04637PD-PD04638PD/json/{START}/{END}/esp"
try:
    r = requests.get(bcrp_url, timeout=30)
    r.raise_for_status()
    bcrp_obj = r.json()
except Exception as e:
    bcrp_obj = {"periods": []}
    print("BCRP request failed:", type(e).__name__, str(e))

periods = bcrp_obj.get("periods", [])
rows = []
for p in periods:
    name = p.get("name")
    vals = p.get("values", [])
    if isinstance(vals, str):
        vals = [vals]
    if name is None or not isinstance(vals, list) or len(vals) < 2:
        continue
    rows.append([name, vals[0], vals[1]])

df = pd.DataFrame(rows, columns=["date_raw", "PENUSD_buy", "PENUSD_sell"])
df

      date_raw        PENUSD_buy       PENUSD_sell
0    03.Ene.22  3.98366666666667  3.98883333333333
1    04.Ene.22            3.9595             3.964
2    05.Ene.22             3.952  3.95633333333333
3    06.Ene.22  3.96716666666667  3.96966666666667
4    07.Ene.22  3.94516666666667  3.94816666666667
..         ...               ...               ...
983  12.Dic.25  3.36685714285714  3.36885714285714
984  15.Dic.25  3.36871428571429            3.3705
985  16.Dic.25  3.36985714285714  3.37142857142857
986  17.Dic.25  3.36771428571429  3.36914285714286
987  18.Dic.25  3.36514285714286  3.36664285714286

[988 rows x 3 columns]

## 3.2.2 From NumPy array to Series

Using `us_mkt`:

1. Filter to `ticker == "SPY"`.
2. Take `close` as a NumPy array.
3. Create a Series indexed by `date` named `SPY_close_series`.
4. Compute the mean, minimum, and maximum using Series methods.

In [28]:
# This line filters the market DataFrame to keep only observations where the ticker is 'SPY'.
spy_df = us_mkt.loc[us_mkt["ticker"].eq("SPY")].copy()

# This line converts the 'close' column from the filtered DataFrame into a NumPy array.
spy_close_np = spy_df["close"].to_numpy()

# This line constructs a pandas Series using dates as the index and the NumPy array as values, naming it explicitly.
SPY_close_series = pd.Series(spy_close_np, index=spy_df["date"], name="SPY_close_series")

# This line computes the mean of the Series using pandas' Series method (which is NaN-aware).
spy_mean = SPY_close_series.mean()

# This line computes the minimum value of the Series using pandas' Series method.
spy_min = SPY_close_series.min()

# This line computes the maximum value of the Series using pandas' Series method.
spy_max = SPY_close_series.max()

# This line prints the summary statistics in a single, readable output.
print(f"Mean: {spy_mean}, Min: {spy_min}, Max: {spy_max}")

Mean: 485.608585871921, Min: 341.1820983886719, Max: 687.1395263671875

## 3.2.3 From Dictionary to Series

Using `us_mkt`:

1. Compute the **last available close** for each ticker in `tickers`.
2. Store the result in a dictionary of the form `{ticker: last_close}`.
3. Convert the dictionary to a Series and sort it in descending order.

In [29]:
# This line sorts the DataFrame by date to ensure that 'last' refers to the most recent observation per ticker.
us_sorted = us_mkt.sort_values("date")

# This line extracts the last available close per ticker by grouping and taking the final close in each group.
last_close_per_ticker = us_sorted.groupby("ticker")["close"].last()

# This line converts the resulting Series into a dictionary of the form {ticker: last_close}.
last_close_dict = last_close_per_ticker.to_dict()

# This line converts the dictionary back into a pandas Series for convenient sorting and analysis.
last_close_series = pd.Series(last_close_dict, name="last_close")

# This line sorts the Series in descending order, as requested.
last_close_series_sorted = last_close_series.sort_values(ascending=False)

# This line displays the final sorted Series.
last_close_series_sorted

SPY    669.421936
QQQ    599.637390
GLD    399.290009
TLT     87.459633
EEM     52.599998
Name: last_close, dtype: float64

## 3.2.4 Series vs NumPy

**Goal:** show why pandas alignment matters.

1. Create two Series indexed by date:
   - Mid-rate from `df`
   - SPY close from `us_mkt`
2. Combine them into a single DataFrame (pandas aligns on dates).
3. Separately, build two NumPy arrays by truncating them to the same length.
4. In Markdown, explain why alignment is safer.

In [30]:
# This line converts the raw BCRP date strings into pandas datetime to enable robust index alignment.
df_dates = pd.to_datetime(df["date_raw"], errors="coerce")

# This line converts the buy column to numeric, coercing any non-numeric entries into NaN.
buy = pd.to_numeric(df["PENUSD_buy"], errors="coerce")

# This line converts the sell column to numeric, coercing any non-numeric entries into NaN.
sell = pd.to_numeric(df["PENUSD_sell"], errors="coerce")

# This line computes the mid exchange rate as the arithmetic mean of buy and sell rates.
mid = (buy + sell) / 2

# This line constructs a mid-rate Series indexed by date, which is required for safe calendar-based alignment.
mid_rate_series = pd.Series(mid.to_numpy(), index=df_dates, name="PENUSD_mid")

# This line removes missing dates (NaT) from the index to avoid invalid alignment keys.
mid_rate_series = mid_rate_series.loc[mid_rate_series.index.notna()]

# This line collapses duplicate dates by keeping the last observation per date, ensuring a unique index.
mid_rate_series = mid_rate_series.groupby(level=0).last()

# This line filters the US market dataset to keep only SPY observations.
spy_df2 = us_mkt.loc[us_mkt["ticker"].eq("SPY")].copy()

# This line constructs a SPY close Series indexed by date, enabling index-based alignment.
spy_close_series = pd.Series(spy_df2["close"].to_numpy(), index=spy_df2["date"], name="SPY_close")

# This line removes missing dates (NaT) from the SPY index to avoid invalid alignment keys.
spy_close_series = spy_close_series.loc[spy_close_series.index.notna()]

# This line collapses duplicate SPY dates by keeping the last observation per date, ensuring a unique index.
spy_close_series = spy_close_series.groupby(level=0).last()

# This line concatenates both Series into a single DataFrame, aligning observations strictly by their date indices.
aligned_df = pd.concat([mid_rate_series, spy_close_series], axis=1)

# This line drops rows where at least one of the two aligned variables is missing.
aligned_df_clean = aligned_df.dropna()

# This line extracts the aligned mid-rate values as a NumPy array after ensuring correct calendar alignment.
mid_np_aligned = aligned_df_clean["PENUSD_mid"].to_numpy()

# This line extracts the aligned SPY close values as a NumPy array after ensuring correct calendar alignment.
spy_np_aligned = aligned_df_clean["SPY_close"].to_numpy()

# This line displays the first few aligned observations for verification.
aligned_df_clean.head()

C:\Users\User\AppData\Local\Temp\ipykernel_9344\2809656145.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_dates = pd.to_datetime(df["date_raw"], errors="coerce")

            PENUSD_mid   SPY_close
2022-02-01    3.874500  428.454193
2022-02-02    3.854500  432.616211
2022-02-03    3.859667  422.447601
2022-02-04    3.865417  424.434021
2022-02-07    3.842167  423.071930

## Why pandas alignment is safer than NumPy truncation

Pandas alignment is safer because it matches observations based on their index values, in this case calendar dates, rather than relying on positional correspondence. When two Series are combined using their date indices, pandas ensures that each observation refers to the same point in time before any comparison or transformation is performed.

By contrast, truncating NumPy arrays to a common length only guarantees that both arrays have the same shape, but it does not ensure that element *i* in one array corresponds to the same date as element *i* in the other. This positional matching can silently introduce temporal mismatches, particularly when datasets contain missing dates, duplicated observations, or different sampling frequencies.

Therefore, index-based alignment in pandas provides a more robust and conceptually correct approach for financial and time-series analysis, as it preserves the economic meaning of each observation and prevents misleading statistical results.

## 3.3.6 Dealing with Nulls

Using `us_mkt`:

1. Copy `us_mkt` to `us_mkt_nan`.
2. Set 1% of `close` values to NaN (fixed random seed).
3. Create:
   - `us_drop`: drop NaN values
   - `us_fill`: fill NaNs with ticker-specific median close
4. Compare dataset shapes.

In [31]:
# This line creates a defensive copy so the original us_mkt remains unchanged.
us_mkt_nan = us_mkt.copy()

# This line samples 1% of rows in a reproducible manner using a fixed random seed.
nan_idx = us_mkt_nan.sample(frac=0.01, random_state=42).index

# This line sets the 'close' values at the sampled indices to NaN, introducing controlled missingness.
us_mkt_nan.loc[nan_idx, "close"] = np.nan

# This line drops rows with missing close values, producing the 'drop' version.
us_drop = us_mkt_nan.dropna(subset=["close"])

# This line computes the ticker-specific median close for each row via transform, preserving original shape for filling.
ticker_medians = us_mkt_nan.groupby("ticker")["close"].transform("median")

# This line fills missing close values with the corresponding ticker-specific median.
us_fill = us_mkt_nan.assign(close=us_mkt_nan["close"].fillna(ticker_medians))

# This line prints the shapes to compare how dropping versus filling affects the dataset size.
print("Original:", us_mkt.shape, "| With NaNs:", us_mkt_nan.shape, "| Dropped:", us_drop.shape, "| Filled:", us_fill.shape)

Original: (4970, 4) | With NaNs: (4970, 4) | Dropped: (4920, 4) | Filled: (4970, 4)

## 3.3.7 Duplicates

1. Create `dup_df` by stacking the last 5 rows of `us_mkt` twice.
2. Detect duplicates using `.duplicated()`.
3. Remove them using `.drop_duplicates()`.

In [32]:
# This line extracts the last five rows of us_mkt, which will be duplicated deliberately.
tail5 = us_mkt.tail(5)

# This line stacks the same five rows twice to create intentional duplicates.
dup_df = pd.concat([tail5, tail5], ignore_index=True)

# This line identifies duplicates using pandas' duplicated method, marking repeated rows as True.
dup_mask = dup_df.duplicated()

# This line prints how many rows are flagged as duplicates.
print("Number of duplicates flagged:", dup_mask.sum())

# This line removes duplicated rows, keeping the first occurrence by default.
dedup_df = dup_df.drop_duplicates()

# This line prints the shapes before and after removal to confirm the effect.
print("Before:", dup_df.shape, "| After:", dedup_df.shape)

Number of duplicates flagged: 5
Before: (10, 4) | After: (5, 4)

## 3.3.8 Groupby

Using `us_mkt`:

1. Group by `ticker` and compute:
   - mean close
   - median close
   - max volume
2. Rename columns clearly.
3. Sort by mean close in descending order.

In [33]:
# This line groups the data by ticker and computes the requested aggregate statistics for close and volume.
gb_stats = us_mkt.groupby("ticker").agg(
    mean_close=("close", "mean"),
    median_close=("close", "median"),
    max_volume=("volume", "max")
)

# This line sorts the resulting summary table by mean_close in descending order, as specified.
gb_stats_sorted = gb_stats.sort_values("mean_close", ascending=False)

# This line displays the final grouped summary table.
gb_stats_sorted

        mean_close  median_close  max_volume
ticker
SPY     485.608586    460.740021   256611400
QQQ     411.276965    400.214554   198685800
GLD     220.130422    187.864998    62025000
TLT      91.395621     88.549702   131353500
EEM      40.462350     39.107407   134225700

## 3.3.9 Reshape

1. Create a 1-row wide DataFrame with last closes per ticker.
2. Convert it to long format using `melt()` into columns: `ticker`, `last_close`.
3. Pivot `us_mkt` into a wide table with:
   - index = `date`
   - columns = `ticker`
   - values = `close`
   (keep the first 50 dates).

In [34]:
# This line ensures the dataset is sorted by date so 'last' reflects the most recent close per ticker.
us_sorted2 = us_mkt.sort_values("date")

# This line creates a one-row wide DataFrame whose columns are tickers and values are last closes.
last_close_wide = us_sorted2.groupby("ticker")["close"].last().to_frame().T

# This line sets an informative index label for the single row (purely cosmetic, but academically clearer).
last_close_wide.index = ["last_close"]

# This line converts the 1-row wide format into long format with columns 'ticker' and 'last_close'.
last_close_long = last_close_wide.reset_index(drop=True).melt(var_name="ticker", value_name="last_close")

# This line extracts the first 50 unique dates (chronologically) to satisfy the “keep first 50 dates” requirement.
first_50_dates = us_sorted2["date"].drop_duplicates().head(50)

# This line filters the dataset to keep only observations whose date is among the first 50 unique dates.
us_first50 = us_sorted2.loc[us_sorted2["date"].isin(first_50_dates)]

# This line pivots the filtered data into a wide table with dates as rows, tickers as columns, and close as values.
close_wide_50 = us_first50.pivot(index="date", columns="ticker", values="close").sort_index()

# This line displays the 1-row wide table of last closes.
last_close_wide

ticker            EEM         GLD        QQQ         SPY        TLT
last_close  52.599998  399.290009  599.63739  669.421936  87.459633

In [35]:
# This line displays the long-format version obtained via melt.
last_close_long

  ticker  last_close
0    EEM   52.599998
1    GLD  399.290009
2    QQQ  599.637390
3    SPY  669.421936
4    TLT   87.459633

In [36]:
# This line displays the wide pivot table for the first 50 dates.
close_wide_50

ticker            EEM         GLD         QQQ         SPY         TLT
date
2022-01-03  44.624966  168.330002  391.679474  451.875122  125.295341
2022-01-04  44.470772  169.570007  386.599182  451.723816  124.774353
2022-01-05  43.745163  169.059998  374.722382  443.049744  124.097122
2022-01-06  43.944710  166.990005  374.459106  442.633575  124.418381
2022-01-07  44.343796  167.750000  370.402679  440.883575  123.524017
2022-01-10  44.343796  168.259995  370.646484  440.334991  123.827965
2022-01-11  45.368721  170.289993  376.214325  444.345673  124.652809
2022-01-12  46.121532  170.740005  377.706329  445.546967  124.175270
2022-01-13  45.468487  170.160004  368.257507  439.407898  125.278023
2022-01-14  45.450348  169.669998  370.549042  439.587677  123.385101
2022-01-18  44.643112  169.389999  361.324524  431.802765  121.648514
2022-01-19  44.833584  172.080002  357.355835  427.319031  122.490776
2022-01-20  45.096619  171.649994  352.714355  422.589478  123.246162
2022-01-21  44.443558  171.089996  342.934052  414.293762  124.713577
2022-01-24  43.817734  172.029999  344.503937  416.053192  123.688988
2022-01-25  43.736092  172.580002  336.517914  410.973633  123.489288
2022-01-26  43.182812  169.789993  335.991333  409.942596  121.995804
2022-01-27  42.683964  167.600006  332.607666  407.918304  124.236008
2022-01-28  42.892570  167.100006  343.041351  418.049103  124.279465
2022-01-31  44.298443  168.089996  354.011200  425.578613  123.636833
2022-02-01  44.570541  168.229996  356.419739  428.454193  123.226517
2022-02-02  44.497982  168.839996  359.315765  432.616211  123.643929
2022-02-03  44.026337  168.600006  344.747711  422.447601  122.678680
2022-02-04  44.135178  168.860001  349.096741  424.434021  120.870110
2022-02-07  44.044479  170.110001  346.288391  423.071930  120.948402
2022-02-08  44.470772  170.630005  350.179108  426.552917  120.139725
2022-02-09  45.169170  171.210007  357.599579  432.795990  120.365837
2022-02-10  44.869862  170.559998  349.506287  425.020538  118.452904
2022-02-11  44.189602  173.809998  338.419373  416.639648  120.209328
2022-02-14  43.881218  174.740005  338.838623  415.277527  118.713791
2022-02-15  44.833584  173.080002  347.263489  421.974609  117.366020
2022-02-16  45.160099  174.860001  347.175720  422.447601  118.061646
2022-02-17  44.634037  177.250000  336.849396  413.423553  118.939857
2022-02-18  44.189602  177.119995  333.007507  410.746613  120.191940
2022-02-22  43.563759  177.490005  329.662903  406.338654  120.504974
2022-02-23  43.055836  178.289993  321.218445  399.130676  118.844193
2022-02-24  42.166969  177.139999  332.012848  405.137299  118.922440
2022-02-25  42.946995  176.550003  337.161469  414.076202  119.009438
2022-02-28  42.384647  178.380005  338.165833  413.016815  121.617912
2022-03-01  41.822296  181.619995  332.988007  406.726440  123.024055
2022-03-02  41.894863  179.729996  338.575317  414.208649  118.818756
2022-03-03  41.305305  180.800003  333.738861  412.146484  120.028946
2022-03-04  40.470852  183.679993  328.902283  408.797974  122.101143
2022-03-07  38.956150  186.410004  316.772003  396.746979  121.169502
2022-03-08  39.083126  191.509995  315.299652  393.738983  119.950600
2022-03-09  40.189678  185.820007  326.649841  404.295441  118.775246
2022-03-10  39.436859  186.399994  323.022369  402.469788  117.068726
2022-03-11  38.611477  185.089996  316.323486  397.352417  117.460510
2022-03-14  37.677258  182.300003  310.248627  394.448425  114.717903
2022-03-15  37.731678  178.889999  319.980042  403.122467  114.517715