In [3684]:
import pickle
import pandas as pd
import numpy as np

# 5. Functions and Class
In this class we will cover everything related to creating functions and clases in Python.

- <a href='##5.1.'>5.1. Functions</a>
     - <a href='##5.1.1.'>5.1.1. The Importance of Python Functions </a> 
     - <a href='##5.1.2.'>5.1.2. Basic structure of a function </a> 
     - <a href='##5.1.3.'>5.1.3. Function without `return` function </a> 
     - <a href='##5.1.5.'>5.1.5. Multiple objects for return </a> 
     - <a href='##5.1.5.'>5.1.5. If condition with return </a>
     - <a href='##5.1.6.'>5.1.6. Default values to parameters </a> 
     - <a href='##5.1.7.'>5.1.7. Specify the type of a parameter and the type of the return type of a function </a> 
     - <a href='##5.1.8.'>5.1.8. Local variables VS Global variables </a> 
     - <a href='##5.1.9.'>5.1.9. Args </a> 
     - <a href='##5.1.10.'>5.1.10. Kwargs </a> 
- <a href='##5.2.'>5.2. Class </a> 
     - <a href='##5.2.1.'>5.2.1. The Importance of Python Classes </a> 
     - <a href='##5.2.2.'> 5.2.2. Defining a class </a> 
     - <a href='##5.2.3.'> 5.2.3. Attributes </a> 
     - <a href='##5.2.5.'> 5.2.5. Method </a>
     - <a href='##5.2.6.'> 5.2.6. \_\_init\_\_() </a>
     - <a href='##5.2.7.'> 5.2.7. Self </a>
- <a href='##5.3.'>5.3. References </a>

##  <a id='#5.1.'>5.1. Functions</a>

### <a id = '#5.1.1.'> 5.1.1.The Importance of Python Functions </a>

- Abstraction and Reusability: Replicate the code you will use over and over again.
- Modularity: Functions allow complex processes to be broken up into smaller steps.
- Namespace Separation: It allows you to use variables  and used within a Python function even if they have the same name as variables defined in other functions or in the main program.

In [3685]:
# f(k, l)

### <a id='#5.1.2.'> 5.1.2. Basic structure of a function </a> 
A function requires **parameters**, **code** to execute and the **return** function. The **def** keyword introduces a new Python function definition.

This is the basic structure:
<br><br>

<font size="4">
def name_function<font color='green'>( parameter1, parameter2 )</font>: <br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;Code<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color='green'>return</font> final_output<br>
</font>

In [3686]:
import numpy as np

In [3687]:
def ols_regression(X, y):
    
    # Adding a column of ones to include intercept in the model
    X = np.column_stack((np.ones(len(X)), X))
    
    # Using the formula: coefficients = (X'X)^-1 X'y
    coefficients = np.linalg.inv(X.T @ X) @ X.T @ y
    
    return coefficients

In [3688]:
# Example usage
Z = np.array([[2, 2], [3, 5], [5, 8], [1, 10]])  
D = np.array([1, 2, 3, 4])

In [3689]:
ols_regression(Z, D)

array([ 0.38724728, -0.06765163,  0.36780715])

In [3690]:
def sum2(x, y, z, m):
    result = x + y + z + m
    return result

In [3691]:
sum2(x=100, y=592, z=157, m=1000)

1849

In [3692]:
def multiplication(x, y, z):
    result = x*y*z
    return result

In [3693]:
multiplication(8, 6, 2)

96

In [3694]:
def info_students(x, y, z):
    
    if z == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
    
    return print(name,",",  lastname)

In [3695]:
True==1

True

In [3696]:
names_1 = ["Alex", "Maria", "Raul", "Carlos"]
lastname_1 = ["carrion", "perez", "quispe", "rodriguez"]
sex_1 = [False, True, False, False]

In [3697]:
for index in range(0, len(names_1)):
    info_students(x=names_1[index], y=lastname_1[index], z=sex_1[index])

His name is Alex , His lastname is carrion
Her name is Maria , Her lastname is perez
His name is Raul , His lastname is quispe
His name is Carlos , His lastname is rodriguez

In [3698]:
for name, lastname, sex in zip(names_1, lastname_1, sex_1):
    info_students(name, lastname, sex)

His name is Alex , His lastname is carrion
Her name is Maria , Her lastname is perez
His name is Raul , His lastname is quispe
His name is Carlos , His lastname is rodriguez

In [3699]:
info_students(x= "Ana Lucia", y="del rio", z= True)

Her name is Ana Lucia , Her lastname is del rio

In [3700]:
info_students(x= "Gonzalo", y="ormeno", z= False)

His name is Gonzalo , His lastname is ormeno

In [3701]:
name = "Anzony"

In [3702]:
"Her name is {}".format(name)

'Her name is Anzony'

In [3703]:
info_students("Guillermo", "Coronado", False)

His name is Guillermo , His lastname is Coronado

In [3704]:
def calculator(x, y):
    
    if x < y:
        print("division out range")
        result = np.nan
    else: 
        result  = x/y
    
    return result

In [3705]:
calculator(4, 3)

1.3333333333333333

In [3706]:
def calculator( x, y, z ):
    
    result = x * y * z
    
    return result

In [3707]:
calculator( 158, 38, 10 )

60040

In [3708]:
calculator( 4, 7, 0)

0

In [3709]:
def calculator(a, b):
    return a + b

return1 = calculator(4, 7)
return1  # 11

11

### <a id='#5.1.3.'>5.1.3. Function without `return` function </a> 
When we define a function without the `return` function, the generated function does not return any output.

In [3710]:
x2 = 5
y2 = 10

In [3711]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    return result

In [3712]:
calculator_square( x2, y2 )

2500

In [3713]:
def calculator_square(x, y):
    return x**2, y**2   # squares each
# or: return (x+y)**2  # square of the sum

In [3714]:
return2 = calculator_square( 4, 7 )
return2

(16, 49)

In [3715]:
def info_students(x, y, z):
    
    if z == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
    
    return print(name,",",  lastname)
    #return lastname

In [3716]:
def info_students(x, y, z, s, e):
    
    if z == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        school = "Her school is {}".format(s)
        
        if e >= 18: 
            age = "She is an adult"
    
        else:
            age = "She is a kid"
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
        school = "His school is {}".format(s)
        
        if e >= 18: 
            age = "He is an adult"
    
        else:
            age = "He is a kid"

    #return print(name,",",  lastname)
    return name, lastname, school, age

In [3717]:
tupe_1 = (10, 20, "true", True)
tupe_1[1]

20

In [3718]:
info_students("Gabriela", "Narvaez", True , "CIFO", 17)

('Her name is Gabriela',
 'Her lastname is Narvaez',
 'Her school is CIFO',
 'She is a kid')

In [3719]:
name_student =  info_students("Gabriela", "Narvaez", True , "CIFO", 17)

In [3720]:
name_student

('Her name is Gabriela',
 'Her lastname is Narvaez',
 'Her school is CIFO',
 'She is a kid')

In [3721]:
name

'Anzony'

### <a id='#5.1.5.'>5.1.5. Multiple objects for return </a> 
The output of a function can have several objects. These objects are stored in a tuple by default.

In [3722]:
print(5)

5

In [3723]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    
    print(result, x2, y2)
    
    return result, x2, y2

In [3724]:
calculator_square(10, 4)

1600 100 16

(1600, 100, 16)

In [3725]:
result4 = calculator_square( 8, 9 )
result4

5184 64 81

(5184, 64, 81)

In [3726]:
type(result4)

tuple

In [3727]:
result4[2]

81

We can name the outputs in one line.

In [3728]:
output_1 = result4[0]
output_2 = result4[1]
output_3 = result4[2]

In [3729]:
output_2

64

In [3730]:
result5, x_2, y_2 = calculator_square( 8, 9 )

5184 64 81

### <a id='#5.1.5.'>5.1.5. If condition with return </a>

In [3731]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    
    if ( 200 >= result ):
        return result, x2, y2
    
    elif ( 500 >= result > 200 ):
        print( "Large number. Get only the result variable")
        return result
    
    else:
        print( "Too large number. Do not return variables!")

In [3732]:
calculator_square( 2, 10 )

Large number. Get only the result variable

400

In [3733]:
calculator_square( 8, 2 )

Large number. Get only the result variable

256

In [3734]:
calculator_square( 8, 10 )

Too large number. Do not return variables!

### <a id='#5.1.6.'>5.1.6. Default values to parameters </a> 
We can define default values to parameters.

In [3735]:
def calculator(x, y):
    result = x*y
    return result

In [3736]:
calculator(15, 20)

300

In [3737]:
def calculator_base_20(x, y=20):
    result = x*y
    return result

In [3738]:
calculator_base_20( x=15 )

300

In [3739]:
def calculator_base_10(x, y = 10):
    result = x*y
    return result

In [3740]:
calculator_base_10(15, y = 9)

135

In [3741]:
def calculator_base_5( x , y = 5 ):
    
    result = x * y
    
    return result

In [3742]:
def calculator_base_5(x: int) -> str:
    if not isinstance(x, int):
        raise TypeError("x must be an integer")
    if x == 0:
        return "0"
    neg = x < 0
    x = abs(x)
    digits = []
    while x > 0:
        x, r = divmod(x, 5)
        digits.append(str(r))
    s = "".join(reversed(digits))
    return "-" + s if neg else s

# example:
# calculator_base_5(42) -> "132"

In [3743]:
result3 = calculator_base_5( 7 )
result3

'12'

In [3744]:
def info_students(x, y, s, e, sex=True):
    
    if sex == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        school = "Her school is {}".format(s)
        
        if e >= 18: 
            age = "She is an adult"
    
        else:
            age = "She is a kid"
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
        school = "His school is {}".format(s)
        
        if e >= 18: 
            age = "He is an adult"
    
        else:
            age = "He is a kid"

    #return print(name,",",  lastname)
    return name, lastname, school, age

In [3745]:
info_students("Cristhian", "Alfaro","CIFO", 17)

('Her name is Cristhian',
 'Her lastname is Alfaro',
 'Her school is CIFO',
 'She is a kid')

### <a id='#5.1.7.'>5.1.7. Specify the type of a parameter and the type of the return type of a function </a> 

It is important to note that Python won't raise a TypeError if you pass a float into x, the reason for this is one of the main points in Python's design philosophy: "We're all consenting adults here", which means you are expected to be aware of what you can pass to a function and what you can't. If you really want to write code that throws TypeErrors you can use the isinstance function to check that the passed argument is of the proper type or a subclass of it like this:

In [3746]:
def calculator_base_10( x:int, y:float ) -> float:
    result = x*y
    return result

In [3747]:
calculator_base_10(4, 4.5)

18.0

In [3748]:
calculator_base_10( 4.5, 4 )

18.0

In [3749]:
def calculator_base_5( x : int, y : float ) -> float:
    
    result = x * y
    
    return result

In [3750]:
x2**2      # square
x2**0.5    # square root

2.23606797749979

In [3751]:
calculator_base_5( 10.0, 15 )

150.0

In [3752]:
def calculator_base_5( x : int, y : float , z:list, ) -> float:
    
    if not isinstance( x , int ):
        raise TypeError( "X variable is not int type.")
        
    if not isinstance( y, float ):
        raise TypeError( "Y variable is not float type.")
    
    if not isinstance( z, list ):
        raise TypeError( "Y variable is not list type.")

    result = x * y
    
    
    return result

In [3753]:
calculator_base_5(3, 5.8, [1, 2])

17.4

In [3754]:
calculator_base_5(4, 3.0, [])

12.0

In [3755]:
calculator_base_5(4, 3.0, [0])

12.0

In [3756]:
calculator_base_5(4, 3.8, ['ok'])

15.2

### <a id='#5.1.8.'>5.1.8. Local variables VS Global variables </a> 

|Variables|Definition|
|---|---|
|Global Variables| Variables declared outside a function.|
|Local Variables | Variables declared inside a function.|

The parameters and the variables created inside a function are local variables. They take values when the function is executed; however, they do not exist outside the function since they belong to a different namespace. A namespace is a system that has a unique name for every object in Python. When a Python function is called, a new namespace is created for that function, one that is distinct from all other namespaces that already exist. That is the reason we can use various functions with parameters and variables with the same name. Additionally, it explains why the variables generated inside a function do not exist outside the defined function namespace.

#### Example

In [3757]:
pwd

'c:\\Users\\Usuario\\Documents\\GitHub\\Python-for-Finance\\Lectures'

In [3758]:
# %run "function_1.ipynb"

In [3759]:
def lower_case( string1  ):
    
    str_result = string1.lower()
    
    return str_result

In [3760]:
lower_case( "ADRIANA")

'adriana'

In [3761]:
try:
    str_result
except NameError:
    print("str_result is a local variable inside lower_case(), so it is not available here.")

str_result is a local variable inside lower_case(), so it is not available here.

In [3762]:
result2 = lower_case( "DIPLOMA")
result2

'diploma'

Now, we try to call the variable `str_result`.

In [3763]:
try:
    str_result
except NameError:
    print("str_result is a local variable inside lower_case(), so it is not available here.")

str_result is a local variable inside lower_case(), so it is not available here.

We can see that `str_result` is not defined. It does not exist in the main space. It was defined in the namespace of **lower_case**. In concluion, `str_result` is a local variable. <br>
`result2` is a global variable.

### <a id='#5.1.9.'>5.1.9. Args </a> 

The special syntax **\*args** in function definitions in python is used to pass a variable number of arguments to a function. The object **\*args** is a **tuple** that contains all the arguments. When you build your code, you should consider **\*args** as a **tuple**.

In [3764]:
def calculator( *args ):
    
    print( f"args is a {type( args )}" )
    # Get the first value
    result = args[ 0 ]
    
    # Keep the rest of values
    args1 = args[ 1: ]
    
    # multiply all elements
    for element in args1:
        result = result * element
    
    return result

In this example, the values `8, 9, 50 and 40` are storing in a list.

In [3765]:
calculator( 8, 9, 50, 40, 10, 17 )

args is a <class 'tuple'>

24480000

We can use **\*args** with a different name (e.g., **\*list_vars** ). We should keep the asterisk (**\***).

In [3766]:
def calculator( *list_vars ):
    
    print( f"args is a { type( list_vars ) }" )
    # Get the first value
    result = list_vars[ 0 ]
    
    # Keep the rest of values
    list_vars1 = list_vars[ 1: ]
    
    # multiply all elements
    for element in list_vars1:
        result = result * element
    
    return result

In [3767]:
calculator( 8, 9, 50, 40, 23, 20, 12 )

args is a <class 'tuple'>

794880000

### <a id='#5.1.10.'>5.1.10. Kwargs </a> 

The special syntax **\*kwargs** in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (and any number of them).

In [3768]:
def calculator(*values, function="multiplication"):
    """Calculator using *args and a 'function' option.

    Supported values for 'function':
      - 'multiplication' (default)
      - 'addition'
      - 'division'
      - 'power'  (requires exactly 2 args: base, exponent)
    """
    if len(values) == 0:
        raise ValueError("At least one numeric value is required.")

    if function == "multiplication":
        result = 1
        for v in values:
            result *= v
        return result

    if function == "addition":
        return sum(values)

    if function == "division":
        result = values[0]
        for v in values[1:]:
            result /= v
        return result

    if function in ("power", "potencia"):
        if len(values) != 2:
            raise ValueError("Power requires exactly 2 arguments: base, exponent.")
        return values[0] ** values[1]

    raise ValueError(
        f"Unsupported function={function!r}. Use 'addition', 'division', 'multiplication', or 'power'."
    )

In [3769]:
calculator( 4, 5, 6, 7, 8, function = "addition" )

30

In [3770]:
calculator( 4, 5, 6, 7, 8, function = "division" )

0.0023809523809523807

## Excersise
#### Importing a Dictionary

The `places_result` dictionary stores information from a Google API request that aims to geolocate all the National Identity Management Commission establishments in Nigeria. We want to store the results in a Pandas DataFrame. We want to keep the name of the establishment and its coordiantes.

In [3771]:
import pickle
from pathlib import Path

data_dir = Path(r"C:\Users\Usuario\Documents\GitHub\Python-for-Finance\Lectures\_data")

In [3772]:
# It is a dictionary
type( places_result )

dict

In [3773]:
# See all the establishments

i = 0
while True:
    try:
        i = i + 1
        print( places_result['results'][i]['name'] )
    except:
        break

National Identity Management Commission (Nimc)
National Identity Management Commission NIMC
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission (Nimc)
National Identity Management Center
National Identity Management Commision (NIMC) Lagos
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission Umuahia
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission, Northwest Zonal Office
National Identity Management Commission Nimc

In [3774]:
# We want to iterate over all the results to get the location of every point
places_result['results'][0]['geometry']['location']

{'lat': 9.065977, 'lng': 7.4549606}

`places_result` is a nested dictionary. It is composed of a list, dictionary, and a dictionary.

First, we are going to do it using a for loop. We are not going to use a function. After we get our expected results, we will define a function.

##### We can do it lists

In [3775]:
from tqdm import tqdm

In [3776]:
# Lists
latitudes = []
longitudes = []
institutions = []


# define all the results
results = places_result[ 'results' ]
# loop para guardar cada uno de los elementos
for row in tqdm( range( 0 , len( results ) ) ):
    
    # latitude
    lat = results[ row ]['geometry']['location']['lat']
    
    # Longitude
    lng = results[ row ]['geometry']['location']['lng']
    
    # nombre de la institution
    institution = results[ row ]['name']
    
    # Save results
    latitudes.append( lat )
    longitudes.append( lng )
    institutions.append( institution )
    
# Diccionario
final_result = { 'Institution': institutions, 'Latitud' : latitudes, 'Longitud' : longitudes }
# Dataframe
df_result = pd.DataFrame( final_result )
df_result

100%|██████████| 20/20 [00:00<?, ?it/s]

                                          Institution    Latitud  Longitud
0             National Identity Management Commission   9.065977  7.454961
1      National Identity Management Commission (Nimc)   8.450151  4.542503
2        National Identity Management Commission NIMC   8.505730  8.531775
3             National Identity Management Commission   9.058854  7.468078
4      National Identity Management Commission (Nimc)   9.895973  8.931434
5             National Identity Management Commission   9.892295  8.917566
6             National Identity Management Commission   9.857233  7.967972
7      National Identity Management Commission (Nimc)   7.711656  8.526523
8             National Identity Management Commission  11.989994  8.489165
9      National Identity Management Commission (Nimc)  10.310332  9.826602
10     National Identity Management Commission (Nimc)  10.592473  7.449456
11                National Identity Management Center   5.471781  7.008344
12  National Identity Management Commision (NIMC) ...   6.617086  3.357951
13            National Identity Management Commission   6.460106  7.579009
14     National Identity Management Commission (Nimc)   9.076770  7.493777
15    National Identity Management Commission Umuahia   5.502502  7.517956
16            National Identity Management Commission   4.822006  7.007972
17     National Identity Management Commission (Nimc)  11.988203  8.496804
18  National Identity Management Commission, North...  10.543617  7.460988
19       National Identity Management Commission Nimc   4.849608  7.052736

##### We can do it using iteration over rows of a DataFrame

In [3777]:
df2 = pd.DataFrame( columns = ['Institution','Latitude','Longitud'] )

results = places_result['results']

for fila in tqdm(range( 0 , len( results ) )):
    
    df2.loc[fila] = [results[ fila ]['name'], \
                       results[ fila ]['geometry']['location']['lat'], \
                       results[ fila ]['geometry']['location']['lng']]
    
df2

100%|██████████| 20/20 [00:00<00:00, 944.35it/s]

                                          Institution   Latitude  Longitud
0             National Identity Management Commission   9.065977  7.454961
1      National Identity Management Commission (Nimc)   8.450151  4.542503
2        National Identity Management Commission NIMC   8.505730  8.531775
3             National Identity Management Commission   9.058854  7.468078
4      National Identity Management Commission (Nimc)   9.895973  8.931434
5             National Identity Management Commission   9.892295  8.917566
6             National Identity Management Commission   9.857233  7.967972
7      National Identity Management Commission (Nimc)   7.711656  8.526523
8             National Identity Management Commission  11.989994  8.489165
9      National Identity Management Commission (Nimc)  10.310332  9.826602
10     National Identity Management Commission (Nimc)  10.592473  7.449456
11                National Identity Management Center   5.471781  7.008344
12  National Identity Management Commision (NIMC) ...   6.617086  3.357951
13            National Identity Management Commission   6.460106  7.579009
14     National Identity Management Commission (Nimc)   9.076770  7.493777
15    National Identity Management Commission Umuahia   5.502502  7.517956
16            National Identity Management Commission   4.822006  7.007972
17     National Identity Management Commission (Nimc)  11.988203  8.496804
18  National Identity Management Commission, North...  10.543617  7.460988
19       National Identity Management Commission Nimc   4.849608  7.052736

In [3778]:
def dict_output( dictionary , output = 'tuples'):
    
    # key results
    results = dictionary['results']
    
    # Lists
    latitudes = []
    longitudes = []
    inst = []
    
    # iterate over values and store in lists
    # we are going to use lists apporach
    for fila in range( 0 , len( results ) ):
        # latitude
        lat = results[ fila ]['geometry']['location']['lat']

        # Longitude
        lng = results[ fila ]['geometry']['location']['lng']

        # nombre de la institucion
        institucion = results[ fila ]['name']

        # Save results
        latitudes.append( lat )
        longitudes.append( lng )
        inst.append( institucion )
    
    # Store all values in 
    # dictionary
    results_dict = { 'Instituciones': institutions, 'Latitud' : latitudes, 'Longitud' : longitudes }
    
    # pandas
    results_pd = pd.DataFrame( results_dict )
    
    # tuple
    results_tuple = ( latitudes , longitudes , inst )
    
    # We can use return with if condition
    if output == 'dataframe':
        return results_pd
    
    elif output == 'dictionary':
        return results_dict
    
    elif output == 'tuple':
        return results_tuple
    
    else:
        raise Exception( f'''The output value ({output}) is wrong. \nYou can only use `tuple`, `dataframe`, or `dictionary` as argument variables.''' )

In [3779]:
dict_output( places_result, output = "tuple" )

([9.065977,
  8.450151,
  8.50573,
  9.058854499999999,
  9.895973,
  9.892294699999999,
  9.8572331,
  7.711655800000001,
  11.9899944,
  10.310332,
  10.592473,
  5.4717813,
  6.617086,
  6.460105899999999,
  9.07677,
  5.5025021,
  4.822006,
  11.988203,
  10.5436173,
  4.8496083],
 [7.4549606,
  4.542503,
  8.531774799999999,
  7.468077600000001,
  8.931434,
  8.9175658,
  7.967971899999998,
  8.5265235,
  8.4891647,
  9.826602,
  7.449456,
  7.0083439,
  3.357951,
  7.579008999999999,
  7.493777,
  7.517955600000001,
  7.0079724,
  8.496804,
  7.4609879,
  7.0527365],
 ['National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission NIMC',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Center',
  'National Identity Management Commision (NIMC) Lagos',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission Umuahia',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission, Northwest Zonal Office',
  'National Identity Management Commission Nimc'])

In [3780]:
dict_output( places_result, output = "dataframe" )

                                        Instituciones    Latitud  Longitud
0             National Identity Management Commission   9.065977  7.454961
1      National Identity Management Commission (Nimc)   8.450151  4.542503
2        National Identity Management Commission NIMC   8.505730  8.531775
3             National Identity Management Commission   9.058854  7.468078
4      National Identity Management Commission (Nimc)   9.895973  8.931434
5             National Identity Management Commission   9.892295  8.917566
6             National Identity Management Commission   9.857233  7.967972
7      National Identity Management Commission (Nimc)   7.711656  8.526523
8             National Identity Management Commission  11.989994  8.489165
9      National Identity Management Commission (Nimc)  10.310332  9.826602
10     National Identity Management Commission (Nimc)  10.592473  7.449456
11                National Identity Management Center   5.471781  7.008344
12  National Identity Management Commision (NIMC) ...   6.617086  3.357951
13            National Identity Management Commission   6.460106  7.579009
14     National Identity Management Commission (Nimc)   9.076770  7.493777
15    National Identity Management Commission Umuahia   5.502502  7.517956
16            National Identity Management Commission   4.822006  7.007972
17     National Identity Management Commission (Nimc)  11.988203  8.496804
18  National Identity Management Commission, North...  10.543617  7.460988
19       National Identity Management Commission Nimc   4.849608  7.052736

In [3781]:
dict_output( places_result, output = "dictionary" )

{'Instituciones': ['National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission NIMC',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Center',
  'National Identity Management Commision (NIMC) Lagos',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission Umuahia',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission, Northwest Zonal Office',
  'National Identity Management Commission Nimc'],
 'Latitud': [9.065977,
  8.450151,
  8.50573,
  9.058854499999999,
  9.895973,
  9.892294699999999,
  9.8572331,
  7.711655800000001,
  11.9899944,
  10.310332,
  10.592473,
  5.4717813,
  6.617086,
  6.460105899999999,
  9.07677,
  5.5025021,
  4.822006,
  11.988203,
  10.5436173,
  4.8496083],
 'Longitud': [7.4549606,
  4.542503,
  8.531774799999999,
  7.468077600000001,
  8.931434,
  8.9175658,
  7.967971899999998,
  8.5265235,
  8.4891647,
  9.826602,
  7.449456,
  7.0083439,
  3.357951,
  7.579008999999999,
  7.493777,
  7.517955600000001,
  7.0079724,
  8.496804,
  7.4609879,
  7.0527365]}

In [3782]:
def dict_output(d, output="list", sort_keys=False):
    """
    Devuelve distintos 'outputs' de un diccionario.

    output:
      - "list"   -> lista de (clave, valor)
      - "keys"   -> lista de claves
      - "values" -> lista de valores
      - "dict"   -> devuelve el diccionario tal cual
    """
    if not isinstance(d, dict):
        raise TypeError("dict_output: el primer argumento debe ser un diccionario (dict).")

    items = d.items()
    if sort_keys:
        items = sorted(items, key=lambda kv: str(kv[0]))

    if output == "list":
        return list(items)
    elif output == "keys":
        return list(d.keys())
    elif output == "values":
        return list(d.values())
    elif output == "dict":
        return d
    else:
        raise ValueError('output debe ser: "list", "keys", "values" o "dict".')

In [3783]:
dict_output( places_result, output = "list" )

[('html_attributions', []),
 ('next_page_token',
  'ATtYBwKsD44ikACuYIFZLubOdNIIWdAIxXy2OhBzJTfRccBDi0tPVL21H_G01zNM2JNUW9lQjrZACwKOIBlBJiMiHlciuUHx9S_Lv_8NiqR44zMKpT2v35l5zRxfsWFRLRILmSE69E4Oi-enZno9SqdzesrETnUPG2H9li8dBB-UKlMrsu0ClIZuA-5oahPJguyXEumxLl1L6gsS0uDkwLKFO5-YOu9Ito9IOHGBk0_5kZKy8t4r7KUanPeDBoIUGyf45_t50jTiniQHSWM0P9YuY0WbaYQJseCGhdofaSm5VJ7pSrwSkXnSOT8Z8LEFdzuWNuV50Ito1IznXcitssNmhisSaGnnPoP4DvQFKQDdoUeh6ceGL2Z2hVfVDBfg8ibsHneuG8u06BlaynyfIWWxoeEkSmD29TSFZlI0Oi_WS-gx5qxL9fP5dIr21qJ2dLveDdks7nXW7Q'),
 ('results',
  [{'business_status': 'OPERATIONAL',
    'formatted_address': '11 Sokode Crescent, Off Dalaba Street Zone 5, Wuse P. M. B, 18, Garki, Abuja',
    'geometry': {'location': {'lat': 9.065977, 'lng': 7.4549606},
     'viewport': {'northeast': {'lat': 9.067332429892723,
       'lng': 7.456282779892721},
      'southwest': {'lat': 9.064632770107277, 'lng': 7.453583120107277}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 1080,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110095172826797559117">Fortune Arinze</a>'],
      'photo_reference': 'ATtYBwJFIQDlN6k8vyZj110cimVvh4nTXv6EvKXdKFxADlM0hGQZiEYQQ9AoUou0ELBb7mfwaR21gXSXNCCqJUDRpFuRw1fRyZKx-Gnad4uNRcPpbYQJc02zsQ_bJ6ks3sSRbDpVjgPU9Azs6m94LCZ-dxNwc1DifQgFsuTpCMkbafcJpRe5',
      'width': 1920}],
    'place_id': 'ChIJwRTVOSELThARczd6MyuWUbs',
    'plus_code': {'compound_code': '3F83+9X Abuja',
     'global_code': '6FX93F83+9X'},
    'rating': 3.8,
    'reference': 'ChIJwRTVOSELThARczd6MyuWUbs',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 315},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Asa-Dam Rd, opp. Dangote Flour Mills, Ilorin',
    'geometry': {'location': {'lat': 8.450151, 'lng': 4.542503},
     'viewport': {'northeast': {'lat': 8.451072679892722,
       'lng': 4.543705329892721},
      'southwest': {'lat': 8.448373020107278, 'lng': 4.541005670107277}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission (Nimc)',
    'opening_hours': {'open_now': True},
    'place_id': 'ChIJEZsSsTetNxAR1dg3wSeUrCA',
    'plus_code': {'compound_code': 'FG2V+32 Ilorin',
     'global_code': '6FW6FG2V+32'},
    'rating': 4,
    'reference': 'ChIJEZsSsTetNxAR1dg3wSeUrCA',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 26},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Lafia - Shandam Rd, Lafia',
    'geometry': {'location': {'lat': 8.50573, 'lng': 8.531774799999999},
     'viewport': {'northeast': {'lat': 8.506788579892724,
       'lng': 8.53327222989272},
      'southwest': {'lat': 8.50408892010728, 'lng': 8.530572570107276}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
    'name': 'National Identity Management Commission NIMC',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 1836,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104393542635093633733">Masoyi Sanda</a>'],
      'photo_reference': 'ATtYBwIfl7p_JCu_jTChsILGMNbdgW3LQJuzc3Q7AfKpS5TPVBbPc-hfIgCELQ128gU04umfKKZ7g8lW2iW5E-u-9dRmQZosYrIG33d3Y8H836p5zuB0bwF8w4njWDK7qxOWJd4UHCDryfIF2VS000TcSy2TBJMRkPwoTBBRRhS7QWbshUQ',
      'width': 3264}],
    'place_id': 'ChIJt-5bYuEGURARJyb82LfQ97A',
    'plus_code': {'compound_code': 'GG4J+7P Lafia',
     'global_code': '6FWCGG4J+7P'},
    'rating': 3.7,
    'reference': 'ChIJt-5bYuEGURARJyb82LfQ97A',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 3},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'zone 3, No 4 Maputo St, Wuse, Abuja',
    'geometry': {'location': {'lat': 9.058854499999999,
      'lng': 7.468077600000001},
     'viewport': {'northeast': {'lat': 9.06035997989272,
       'lng': 7.469236379892722},
      'southwest': {'lat': 9.057660320107276, 'lng': 7.466536720107278}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 2448,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100674673329877445887">Jacks Elsa</a>'],
      'photo_reference': 'ATtYBwJij2wOhrLJpbBNK9QrYoS8c2M1gOhx6yyoyQAMdOjLE9k0fS0Xvj7m_eNItu7AZ9yDeueNi6ma_BDvrHD6VGAnr7emPLl8hkFcvUWSFRL243BlQCkya5HV8G7ZSf3aGarHAzIVL__ifn-KdGiV5zPx-92EUP71EPNqqsjPXQzd_tHd',
      'width': 3264}],
    'place_id': 'ChIJbZxZhq4LThARg41HgXp5W2w',
    'plus_code': {'compound_code': '3F59+G6 Abuja',
     'global_code': '6FX93F59+G6'},
    'rating': 3.3,
    'reference': 'ChIJbZxZhq4LThARg41HgXp5W2w',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 25},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Lamingo Dam Road Plateau',
    'geometry': {'location': {'lat': 9.895973, 'lng': 8.931434},
     'viewport': {'northeast': {'lat': 9.8984195, 'lng': 8.9328039},
      'southwest': {'lat': 9.895157499999998, 'lng': 8.927324300000002}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission (Nimc)',
    'opening_hours': {'open_now': True},
    'place_id': 'ChIJUxzO3-lxUxARdZDox6KE6UQ',
    'plus_code': {'compound_code': 'VWWJ+9H Jos',
     'global_code': '6FXCVWWJ+9H'},
    'rating': 0,
    'reference': 'ChIJUxzO3-lxUxARdZDox6KE6UQ',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 0},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Jos',
    'geometry': {'location': {'lat': 9.892294699999999, 'lng': 8.9175658},
     'viewport': {'northeast': {'lat': 9.893702729892722,
       'lng': 8.91888807989272},
      'southwest': {'lat': 9.891003070107278, 'lng': 8.916188420107277}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 1080,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116242405272440066619">Aliyu zainul abideen</a>'],
      'photo_reference': 'ATtYBwIVUHiKOQDgxTQ2QmmZ_crlMVoZyVuM2D-V0WrjXUjVprk8lQyJofvO8zkIeiSQeRmY4XaSNG3nGlBW8KWzjQC-l0Ik4z3jfQvUT7OzutQnQbGs8FSfdBnJ9o7HAL4mS0TaCYLkOVf1uKrWsFcY9vpJhKTXR2ohgI_m0y8svTcw3lYx',
      'width': 1920}],
    'place_id': 'ChIJFWiUH-dzUxAR55hi-MYXLwg',
    'plus_code': {'compound_code': 'VWR9+W2 Jos',
     'global_code': '6FXCVWR9+W2'},
    'rating': 3.3,
    'reference': 'ChIJFWiUH-dzUxAR55hi-MYXLwg',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 7},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Kachia',
    'geometry': {'location': {'lat': 9.8572331, 'lng': 7.967971899999998},
     'viewport': {'northeast': {'lat': 9.858620379892722,
       'lng': 7.969346929892722},
      'southwest': {'lat': 9.855920720107278, 'lng': 7.966647270107278}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
    'name': 'National Identity Management Commission',
    'place_id': 'ChIJ80U4ZjyJUhARGk5bZlIeNzY',
    'plus_code': {'compound_code': 'VX49+V5 Kachia',
     'global_code': '6FX9VX49+V5'},
    'rating': 0,
    'reference': 'ChIJ80U4ZjyJUhARGk5bZlIeNzY',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 0},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Jonah Jang Cres, High Level, Makurdi',
    'geometry': {'location': {'lat': 7.711655800000001, 'lng': 8.5265235},
     'viewport': {'northeast': {'lat': 7.712382379892722,
       'lng': 8.528209429892721},
      'southwest': {'lat': 7.709682720107278, 'lng': 8.525509770107277}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission (Nimc)',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 1080,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104445494535423861947">Slim Meyo</a>'],
      'photo_reference': 'ATtYBwJeXnhqPGD9TZqZXgeKUGXdPoGolp_Cu5C7NVQypLuEP1DRjiGRAvJO6jALOvxLAAaWj0PloMHJ8QGhqjztdbsZt_ijY5SVH41GR_HJUdEkop-AVwk63zn7YYui23ChGgKAG6MlEZEDfxGC0YYaCcNvd53mjClysLjlyRx5RxWrbZlq',
      'width': 1920}],
    'place_id': 'ChIJ51B2sMGBUBARDKibZrme9gU',
    'plus_code': {'compound_code': 'PG6G+MJ Makurdi',
     'global_code': '6FVCPG6G+MJ'},
    'rating': 3.2,
    'reference': 'ChIJ51B2sMGBUBARDKibZrme9gU',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 38},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Kofar Kabuga, Kano',
    'geometry': {'location': {'lat': 11.9899944, 'lng': 8.4891647},
     'viewport': {'northeast': {'lat': 11.99139672989272,
       'lng': 8.490334129892721},
      'southwest': {'lat': 11.98869707010728, 'lng': 8.487634470107277}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
    'name': 'National Identity Management Commission',
    'opening_hours': {'open_now': True},
    'place_id': 'ChIJE0nEt4CArhERRs1UvLzYZjY',
    'plus_code': {'compound_code': 'XFQQ+XM Kano',
     'global_code': '7F3CXFQQ+XM'},
    'rating': 4.4,
    'reference': 'ChIJE0nEt4CArhERRs1UvLzYZjY',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 12},
   {'business_status': 'OPERATIONAL',
    'formatted_address': '3 Abdulkadir ahmed Close (P.M.B 0281, Bauchi',
    'geometry': {'location': {'lat': 10.310332, 'lng': 9.826602},
     'viewport': {'northeast': {'lat': 10.31170367989272,
       'lng': 9.827927879892721},
      'southwest': {'lat': 10.30900402010728, 'lng': 9.825228220107277}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission (Nimc)',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 1920,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102114576626040120313">Mohammed Zahradeen Umar</a>'],
      'photo_reference': 'ATtYBwJSbmIRViRXZKeV_TQ_B8hu_iBqeRs-Txj6v8U4OVWunuAQW6OIL1wqGTyW2n-vaZzhefImR-reLsLUpoR1Br6moOH0-RRHJE8JkniAiseTu3eMCmiDFQPI4rZpw_hdE2j26EdcuYTI7ZRBvoM4R5mvwhVsQkOc8epLe1-r_8wzrv0o',
      'width': 1088}],
    'place_id': 'ChIJ4X2l_AXXVBAR7v-eH-d9h3E',
    'plus_code': {'compound_code': '8R6G+4J Bauchi',
     'global_code': '7F2F8R6G+4J'},
    'rating': 0,
    'reference': 'ChIJ4X2l_AXXVBAR7v-eH-d9h3E',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 0},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Complex, Federal Secretariat, Kawo, Kaduna',
    'geometry': {'location': {'lat': 10.592473, 'lng': 7.449456},
     'viewport': {'northeast': {'lat': 10.59382137989272,
       'lng': 7.450810429892722},
      'southwest': {'lat': 10.59112172010728, 'lng': 7.448110770107278}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission (Nimc)',
    'opening_hours': {'open_now': True},
    'place_id': 'ChIJyZiAR9q1shERK9gFL9AG44I',
    'plus_code': {'compound_code': 'HCRX+XQ Kaduna',
     'global_code': '7F29HCRX+XQ'},
    'rating': 0,
    'reference': 'ChIJyZiAR9q1shERK9gFL9AG44I',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 0},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Port-Hacourt Rd, New Owerri, Owerri',
    'geometry': {'location': {'lat': 5.4717813, 'lng': 7.0083439},
     'viewport': {'northeast': {'lat': 5.473014629892722,
       'lng': 7.009477279892723},
      'southwest': {'lat': 5.470314970107278, 'lng': 7.006777620107279}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
    'name': 'National Identity Management Center',
    'opening_hours': {'open_now': True},
    'place_id': 'ChIJ8-OsvX1ZQhARaNsdHakfc98',
    'plus_code': {'compound_code': 'F2C5+P8 Owerri',
     'global_code': '6FQ9F2C5+P8'},
    'rating': 2.8,
    'reference': 'ChIJ8-OsvX1ZQhARaNsdHakfc98',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 13},
   {'business_status': 'OPERATIONAL',
    'formatted_address': '9 Obafemi Awolowo Way, Agidingbi, Ikeja',
    'geometry': {'location': {'lat': 6.617086, 'lng': 3.357951},
     'viewport': {'northeast': {'lat': 6.618298179892721,
       'lng': 3.359587779892722},
      'southwest': {'lat': 6.615598520107278, 'lng': 3.356888120107278}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
    'name': 'National Identity Management Commision (NIMC) Lagos',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 2836,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109021919043392669000">Austin Chikwado Ofor</a>'],
      'photo_reference': 'ATtYBwJBYZRHB7Qj5YQDHr7rtjw12kk6AEskj93CwDUdXYqbS_0gESwvsXrpOkt7z3jzIK5Sw841TjE-O3yi8koHIKbZME-AfPJAeUmcfVqWWt1aiw8MJNUSYqgbHU3ziJIrQTDG-mCfnJp16lfM7xWdBG7j604k6bQNuGnALPHNxv5F8C5h',
      'width': 2358}],
    'place_id': 'ChIJD34txsmTOxAR5AEgvWczmGI',
    'plus_code': {'compound_code': 'J985+R5 Ikeja',
     'global_code': '6FR5J985+R5'},
    'rating': 3.4,
    'reference': 'ChIJD34txsmTOxAR5AEgvWczmGI',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 53},
   {'business_status': 'OPERATIONAL',
    'formatted_address': '1 Proda Road,Proda Junction, Emene industrial Layout',
    'geometry': {'location': {'lat': 6.460105899999999,
      'lng': 7.579008999999999},
     'viewport': {'northeast': {'lat': 6.461432879892723,
       'lng': 7.580321279892722},
      'southwest': {'lat': 6.458733220107279, 'lng': 7.577621620107278}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission',
    'opening_hours': {'open_now': True},
    'photos': [{'height': 2048,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116030890989805302110">onyi okeke</a>'],
      'photo_reference': 'ATtYBwIQUn0GG77i135FPRC0LGHgjfXP9ylGJphR8-yenVgqZhOfVR479bgelIBxyLXH_bjcyqDZjH9MUj81-y3gScJCuRLzDLjHM-JzsVzRQusuT-_xOfMR2zuuIH50iYASvlPUl0sFqg2kn15k0QcxJNJAlkrSFxCMLULyY71nuTMMgJyU',
      'width': 1152}],
    'place_id': 'ChIJ87i9KbilRBARjzOeBDbKx-c',
    'plus_code': {'compound_code': 'FH6H+2J Enugu',
     'global_code': '6FR9FH6H+2J'},
    'rating': 4,
    'reference': 'ChIJ87i9KbilRBARjzOeBDbKx-c',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 26},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'ITF House, 6, 3rd Floor, Adetokunbo Ademola Cres, Wuse 2, Abuja',
    'geometry': {'location': {'lat': 9.07677, 'lng': 7.493777},
     'viewport': {'northeast': {'lat': 9.078071879892722,
       'lng': 7.495215229892723},
      'southwest': {'lat': 9.075372220107278, 'lng': 7.492515570107279}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission (Nimc)',
    'opening_hours': {'open_now': True},
    'place_id': 'ChIJu0OOSjELThAR4d7V7h1GgD4',
    'plus_code': {'compound_code': '3FGV+PG Abuja',
     'global_code': '6FX93FGV+PG'},
    'rating': 3,
    'reference': 'ChIJu0OOSjELThAR4d7V7h1GgD4',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 1},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Ndume bypass, Ndume',
    'geometry': {'location': {'lat': 5.5025021, 'lng': 7.517955600000001},
     'viewport': {'northeast': {'lat': 5.503745479892721,
       'lng': 7.519157379892723},
      'southwest': {'lat': 5.501045820107277, 'lng': 7.51645772010728}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
    'name': 'National Identity Management Commission Umuahia',
    'opening_hours': {'open_now': True},
    'place_id': 'ChIJyTS2v4zDQhARJtViYuKIT54',
    'plus_code': {'compound_code': 'GG39+25 Ndume',
     'global_code': '6FQ9GG39+25'},
    'rating': 3.7,
    'reference': 'ChIJyTS2v4zDQhARJtViYuKIT54',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 3},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Umueme, Port Harcourt',
    'geometry': {'location': {'lat': 4.822006, 'lng': 7.0079724},
     'viewport': {'northeast': {'lat': 4.823459929892723,
       'lng': 7.009288279892722},
      'southwest': {'lat': 4.820760270107279, 'lng': 7.006588620107278}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
    'name': 'National Identity Management Commission',
    'opening_hours': {},
    'photos': [{'height': 4608,
      'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105954586937635012132">Eleje Chinwendu</a>'],
      'photo_reference': 'ATtYBwIOfuc-0u9WGiezikS3NFNDwPONZ7VIZbCY1KT1bcnqG6ff0LCNGAe2UrFiBhhCzeeUB-qOZwrrJJz6UIZT1W7584e7Wm7M3hK-gAjHGQLMGQqmA37a1m43NF42cD9shp5u04UgOEL4nDb2sam_D6ct5Nr8OPnfR3yRKc4NRA3LgkwD',
      'width': 2240}],
    'place_id': 'ChIJ79K8E9bNaRARd51XXSlz0Kc',
    'plus_code': {'compound_code': 'R2C5+R5 Port Harcourt',
     'global_code': '6FP9R2C5+R5'},
    'rating': 3.6,
    'reference': 'ChIJ79K8E9bNaRARd51XXSlz0Kc',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 12},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Tal-Udu, FCE Junction Kano',
    'geometry': {'location': {'lat': 11.988203, 'lng': 8.496804},
     'viewport': {'northeast': {'lat': 11.98937482989272,
       'lng': 8.498143229892724},
      'southwest': {'lat': 11.98667517010728, 'lng': 8.49544357010728}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
    'name': 'National Identity Management Commission (Nimc)',
    'opening_hours': {'open_now': True},
    'place_id': 'ChIJRbzDx9CBrhERDCs5gEROpvQ',
    'plus_code': {'compound_code': 'XFQW+7P Kano',
     'global_code': '7F3CXFQW+7P'},
    'rating': 5,
    'reference': 'ChIJRbzDx9CBrhERDCs5gEROpvQ',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 1},
   {'business_status': 'OPERATIONAL',
    'formatted_address': 'Bayajida Rd, Ungwan Munchi, Kaduna',
    'geometry': {'location': {'lat': 10.5436173, 'lng': 7.4609879},
     'viewport': {'northeast': {'lat': 10.54495552989272,
       'lng': 7.46233667989272},
      'southwest': {'lat': 10.54225587010728, 'lng': 7.459637020107277}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
    'name': 'National Identity Management Commission, Northwest Zonal Office',
    'place_id': 'ChIJS98oGDi1shER1iS7xWsBExw',
    'plus_code': {'compound_code': 'GFV6+C9 Kaduna',
     'global_code': '7F29GFV6+C9'},
    'rating': 2,
    'reference': 'ChIJS98oGDi1shER1iS7xWsBExw',
    'types': ['point_of_interest', 'establishment'],
    'user_ratings_total': 1},
   {'business_status': 'OPERATIONAL',
    'formatted_address': '238 Port Harcourt - Aba Expy, Rumuokwurusi, Port Harcourt',
    'geometry': {'location': {'lat': 4.8496083, 'lng': 7.0527365},
     'viewport': {'northeast': {'lat': 4.850934679892722,
       'lng': 7.054089179892721},
      'southwest': {'lat': 4.848235020107278, 'lng': 7.051389520107278}}},
    'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',

### <a id='#5.2.'>5.2. Class </a> 

A class is a user-defined blueprint or prototype from which objects are created. Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made.

<img src="../_images\classes.png">

### <a id='#5.2.1.'>5.2.1. The Importance of Python Classes </a> 

Classes are a way to organize your code into generic, reusable peices. At their best they are generic blueprints for things that will be used over and over again with little modification. The original concept was inspired by independent biological systems or organism unique from other organisms by the set or collection of features (attributes) and abilities (methods).

Functions are great to use when data is central to the work being done. Classes are great when you need to represent a collection of attributes and methods that will be used over and over again in other places.

Generally if you find your self writing functions inside of functions you should consider writing a class instead. If you only have one function in a class then stick with just writing a function.



- Classes provide an easy way of keeping the data members and methods together in one place which helps in keeping the program more organized.
- Using classes also provides another functionality of this object-oriented programming paradigm, that is, inheritance.
- Classes also help in overriding any standard operator.
- Using classes provides the ability to reuse the code which makes the program more efficient.
- Grouping related functions and keeping them in one place (inside a class) provides a clean structure to the code which increases the readability of the program.

###  <a id='#5.2.2.'> 5.2.2. Defining a class </a> 
it is considered to be a good practice to include a brief description about the class to increase the readability and understandability of the code.

<font size="4">
<font color='green'>class</font> class_name:<br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;    """Description""" <br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>def __init__</font><font color  = 'blue'>( <font color='red'>self</font>, parameter1, parameter2 )</font>:<br><br>
</font>

### <a id='#5.2.3.'> 5.2.3. Attributes </a> 
A value associated with an object which is referenced by name using dotted expressions. For example, `np.size`.

In [3784]:
import numpy as np 

A = np.arange( 8, 25 , 2)
A

array([ 8, 10, 12, 14, 16, 18, 20, 22, 24])

In [3785]:
A.ndim

c:\Users\Usuario\miniconda3\envs\ra_task\lib\site-packages\IPython\core\displayhook.py:281: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

1

In [3786]:
A.size

9

In [3787]:
A.shape

(9,)

In [3788]:
A.ndim

1

In [3789]:
A.shape

(9,)

In [3790]:
A.dtype

dtype('int32')

In [3791]:
#list_1  =  ["alex", "Anzony", "Mariela"]

In [3792]:
#list_1

In [3793]:
# this an attribute / size
A.itemsize

4

In [3794]:
#
A.shape

(9,)

### <a id='#5.2.5.'> 5.2.5. Method </a>
A function which is defined inside a class body. If called as an attribute of an instance of that class, the method will get the instance object as its first argument (which is usually called self). See function and nested scope.

In [3795]:
A = np.arange( 8, 25 )
type(A)

numpy.ndarray

In [3796]:
A

array([ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])

In [3797]:
A.max()

24

In [3798]:
A.min()# np.max(A)

8

In [3799]:
A.mean()

16.0

In [3800]:
B = A

In [3801]:
A

array([ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])

In [3802]:
A.shape

(17,)

In [3803]:
# this a method
A.reshape( 1, -1 )

array([[ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
        24]])

In [3804]:
# A.shape

In [3805]:
A.shape

(17,)

In [3806]:
A_2 = A.reshape( 1, -1 )
A_2.shape

(1, 17)

In [3807]:
dir(A)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__dlpack__',
 '__dlpack_device__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [3808]:
dir(A)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__dlpack__',
 '__dlpack_device__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [3809]:
dir(A)

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_finalize__',
 '__array_function__',
 '__array_interface__',
 '__array_prepare__',
 '__array_priority__',
 '__array_struct__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__complex__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__divmod__',
 '__dlpack__',
 '__dlpack_device__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__ilshift__',
 '__imatmul__',
 '__imod__',
 '__imul__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__irshift__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lshift__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__xor__',
 'all',
 'any',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'astype',
 'base',
 'byteswap',
 'choose',
 'clip',
 'compress',
 'conj',
 'conjugate',
 'copy',
 'ctypes',
 'cumprod',
 'cumsum',
 'data',
 'diagonal',
 'dot',
 'dtype',
 'dump',
 'dumps',
 'fill',
 'flags',
 'flat',
 'flatten',
 'getfield',
 'imag',
 'item',
 'itemset',
 'itemsize',
 'max',
 'mean',
 'min',
 'nbytes',
 'ndim',
 'newbyteorder',
 'nonzero',
 'partition',
 'prod',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'resize',
 'round',
 'searchsorted',
 'setfield',
 'setflags',
 'shape',
 'size',
 'sort',
 'squeeze',
 'std',
 'strides',
 'sum',
 'swapaxes',
 'take',
 'tobytes',
 'tofile',
 'tolist',
 'tostring',
 'trace',
 'transpose',
 'var',
 'view']

In [3810]:
A.min()

8

|Name| Definition|
|---|---|
|attribute|A variable stored in an instance or class.|
|method|A function stored in an instance or class.|

###  <a id='#5.2.6.'> 5.2.6. \_\_init\_\_() </a>

In python classes, “__init__” method is reserved. It is automatically called when you create an object using a class and is used to initialize the variables of the class. It is equivalent to a constructor.

- Like any other method, init method starts with the keyword **“def”**
- **“self”** is the first parameter in this method just like any other method although in case of init, **“self”** refers to a newly created object unlike other methods where it refers to the current object or instance associated with that particular method.
- Additional parameters can be added

### <a id='#5.2.7.'> 5.2.7. Self</a>
self represents the instance of the class. By using the **“self”** keyword we build attributes and methods for the class in python. It binds the attributes with the given arguments.

In the example, **MyFirstClass** I use self to define attributes and methods.

In [3811]:
def print_name(name):
    print(name)

In [3812]:
print_name(name = "Anzony")

Anzony

In [3813]:
class econ_students:
    
    # Attributes
    def __init__(self, name, age):
        self.name_student = name
        self.age_student = age
    
    # Methods
    def print_name(self):
        print(f"I am {self.name_student}.")

    def print_age(self):
        print( f'I am  { self.age_student } years old' )

In [3814]:
econ_students(name="Carlos perez", age= 25)

In [3815]:
st1 = econ_students(name="Anthony Melendez", age= 25)
st1.print_name()

I am Anthony Melendez.

In [3816]:
name = "Anthony Melendez"
age = 25

intr = 'I am {}'.format(name)
age_intr = 'I am {} years old'.format(name)

In [3817]:
name = "Anzony Rojas"
age = 28

intr = 'I am {}'.format(name)
age_intr = 'I am {} years old'.format(name)
age_intr

'I am Anzony Rojas years old'

In [3818]:
name = "Maria Rojas"
age = 28

intr = 'I am {}'.format(name)
age_intr = 'I am {} years old'.format(name)
age_intr

'I am Maria Rojas years old'

In [3819]:
# for name, lastname in zip(df["name_1"], df["lastname_1"]):
#     fin_students(name, lastname, sex)

In [3820]:
econ_students(name="Anthony Melendez", age= 25).name_student

'Anthony Melendez'

In [3821]:
econ_students(name="Anthony Melendez", age= 25).age_student

25

In [3822]:
econ_students(name="Anthony Melendez", age= 25).print_name()

I am Anthony Melendez.

In [3823]:
econ_students(name="Anthony Melendez", age= 25).print_age()

I am  25 years old

In [3824]:
class qlab_students:
    
    def __init__(self, name, age):
        self.name_student = name
        self.age_student = age

    def print_name( self ):
        print( f'I am { self.name_student }.' )
        
    def print_age( self ):
        print( f'I am  { self.age_student } years old' )

In [3825]:
student1 = qlab_students( name="Maria Alejandra Colan", age="20"  )

In [3826]:
type(student1)

__main__.qlab_students

In [3827]:
student1.print_age()

I am  20 years old

In [3828]:
# Call methods
student1.print_name()

I am Maria Alejandra Colan.

In [3829]:
def calculator(x, y):
    mult = x*y
    return(mult)

In [3830]:
calculator(10, 15)

150

In [3831]:
try:
    mult
except NameError:
    print("mult was created inside calculator() and is local to that function.")

mult was created inside calculator() and is local to that function.

In [3832]:
list_students = ["Daniela", "Angie", "Esteban", "Alexandro", "Alex"]

In [3833]:
# Requested by Brisa
class qlab_students_2:
    
    def __init__(self, list_st, ages, schools):
        self.name_student = list_st
        self.age_student = ages
        self.list_school = schools
            
    def first_st_list_alpha(self):
        list_sorted = sorted(self.name_student)
        print(f'the first in the list by alpha order {list_sorted[0]}. ')
    
    def first_st_list(self):
        print(f'the first in list is {self.name_student[0]}.')
        
    def print_name( self ):
        print( f'The list of students is { self.name_student }.' )
    
    def print_schools( self ):
         print( f'The list of schools is  { self.list_school } ' ) 
            
    def print_age( self ):
        print( f'The range of ages is { self.age_student } years old' )

In [3834]:
dir(qlab_students_2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'first_st_list',
 'first_st_list_alpha',
 'print_age',
 'print_name',
 'print_schools']

In [3835]:
# sorted(list_students)

In [3836]:
list_students = ["Daniela", "Angie", "Esteban", "Alexandro", "Alex"]
list_ages = [20, 19, 18, 20]
list_schools = ["Claretiano", "San Columbano", "2045", "Colegio Mayor" ]

In [3837]:
qlab_students_2( list_st = list_students, ages= list_ages, schools=list_schools)

In [3838]:
summer_students =  qlab_students_2( list_st = list_students, ages= list_ages, schools=list_schools)

In [3839]:
# Atribute 1 
summer_students.name_student

['Daniela', 'Angie', 'Esteban', 'Alexandro', 'Alex']

In [3840]:
# Atribute 2 
summer_students.age_student

[20, 19, 18, 20]

In [3841]:
summer_students.list_school

['Claretiano', 'San Columbano', '2045', 'Colegio Mayor']

In [3842]:
## Methods

In [3843]:
summer_students.print_schools()

The list of schools is  ['Claretiano', 'San Columbano', '2045', 'Colegio Mayor']

In [3844]:
summer_students.first_st_list_alpha()

the first in the list by alpha order Alex.

In [3845]:
summer_students.print_name()

The list of students is ['Daniela', 'Angie', 'Esteban', 'Alexandro', 'Alex'].

In [3846]:
summer_students.first_st_list()

the first in list is Daniela.

In [3847]:
student1.print_age()

I am  20 years old

In [3848]:
class MyFirstClass:
    def __init__(self, name, age, school=None):
        self.name = name
        self.age = age
        self.school = school

    def print_name_1(self):
        print(f"I am {self.name}.")

    def print_age_1(self):
        print(f"I am {self.age} years old.")

    def person_school(self):
        if self.school is None:
            print(f"I am {self.name}. (School not provided.)")
        else:
            print(f"I am {self.name}. I studied at {self.school}.")

In [3849]:
#MyFirstClass( name = "Dorkas", age = 25)

In [3850]:
student1 = MyFirstClass( name = "Miguel", age = 24)
student1.print_name_1()
student1.print_age_1()

I am Miguel.
I am 24 years old.

In [3851]:
student_0 = MyFirstClass( name = "Jose" , age = 22, school = "Saco Oliveros" )

In [3852]:
def calcul(x, y):
    x2 = x**2
    y2 = y**2
    return x2 * y2

In [3853]:
calcul(5, 10)

2500

In [3854]:
try:
    n2
except NameError:
    print("n2 is a local variable inside calcul(), so it is not available here.")

n2 is a local variable inside calcul(), so it is not available here.

In [3855]:
name

'Maria Rojas'

In [3856]:
class MyFirstClass_2:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def print_name_1(self):
        print(f"I am {self.name}.")

    def print_name_2(self):
        print(f"This is my name: {self.name}.")

    def print_name_3(self):
        print(f"My name is still: {self.name}.")

In [3857]:
MyFirstClass_2(name = "rodrigo", age= 1970).print_name_2()

This is my name: rodrigo.

In [3858]:
MyFirstClass_2(name = "rodrigo", age= 1970).print_name_3()

My name is still: rodrigo.

In [3859]:
class MyFirstClass:
    def __init__(self, name, age, school):
        self.name = name
        self.age = age
        self.school = school

    # Methods
    def print_name_1(self):
        print(f"I am {self.name}.")

    def person_age(self):
        print(f"I am {self.name}, I am {self.age} years old.")

    def person_school(self):
        print(f"I am {self.name}. I studied at {self.school}.")

    def print_name_2(self):
        print(f"This is my name: {self.name}.")

    def print_name_3(self):
        print(f"Another way to print my name: {self.name}.")

In [3860]:
student2 = MyFirstClass( name = "Jose" , age = 31, school = "Agustiniano" )

In [3861]:
dir(student2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'name',
 'person_age',
 'person_school',
 'print_name_1',
 'print_name_2',
 'print_name_3',
 'school']

In [3862]:
student2.person_school()

I am Jose. I studied at Agustiniano.

In [3863]:
student2.print_name_2()

This is my name: Jose.

In [3864]:
student_0 = MyFirstClass( name = "Jose" , age = 22, school = "Saco Oliveros" )

In [3865]:
student_0.person_school()

I am Jose. I studied at Saco Oliveros.

In [3866]:
student_0.print_name_3()

Another way to print my name: Jose.

In [3867]:
student_0.print_name_1()

I am Jose.

When we create an object using a class, we have an instance of this class.

In [3868]:
student1 = MyFirstClass(name="Jose", age=22, school="(not specified)")

Attributes

In [3869]:
student1.age

22

In [3870]:
student1.name

'Jose'

Methods

In [3871]:
# Calling like an attribute
student1.print_name_1

In [3872]:
# Calling like as a method
student1.print_name_1()

I am Jose.

In [3873]:
student1.print_name_2()

This is my name: Jose.

In [3874]:
student1.print_name_3()

Another way to print my name: Jose.

# <a id='#5.3.'>5.3. References </a>  

- [Functions](https://www.datacamp.com/community/tutorials/functions-python-tutorial?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=&utm_network=g&utm_adpostion=&utm_creative=332602034358&utm_targetid=dsa-473406571355&utm_loc_interest_ms=&utm_loc_physical_ms=9060932&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDp9lkv0t5drR4g_hjgXp0DBU3XoRLPEeQT9wGMhCyiZd09kjsAXKaRoCFmUQAvD_BwE)
- [Functions](https://www.w3schools.com/python/python_functions.asp)
- [Args and Kwargs](https://book.pythontips.com/en/latest/args_and_kwargs.html)

- [Clases](https://www.geeksforgeeks.org/namespaces-and-scope-in-python/#:~:text=A%20namespace%20is%20a%20system,form%20of%20a%20Python%20dictionary.&text=Its%20Name%20(which%20means%20name,talks%20something%20related%20to%20scope)

- [Clases](https://www.geeksforgeeks.org/python-classes-and-objects/)

- [Clases Advantages](https://intellipaat.com/blog/tutorial/python-tutorial/python-classes-and-objects/#_Advantages_of_class)

- [Self](https://www.geeksforgeeks.org/self-in-python-class/)

- [FU](https://realpython.com/defining-your-own-python-function/#functions-in-python)

- https://stackoverflow.com/questions/46312470/difference-between-methods-and-attributes-in-python

- https://stackoverflow.com/questions/2489669/how-do-python-functions-handle-the-types-of-parameters-that-you-pass-in