# Inheritance, Private Variables, Fixed attributes, Costumize Exceptions with Python

- <a href='#6.1.'>6.1. Inheritance</a>
     - <a href='#6.1.1.'> 6.1.1. Single Inheritance </a> 
     - <a href='#6.1.2.'> 6.1.2. Multiple Inheritance </a> 
- <a href='#6.2.'>6.2. Private Variables </a> 
     - <a href='#6.2.1.'>6.2.1. Name Mangling </a> 
     - <a href='#6.2.2.'> 6.2.2. \_Single Leading Underscores </a> 
     - <a href='#6.2.3.'> 6.2.3. \_\_Double Leading Underscores </a> 
- <a href='#6.3.'>6.3. Fixed attributes </a>  
- <a href='#6.4.'>6.4. Costumize Exceptions with Python </a>  
- <a href='#6.5.'>6.5. References </a>

## <a id='6.1.'>6.1. Inheritance</a>
Inheritance is the capability of one class to derive or inherit the properties from another class. The benefits of inheritance are:

- It represents real-world relationships well.
- It provides reusability of a code. We don’t have to write the same code again and again. Also, it allows us to add more features to a class without modifying it.
- It is transitive in nature, which means that if class B inherits from another class A, then all the subclasses of B would automatically inherit from class A.
- It will help you to understand how Sklearn Class works.

The base model is called Base or Super class.

Different forms of Inheritance: 
1. Single inheritance: When a child class inherits from only one parent class, it is called single inheritance. We saw an example above.
2. Multiple inheritance: When a child class inherits from multiple parent classes, it is called multiple inheritance. 
Unlike Java and like C++, Python supports multiple inheritance. We specify all parent classes as a comma-separated list in the bracket.

### <a id='6.1.1.'> 6.1.1. Single Inheritance </a> 
In single inheritance, the derived class uses the features or members of the single base class.
![alt text](../_images/inh1.png)

In [495]:
# Base model
# We are going to define a family class
class Family(object):
       
    # Constructor
    # define initial attributes
    # Assume all members of a family share 
    # lastname and nationality
    def __init__( self, last_name , nationality ):
        self.last_name = last_name
        self.nationality = nationality
   
    # # Upper case Last name
    def upper_lt_name( self, x ):
        return  x.upper()
    
    # Print last name
    def pr_LastName( self ):
        up_last_name = self.upper_lt_name( self.last_name )
        print( f"The { up_last_name } family." )
   
    # Print Nationality
    def pr_Natioanlity( self ):
        print( f"This family is {self.nationality}" )

In [496]:
# Now, we generate a class for family member 
# based on Family

class FamMember( Family ):
    
    def __init__( self, last_name , nationality, name , age, school ):
        self.name = name
        self.age = age
        self.school = school
        # invoking the __init__ of the parent class 
        # we are executing the Family class inside the FamMember Class
        # It allow us to get all methods and attributes
        
        Family.__init__(self, last_name , nationality ) 
        
    def presentation( self ):
        up_last_name = self.upper_lt_name( self.last_name )    # Here we are using the parent class
        up_name = self.upper_lt_name( self.name )
        up_school = self.upper_lt_name( self.school )
        
        print( f"My name is { up_name } { up_last_name }. \nI am {self.nationality}. I studied at {up_school}. ")

In [497]:
member1_family1 = FamMember( last_name = "Azabache" , nationality = "Peruvian", name = "Carlos" , age = 26, school = "Franco Peruano" )
member1_family1.presentation()

My name is CARLOS AZABACHE.
I am Peruvian. I studied at FRANCO PERUANO.

In [498]:
family1 = Family( last_name = "Azabache", nationality = "Peruvian")

In [499]:
family1.pr_LastName()

The AZABACHE family.

In [500]:
family1.pr_Natioanlity()

This family is Peruvian

We can see our defined methods in the code above. Now, we are going to generate a FamMember class. You'll see that this class have the same methods as Family class. It inherits the methods defined in Family Class.

In [501]:
# If we omit the 'school' argument, Python raises a TypeError.
# To keep the notebook from crashing, we catch the error and then fix it.

try:
    member1_family1 = FamMember(last_name="Azabache", nationality="Peruvian", name="Carlos", age=26)
except TypeError as e:
    print("Expected error:", e)
    # Fix: include 'school'
    member1_family1 = FamMember(
        last_name="Azabache",
        nationality="Peruvian",
        name="Carlos",
        age=26,
        school="Franco Peruano"
    )

Expected error: FamMember.__init__() missing 1 required positional argument: 'school'

In [502]:
member1_family1.presentation()

My name is CARLOS AZABACHE.
I am Peruvian. I studied at FRANCO PERUANO.

### <a id='6.1.2.'> 6.1.2. Multiple Inheritance </a> 

Multiple inheritance is one in which the derived class acquires two or more base classes. In multiple inheritance, the derived class are allowed to use the joint features of the inherited base classes. _**Sklearn** uses multiple inheritance._

 ![alt text](../_images/inh2.png)

In [503]:
# Base model
# We are going to define a family class
class Family(object):
       
    # Constructor
    def __init__( self, last_name , nationality ):
        self.last_name = last_name
        self.nationality = nationality
   
    # Upper case Last name
    def upper_lt_name( self, x ):
        return  x.upper()
    
    # Print last name
    def pr_LastName( self ):
        up_last_name = self.upper_lt_name( self.last_name )
        print( f"The { up_last_name } family." )
   
    # Print Nationality
    def pr_Natioanlity( self ):
        print( f"This family is {self.nationality}" )

In [504]:
# Now, we generate a class 
# to define the job of a family member

class Job(object):
       
    # Constructor
    # define initial attributes
    # Assume all members of a family share 
    # lastname and nationality
    def __init__( self, job ):
        self.job = job
    
    def up_work( self ):
        return self.job.upper()

In [505]:
class FamMember( Family , Job ):
    
    def __init__( self, last_name , nationality, name , age , job ):
        self.name = name
        self.age = age
        # invoking the __init__ of the parent class 
        Family.__init__(self, last_name , nationality ) 
        Job.__init__(self, job ) 
        
    def presentation( self ):
        up_last_name = self.upper_lt_name( self.last_name )
        job_up = self.up_work()
        print( f"My name is { self.name } { up_last_name }. \nI am {self.nationality}. \nI work as a {job_up}.")

In [506]:
member1_family1 = FamMember( 
                            last_name = "Azabache" , 
                            nationality = "Peruvian", 
                            name = "Carlos" , 
                            age = 26 , 
                            job = "Research Assistant" 
                           )

In [507]:
member1_family1.presentation()

My name is Carlos AZABACHE.
I am Peruvian.
I work as a RESEARCH ASSISTANT.

# Deeper Topics about Class

## <a id='6.2.'>6.2. Private Variables </a> 

Private variables allow us to specify variables that we do not want to be changed by users or project partners.


“Private” instance variables are variables that cannot be accessed except from inside an object. However, there is no existence of “Private” variables. In python, a convention is being followed by most Python code and coders i.e., a name prefixed with an underscore, For e.g. \_diploma should be treated as a non-public part of the API or any Python code, whether it is a function, a method, or a data member.

#### Example

In [508]:
class MyFirstClass:
    
    def __init__( self, name, age ):
        self.name = name
        self.age = age
    
    # best way to define a method
    def print_name( self ):
        print( f'I am { self.name }.' )

In [509]:
class1 = MyFirstClass( "Jose", 35 )

In [510]:
class1.print_name()

I am Jose.

We can access this variable and change its value.

In [511]:
class1.name = "Andres"

In [512]:
class1.print_name()

I am Andres.

Using private variables. **\_\_name** is a private variable.

In [513]:
class MyFirstClass:
    
    def __init__( self, name, age ):
        self.__name = name
        self.age = age
    
    # best way to define a method
    def print_name( self ):
        print( f'I am { self.__name }.' )

In [514]:
class2 = MyFirstClass( "Jose", 35 )

In [515]:
class2.print_name()

I am Jose.

In [516]:
# 'self.__name' definido dentro de la clase se transforma en '_MyFirstClass__name' (name mangling).
# Por eso, desde afuera, 'class2.__name' NO existe y lanza AttributeError.
# Aquí mostramos el comportamiento sin romper el notebook.

try:
    print(class2.__name)
except AttributeError as e:
    print("AttributeError (esperado):", e)

# Acceso correcto al atributo 'privado' (solo para fines educativos; no es buena práctica)
print("Acceso a class2._MyFirstClass__name:", class2._MyFirstClass__name)

AttributeError (esperado): 'MyFirstClass' object has no attribute '__name'
Acceso a class2._MyFirstClass__name: Jose

In the above example, the class variable \_\_name is not accessible outside the class. we can see al the attributes and methods using bult-in function dir.

In [517]:
dir( class2 )

['_MyFirstClass__name',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'print_name']

In [518]:
# Si asignas desde afuera 'class2.__name', creas un atributo NUEVO llamado '__name'
# (no modifica el atributo "privado" '_MyFirstClass__name' que usa la clase internamente).
class2.__name = "Andres"

print("class2.__name (nuevo atributo externo):", class2.__name)
print("class2._MyFirstClass__name (atributo privado original):", class2._MyFirstClass__name)

# Observa que el método sigue usando el atributo privado:
class2.print_name()

class2.__name (nuevo atributo externo): Andres
class2._MyFirstClass__name (atributo privado original): Jose
I am Jose.

In [519]:
class2.print_name()

I am Jose.

In [520]:
class2.__name

'Andres'

Here, the output of `print_name` was not modified. However, we add a new attribute "\_\_name" to the class. We are going to deal with this later.

In [521]:
# Como ahora la clase usa '__name' (privado), NO existe el atributo público 'name'.
# Mostramos el error sin detener el notebook y luego mostramos el acceso correcto.

try:
    print(class2.name)
except AttributeError as e:
    print("AttributeError (esperado):", e)

print("Acceso correcto (privado):", class2._MyFirstClass__name)

AttributeError (esperado): 'MyFirstClass' object has no attribute 'name'
Acceso correcto (privado): Jose

### <a id='6.2.1.'>6.2.1. Name Mangling </a> 
It help us to deal with private variables. In name mangling process any identifier with two leading underscore and one trailing underscore is textually replaced with \_classname\_\_identifier where classname is the name of the current class. Name mangling takes place at class creation time; any functions that refer to mangled names are adjusted as well. The name mangling process helps to access the class variables from outside the class. The class variables can be accessed by adding \_classname to it. The name mangling is closest to private not exactly private.

Names, in a class, with a leading underscore are simply to indicate to other programmers that the attribute or method is intended to be private. However, nothing special is done with the name itself.

In [522]:
class3 = MyFirstClass( "Doris", 28 )

In [523]:
dir( class3 )

['_MyFirstClass__name',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'print_name']

As you can see, there is an attribute named as **\_MyFirstClass\_\_name**. We can access to this variable and modify it.

In [524]:
class3.print_name()

I am Doris.

In [525]:
class3._MyFirstClass__name = "Rebeca"

In [526]:
class3.print_name()

I am Rebeca.

We can modify the private variable using names created by name mangling. This is the reason why we say that there is no existence of “Private” instance variables in Python like in other programing languages like Jave, C++. However, we use this standardized Python way to generate private variables to communicate other programmers which variables should not be modified.

### <a id='6.2.2.'> 6.2.2. \_Single Leading Underscores </a> 
One underline at the beginning of a method, function, or data member means you shouldn’t access this method because it’s not part of the API.

In [527]:

# Python code to illustrate how double
# underscore at the beginning works
class Geek:
    def _single_method(self):
        pass
    def __double_method(self): # for mangling
        pass
class Pyth(Geek):
    def __double_method(self): # for mangling
        pass

In [528]:
dir(Pyth)

['_Geek__double_method',
 '_Pyth__double_method',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_single_method']

In [529]:
dir(Geek)

['_Geek__double_method',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_single_method']

### <a id='6.2.3.'> 6.2.3. \_\_Double Leading Underscores </a> 
Double underscore will mangle the attribute names of a class to avoid conflicts of attribute names between classes.

In [530]:
# Python code to illustrate how double
# double underscore at the beginning works
class Diploma:
    def _single_method(self):
        pass
    def __double_method(self): # for mangling
        pass
class Pyth(Diploma):
    def __double_method(self): # for mangling
        pass

In [531]:
dir(Pyth)

['_Diploma__double_method',
 '_Pyth__double_method',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_single_method']

In [532]:
# Python code to illustrate how double
# single underscore at the beginning does not works
class Diploma:
    def _single_method(self):
        pass
    def _double_method(self): # for mangling
        pass
class Pyth(Diploma):
    def __double_method(self): # for mangling
        pass

In [533]:
dir( Pyth )

['_Pyth__double_method',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_double_method',
 '_single_method']

As you can see, the Pyth class does not inherit private **\_double\_method**.

### <a id='6.3.'>6.3. Fixed attributes </a>

We comment that we can can dynamically add attributes to objects of classes. However, it is not recomended. Most libraries do not have this option. Let's look at a numpy array.

In [534]:
import numpy as np

A = np.arange(7, 35, 5)
A

array([ 7, 12, 17, 22, 27, 32])

In [535]:
A

array([ 7, 12, 17, 22, 27, 32])

In [536]:
# Intentar agregar un atributo nuevo a un objeto que NO lo permite (ejemplo educativo)
# Numpy arrays no aceptan atributos arbitrarios; por eso esto falla.
try:
    A.new_attr = "New attribute"
except Exception as e:
    print("No se puede agregar un nuevo atributo a un numpy.ndarray.")
    print("Error:", type(e).__name__, "-", e)

No se puede agregar un nuevo atributo a un numpy.ndarray.
Error: AttributeError - 'numpy.ndarray' object has no attribute 'new_attr'

As you can see, it is not possible to add more attributes. It is not recomended since users or project partners may change the original values of these attributes or methods.

In [537]:
# Base model
# We are going to define a family
# Imagine family
class Family(object):
       
    # Constructor
    def __init__( self, last_name , nationality ):
        self.last_name = last_name
        self.nationality = nationality
   
    # Upper case Last name
    def upper_lt_name( self, x ):
        return  x.upper()
    
    # Print last name
    def pr_LastName( self ):
        up_last_name = self.upper_lt_name( self.last_name )
        print( f"The { up_last_name } family." )
   
    # Print Nationality
    def pr_Natioanlity( self ):
        print( f"This family is {self.nationality}" )

In [538]:
std1 = Family( "Azabache" , "Peruvian")

In [539]:
# We define a new function
def lower_case( x ):
    x1 = x.lower()
    return x1

In [540]:
# We change the `upper_lt_name` function
std1.upper_lt_name = lower_case

In [541]:
std1.pr_LastName()

The azabache family.

We can change methods and attributes of a class object if we do not fix them. We use \_\_slots\_\_ to fix them.

The special attribute \_\_slots\_\_ allows you to explicitly state which instance attributes you expect your object instances to have, with the expected results:

1. faster attribute access.
2. space savings in memory.
3. The space savings is from

When we design a class, we can use slots to prevent the dynamic creation of attributes.

In [542]:
# Base model
# We are going to define a family
# Imagine family
class Family(object):
    
    __slots__ = [ 'last_name', 'nationality', ]
    
    # Constructor
    def __init__( self, last_name , nationality ):
        self.last_name = last_name
        self.nationality = nationality
   
    # Upper case Last name
    def upper_lt_name( self, x ):
        return  x.upper()
    
    # Print last name
    def pr_LastName( self ):
        up_last_name = self.upper_lt_name( self.last_name )
        print( f"The { up_last_name } family." )
   
    # Print Nationality
    def pr_Natioanlity( self ):
        print( f"This family is {self.nationality}" )

In [543]:
std1 = Family( "Azabache" , "Peruvian")

In [544]:
# Intento de agregar un atributo NUEVO cuando la clase usa __slots__.
# Con __slots__, Python restringe qué atributos se pueden crear.
try:
    std1.number_children = 8
except AttributeError as e:
    print("AttributeError (esperado):", e)
    print("Esto pasa porque Family define __slots__ = ['last_name', 'nationality'].")

AttributeError (esperado): 'Family' object has no attribute 'number_children'
Esto pasa porque Family define __slots__ = ['last_name', 'nationality'].

We can not add more attributes.

In [545]:
# We define a new function
def lower_case( x ):
    x1 = x.lower()
    return x1

In [546]:
# Con __slots__, tampoco podemos "parchear" métodos en instancias si el slot no lo permite.
try:
    std1.upper_lt_name = lower_case
except Exception as e:
    print("Error (esperado):", type(e).__name__, "-", e)
    print("Esto muestra que con __slots__ no puedes agregar/modificar atributos/métodos arbitrariamente en la instancia.")

Error (esperado): AttributeError - 'Family' object attribute 'upper_lt_name' is read-only
Esto muestra que con __slots__ no puedes agregar/modificar atributos/métodos arbitrariamente en la instancia.

Additionally, we can not add or modify methods.

### <a id='6.4.'>6.4. Costumize Exceptions with Python </a>  

Python has numerous built-in exceptions that force your program to output an error when something in the program goes wrong. However, sometimes you may need to create your own custom exceptions that serve your purpose.

In [547]:
# define Python user-defined exceptions
# we create custom exceptions using the base class Exception
class LastNameisLower( Exception ):
    """Raised when the last name string is lower case"""
    pass

In [548]:
class LastNameisUpper(Exception):
    """Raised when the last name string is upper case"""
    pass

In [549]:
# Base model
# We are going to define a family
# Imagine family
class Family(object):
    
    __slots__ = [ 'last_name', 'nationality', ]
    
    # Constructor
    def __init__( self, last_name , nationality ):
        
        if last_name[ 0 ].islower():
            raise LastNameisLower( f"The first letter in last_name is lowercase. \nPlease, the first letter must be uppercase.")

            
        for i in range( len( last_name ) - 1 ):
            
         
            str1 = last_name[ i + 1 ]
            if str1.isupper():
                
                raise LastNameisUpper( f"Index { i +1 } in last_name is uppercase. \nPlease, only the first letter must be uppercase.")
        
            
        
        self.last_name = last_name
        self.nationality = nationality
   
    # Print last name
    def pr_LastName( self ):
        print( f"The { self.last_name } family." )
   
    # Print Nationality
    def pr_Natioanlity( self ):
        print( f"This family is {self.nationality}" )

In [550]:
# Ejemplo que dispara nuestra excepción personalizada (nombre mal formateado)
try:
    std1 = Family("AzaBache", "Peruvian")
except LastNameisUpper as e:
    print("LastNameisUpper (esperado):", e)
    # Corrección:
    std1 = Family("Azabache", "Peruvian")

LastNameisUpper (esperado): Index 3 in last_name is uppercase.
Please, only the first letter must be uppercase.

In [551]:
# Ejemplo que puede disparar la excepción de 'todo en minúsculas' (dependiendo de la regla)
try:
    std1 = Family("azabache", "Peruvian")
except LastNameisLower as e:
    print("LastNameisLower (esperado):", e)
    # Corrección:
    std1 = Family("Azabache", "Peruvian")

LastNameisLower (esperado): The first letter in last_name is lowercase.
Please, the first letter must be uppercase.

### <a id='6.5.'>6.5. References </a>

https://bytes.com/topic/python/answers/43335-__init__-method-raising-exceptions

https://stackoverflow.com/questions/472000/usage-of-slots

https://www.geeksforgeeks.org/private-variables-python/

https://stackoverflow.com/questions/1301346/what-is-the-meaning-of-single-and-double-underscore-before-an-object-name

https://www.programiz.com/python-programming/user-defined-exception

## Excersise
#### Importing a Dictionary

In [552]:
import pickle
import pandas as pd
import numpy as np

The `places_result` dictionary stores information from a Google API request that aims to geolocate all the National Identity Management Commission establishments in Nigeria. We want to store the results in a Pandas DataFrame. We want to keep the name of the establishment and its coordiantes.

In [553]:
import pickle
from pathlib import Path

fp = Path(r"C:\Users\Usuario\Documents\GitHub\Python-for-Finance\Lectures\_data\places_result")

In [554]:
# It is a dictionary
type( places_result )

dict

In [555]:
 places_result['results'][0]['name']

'National Identity Management Commission'

In [556]:
len(places_result['results'])

20

In [557]:
# See all the establishments
i = 0
while True:
    try:
        i = i + 1
        print( places_result['results'][i]['name'] )
    except:
        break

National Identity Management Commission (Nimc)
National Identity Management Commission NIMC
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission (Nimc)
National Identity Management Center
National Identity Management Commision (NIMC) Lagos
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission Umuahia
National Identity Management Commission
National Identity Management Commission (Nimc)
National Identity Management Commission, Northwest Zonal Office
National Identity Management Commission Nimc

`places_result` is a nested dictionary. It is composed of a list, dictionary, and a dictionary.

First, we are going to do it using a for loop. We are not going to use a function. After we get our expected results, we will define a function.

##### We can do it lists

In [558]:
places_result['results'][0]['geometry']['location']['lat']
places_result['results'][0]['geometry']['location']['lng']

7.4549606

In [559]:
from tqdm import tqdm

In [560]:
# Lists
latitudes = []
longitudes = []
institutions = []

In [561]:
# define all the results
results = places_result[ 'results' ]
len(results)

20

In [562]:
# loop para guardar cada uno de los elementos
for element in tqdm(range(0, len(results))):

    # Latitude
    lat = results[element]['geometry']['location']['lat']

    # Longitude
    lng = results[element]['geometry']['location']['lng']

    # Nombre de la institución
    institution = results[element]['name']

    # Guardar resultados
    latitudes.append(lat)
    longitudes.append(lng)
    institutions.append(institution)

# Diccionario final
final_result = {'Institution': institutions, 'Latitude': latitudes, 'Longitude': longitudes}

# DataFrame final
df_result = pd.DataFrame(final_result)
df_result

100%|██████████| 20/20 [00:00<?, ?it/s]

                                          Institution   Latitude  Longitude
0             National Identity Management Commission   9.065977   7.454961
1      National Identity Management Commission (Nimc)   8.450151   4.542503
2        National Identity Management Commission NIMC   8.505730   8.531775
3             National Identity Management Commission   9.058854   7.468078
4      National Identity Management Commission (Nimc)   9.895973   8.931434
5             National Identity Management Commission   9.892295   8.917566
6             National Identity Management Commission   9.857233   7.967972
7      National Identity Management Commission (Nimc)   7.711656   8.526523
8             National Identity Management Commission  11.989994   8.489165
9      National Identity Management Commission (Nimc)  10.310332   9.826602
10     National Identity Management Commission (Nimc)  10.592473   7.449456
11                National Identity Management Center   5.471781   7.008344
12  National Identity Management Commision (NIMC) ...   6.617086   3.357951
13            National Identity Management Commission   6.460106   7.579009
14     National Identity Management Commission (Nimc)   9.076770   7.493777
15    National Identity Management Commission Umuahia   5.502502   7.517956
16            National Identity Management Commission   4.822006   7.007972
17     National Identity Management Commission (Nimc)  11.988203   8.496804
18  National Identity Management Commission, North...  10.543617   7.460988
19       National Identity Management Commission Nimc   4.849608   7.052736

##### We can do it using iteration over rows of a DataFrame

In [563]:
df2 = pd.DataFrame( columns = ['Institution','Latitude','Longitud'] )

results = places_result['results']

for fila in tqdm(range( 0 , len( results ) )):
    
    df2.loc[fila] = [results[ fila ]['name'], \
                       results[ fila ]['geometry']['location']['lat'], \
                       results[ fila ]['geometry']['location']['lng']]
    
df2

  0%|          | 0/20 [00:00<?, ?it/s]

100%|██████████| 20/20 [00:00<00:00, 931.01it/s]

                                          Institution   Latitude  Longitud
0             National Identity Management Commission   9.065977  7.454961
1      National Identity Management Commission (Nimc)   8.450151  4.542503
2        National Identity Management Commission NIMC   8.505730  8.531775
3             National Identity Management Commission   9.058854  7.468078
4      National Identity Management Commission (Nimc)   9.895973  8.931434
5             National Identity Management Commission   9.892295  8.917566
6             National Identity Management Commission   9.857233  7.967972
7      National Identity Management Commission (Nimc)   7.711656  8.526523
8             National Identity Management Commission  11.989994  8.489165
9      National Identity Management Commission (Nimc)  10.310332  9.826602
10     National Identity Management Commission (Nimc)  10.592473  7.449456
11                National Identity Management Center   5.471781  7.008344
12  National Identity Management Commision (NIMC) ...   6.617086  3.357951
13            National Identity Management Commission   6.460106  7.579009
14     National Identity Management Commission (Nimc)   9.076770  7.493777
15    National Identity Management Commission Umuahia   5.502502  7.517956
16            National Identity Management Commission   4.822006  7.007972
17     National Identity Management Commission (Nimc)  11.988203  8.496804
18  National Identity Management Commission, North...  10.543617  7.460988
19       National Identity Management Commission Nimc   4.849608  7.052736

In [564]:
def dict_output(dictionary, output='tuple'):
    """Convierte un diccionario tipo Google Places (con llave 'results') a varios formatos.

    output:
      - 'tuple'      -> (latitudes, longitudes, institutions)
      - 'dataframe'  -> pd.DataFrame con columnas Institution/Latitude/Longitude
      - 'dictionary' -> {'Institution': [...], 'Latitude': [...], 'Longitude': [...]}
      - 'list'       -> lista de tuplas (Institution, Latitude, Longitude)
    """

    if not isinstance(dictionary, dict):
        raise TypeError("dictionary debe ser de tipo dict.")

    if 'results' not in dictionary:
        raise KeyError("El diccionario no tiene la llave 'results'.")

    results = dictionary['results']

    latitudes, longitudes, inst = [], [], []

    for fila in range(len(results)):
        latitudes.append(results[fila]['geometry']['location']['lat'])
        longitudes.append(results[fila]['geometry']['location']['lng'])
        inst.append(results[fila]['name'])

    results_dict = {'Institution': inst, 'Latitude': latitudes, 'Longitude': longitudes}
    results_pd = pd.DataFrame(results_dict)
    results_tuple = (latitudes, longitudes, inst)
    results_list = list(zip(inst, latitudes, longitudes))

    if output == 'dataframe':
        return results_pd
    elif output == 'dictionary':
        return results_dict
    elif output == 'tuple':
        return results_tuple
    elif output == 'list':
        return results_list
    else:
        raise ValueError(
            f"output='{output}' no es válido. Usa 'tuple', 'dataframe', 'dictionary' o 'list'."
        )

In [565]:
tuple_result = dict_output( places_result, output = "tuple" )

In [566]:
tuple_result[2]

['National Identity Management Commission',
 'National Identity Management Commission (Nimc)',
 'National Identity Management Commission NIMC',
 'National Identity Management Commission',
 'National Identity Management Commission (Nimc)',
 'National Identity Management Commission',
 'National Identity Management Commission',
 'National Identity Management Commission (Nimc)',
 'National Identity Management Commission',
 'National Identity Management Commission (Nimc)',
 'National Identity Management Commission (Nimc)',
 'National Identity Management Center',
 'National Identity Management Commision (NIMC) Lagos',
 'National Identity Management Commission',
 'National Identity Management Commission (Nimc)',
 'National Identity Management Commission Umuahia',
 'National Identity Management Commission',
 'National Identity Management Commission (Nimc)',
 'National Identity Management Commission, Northwest Zonal Office',
 'National Identity Management Commission Nimc']

In [567]:
dict_output( places_result, output = "dataframe" )

                                          Institution   Latitude  Longitude
0             National Identity Management Commission   9.065977   7.454961
1      National Identity Management Commission (Nimc)   8.450151   4.542503
2        National Identity Management Commission NIMC   8.505730   8.531775
3             National Identity Management Commission   9.058854   7.468078
4      National Identity Management Commission (Nimc)   9.895973   8.931434
5             National Identity Management Commission   9.892295   8.917566
6             National Identity Management Commission   9.857233   7.967972
7      National Identity Management Commission (Nimc)   7.711656   8.526523
8             National Identity Management Commission  11.989994   8.489165
9      National Identity Management Commission (Nimc)  10.310332   9.826602
10     National Identity Management Commission (Nimc)  10.592473   7.449456
11                National Identity Management Center   5.471781   7.008344
12  National Identity Management Commision (NIMC) ...   6.617086   3.357951
13            National Identity Management Commission   6.460106   7.579009
14     National Identity Management Commission (Nimc)   9.076770   7.493777
15    National Identity Management Commission Umuahia   5.502502   7.517956
16            National Identity Management Commission   4.822006   7.007972
17     National Identity Management Commission (Nimc)  11.988203   8.496804
18  National Identity Management Commission, North...  10.543617   7.460988
19       National Identity Management Commission Nimc   4.849608   7.052736

In [568]:
dict_output( places_result, output = "dictionary" )

{'Institution': ['National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission NIMC',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Center',
  'National Identity Management Commision (NIMC) Lagos',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission Umuahia',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission, Northwest Zonal Office',
  'National Identity Management Commission Nimc'],
 'Latitude': [9.065977,
  8.450151,
  8.50573,
  9.058854499999999,
  9.895973,
  9.892294699999999,
  9.8572331,
  7.711655800000001,
  11.9899944,
  10.310332,
  10.592473,
  5.4717813,
  6.617086,
  6.460105899999999,
  9.07677,
  5.5025021,
  4.822006,
  11.988203,
  10.5436173,
  4.8496083],
 'Longitude': [7.4549606,
  4.542503,
  8.531774799999999,
  7.468077600000001,
  8.931434,
  8.9175658,
  7.967971899999998,
  8.5265235,
  8.4891647,
  9.826602,
  7.449456,
  7.0083439,
  3.357951,
  7.579008999999999,
  7.493777,
  7.517955600000001,
  7.0079724,
  8.496804,
  7.4609879,
  7.0527365]}

In [569]:
dict_output( places_result, output = "list" )

[('National Identity Management Commission', 9.065977, 7.4549606),
 ('National Identity Management Commission (Nimc)', 8.450151, 4.542503),
 ('National Identity Management Commission NIMC', 8.50573, 8.531774799999999),
 ('National Identity Management Commission',
  9.058854499999999,
  7.468077600000001),
 ('National Identity Management Commission (Nimc)', 9.895973, 8.931434),
 ('National Identity Management Commission', 9.892294699999999, 8.9175658),
 ('National Identity Management Commission', 9.8572331, 7.967971899999998),
 ('National Identity Management Commission (Nimc)',
  7.711655800000001,
  8.5265235),
 ('National Identity Management Commission', 11.9899944, 8.4891647),
 ('National Identity Management Commission (Nimc)', 10.310332, 9.826602),
 ('National Identity Management Commission (Nimc)', 10.592473, 7.449456),
 ('National Identity Management Center', 5.4717813, 7.0083439),
 ('National Identity Management Commision (NIMC) Lagos', 6.617086, 3.357951),
 ('National Identity Management Commission',
  6.460105899999999,
  7.579008999999999),
 ('National Identity Management Commission (Nimc)', 9.07677, 7.493777),
 ('National Identity Management Commission Umuahia',
  5.5025021,
  7.517955600000001),
 ('National Identity Management Commission', 4.822006, 7.0079724),
 ('National Identity Management Commission (Nimc)', 11.988203, 8.496804),
 ('National Identity Management Commission, Northwest Zonal Office',
  10.5436173,
  7.4609879),
 ('National Identity Management Commission Nimc', 4.8496083, 7.0527365)]

In [570]:
dict_output( places_result )

([9.065977,
  8.450151,
  8.50573,
  9.058854499999999,
  9.895973,
  9.892294699999999,
  9.8572331,
  7.711655800000001,
  11.9899944,
  10.310332,
  10.592473,
  5.4717813,
  6.617086,
  6.460105899999999,
  9.07677,
  5.5025021,
  4.822006,
  11.988203,
  10.5436173,
  4.8496083],
 [7.4549606,
  4.542503,
  8.531774799999999,
  7.468077600000001,
  8.931434,
  8.9175658,
  7.967971899999998,
  8.5265235,
  8.4891647,
  9.826602,
  7.449456,
  7.0083439,
  3.357951,
  7.579008999999999,
  7.493777,
  7.517955600000001,
  7.0079724,
  8.496804,
  7.4609879,
  7.0527365],
 ['National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission NIMC',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Center',
  'National Identity Management Commision (NIMC) Lagos',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission Umuahia',
  'National Identity Management Commission',
  'National Identity Management Commission (Nimc)',
  'National Identity Management Commission, Northwest Zonal Office',
  'National Identity Management Commission Nimc'])