In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 120)
START = "2022-01-01"
END = "2025-12-18"

In [2]:
# --- Yahoo Finance via yfinance: US tickers (real market yh_df) ---
tickers = ["SPY", "QQQ", "TLT", "GLD", "EEM"]
# SPY : S&P 500 index
# QQQ : Nasdaq-100 index
# TLT : U.S. Treasury bonds with 20+ year maturity
# GLD : Physical gold prices
# EEM : MSCI Emerging Markets index

try:
    import yfinance as yf
except Exception as e:
    yf = None
    print("Could not import yfinance:", type(e).__name__, str(e))

if yf is not None:
    try:
        yh_df = yf.download(tickers, start=START, end=END, auto_adjust=True, progress=False)
    except Exception as e:
        yh_df = pd.DataFrame()
        print("yfinance download failed:", type(e).__name__, str(e))
else:
    yh_df = pd.DataFrame()

# Convert to long format: date, ticker, close, volume
if isinstance(yh_df, pd.DataFrame) and yh_df.shape[0] > 0:
    if isinstance(yh_df.columns, pd.MultiIndex):
        close = yh_df["Close"].copy()
        vol = yh_df["Volume"].copy()
    else:
        close = yh_df[["Close"]].rename(columns={"Close": tickers[0]})
        vol = yh_df[["Volume"]].rename(columns={"Volume": tickers[0]})

    close.index.name = "date"
    vol.index.name = "date"

    us_close_long = close.reset_index().melt(id_vars="date", var_name="ticker", value_name="close")
    us_vol_long = vol.reset_index().melt(id_vars="date", var_name="ticker", value_name="volume")
    us_mkt = us_close_long.merge(us_vol_long, on=["date","ticker"], how="inner").dropna(subset=["close"])
else:
    us_mkt = pd.DataFrame(columns=["date","ticker","close","volume"])

us_mkt.head(), us_mkt.shape

(        date ticker      close    volume
 0 2022-01-03    EEM  44.624966  27572700
 1 2022-01-04    EEM  44.470776  24579500
 2 2022-01-05    EEM  43.745163  46425100
 3 2022-01-06    EEM  43.944710  34288700
 4 2022-01-07    EEM  44.343792  32640900,
 (4970, 4))

### 3.2.2 From NumPy array to Series 

Using `us_mkt`:

1. Filter to `ticker == "SPY"`.
2. Take `close` as a NumPy array.
3. Create a Series indexed by `date` named `SPY_close_series`.
4. Compute the mean/min/max with Series methods.

In [11]:
# 1) Filter to ticker == "SPY"
spy_df = us_mkt[us_mkt["ticker"] == "SPY"].copy()
spy_df["date"] = pd.to_datetime(spy_df["date"])
spy_df = spy_df.sort_values("date") #just to make sure is in order
print(spy_df)

           date ticker       close     volume
2982 2022-01-03    SPY  451.875122   72668200
2983 2022-01-04    SPY  451.723785   71178700
2984 2022-01-05    SPY  443.049774  104538900
2985 2022-01-06    SPY  442.633545   86858900
2986 2022-01-07    SPY  440.883575   85111600
...         ...    ...         ...        ...
3971 2025-12-11    SPY  687.139526   86173700
3972 2025-12-12    SPY  679.751404  113160300
3973 2025-12-15    SPY  678.724426   90811000
3974 2025-12-16    SPY  676.869934  122030600
3975 2025-12-17    SPY  669.421936  110625200

[994 rows x 4 columns]

In [7]:
# 2) Take close as a NumPy array
spy_close_np = spy_df["close"].to_numpy()
print(spy_close_np)

[451.87512207 451.7237854  443.04977417 442.63354492 440.88357544
 440.33499146 444.34564209 445.54696655 439.40795898 439.58764648
 431.80270386 427.31903076 422.58950806 414.29379272 416.05316162
 410.97357178 409.94256592 407.91827393 418.04907227 425.57858276
 428.45422363 432.61624146 422.44769287 424.43414307 423.07196045
 426.55288696 432.79602051 425.02041626 416.63961792 415.27758789
 421.97460938 422.44769287 413.42355347 410.74655151 406.33853149
 399.13070679 405.13726807 414.07620239 413.01681519 406.72637939
 414.2086792  412.14651489 408.79797363 396.74694824 393.73898315
 404.29547119 402.4697876  397.35235596 394.44839478 403.12249756
 412.06137085 417.21670532 421.7862854  421.6630249  426.59713745
 421.10314941 427.45101929 429.5385437  432.59384155 437.94546509
 435.24118042 428.54223633 429.75680542 433.43832397 427.96343994
 423.68405151 425.81900024 424.68041992 417.42163086 415.87496948
 420.63827515 415.40054321 415.57131958 422.27975464 421.9666748
 415.65673828 404.25146484 406.59512329 394.81985474 395.93002319
 405.93093872 390.92953491 393.28265381 395.08551025 407.11700439
 392.64691162 390.30325317 377.80682373 378.67974854 372.66400146
 372.27493286 381.17526245 379.62863159 387.43774414 371.81945801
 369.54220581 369.70358276 376.62075806 373.74572754 377.04769897
 384.58157349 394.02279663 391.81195068 388.64273071 396.04388428
 389.54412842 390.73022461 394.47824097 390.18936157 380.90957642
 369.86489868 355.82171631 354.74957275 359.80700684 347.89874268
 348.64880371 357.42550659 356.77749634 360.27487183 371.72940063
 370.30950928 362.74304199 362.4475708  359.50289917 363.30523682
 363.99142456 365.22073364 370.69064331 370.38574219 366.15463257
 362.91455078 361.00854492 360.13192749 367.01229858 363.98187256
 373.81637573 376.19869995 380.0296936  376.50369263 376.96109009
 372.5012207  382.17376709 386.96722412 392.6086731  391.44604492
 388.86358643 394.95297241 394.68612671 394.01898193 393.56164551
 391.99884033 400.2322998  400.2322998  407.0078125  408.68508911
 409.48556519 406.57897949 407.76077271 402.28118896 393.90472412
 392.95172119 394.20962524 399.77490234 386.2428894  383.68902588
 379.47692871 376.58944702 377.77114868 373.78781128 372.37741089
 379.06719971 381.5447998  387.47229004 391.63665771 374.60733032
 376.03674316 371.76754761 368.93133545 371.79238892 367.52471924
 361.11364746 358.08041382 352.08081055 348.59777832 347.70800781
 354.54953003 347.14337158 341.77536011 350.79864502 361.66870117
 360.82662964 357.10443115 347.14337158 344.49282837 342.31121826
 341.18200684 350.18624878 342.20596313 350.99957275 355.12368774
 352.60708618 349.65042114 358.1473999  362.52984619 368.31893921
 365.54403687 363.59204102 372.24212646 369.55331421 367.93615723
 358.70236206 355.0088501  360.11849976 363.56332397 365.52490234
 357.99432373 377.6675415  381.32284546 378.07901001 381.30368042
 378.39480591 377.23696899 378.94979858 377.57183838 382.65286255
 385.06417847 384.9781189  378.83499146 378.18426514 390.09725952
 389.81030273 389.3605957  382.35617065 376.84460449 376.20352173
 379.1506958  376.31835938 381.74383545 384.63357544 382.17437744
 372.82583618 368.42416382 365.30004883 365.79989624 371.26953125
 365.97296143 368.078125   366.62661743 362.07022095 368.58755493
 367.61669922 366.06906128 368.8951416  364.68487549 373.04785156
 372.83639526 375.4510498  380.19967651 381.58389282 383.0642395
 382.36254883 376.32577515 373.58615112 380.54574585 385.11175537
 384.69842529 384.84259033 389.07214355 389.96612549 385.07324219
 390.73516846 394.8878479  400.63616943 396.37774658 393.9553833
 399.10775757 394.74353027 391.3215332  392.23474121 396.83917236
 396.65649414 397.94464111 392.46539307 391.48492432 383.63140869
 383.10272217 385.140625   381.02636719 382.32406616 380.91101074
 379.44992065 382.40097046 388.53381348 388.802948   382.84310913
 383.46798706 376.39306641 370.96191406 370.43319702 376.55648804
 374.20141602 380.76678467 376.31460571 379.93307495 384.92181396
 378.36029053 379.38311768 381.87261963 382.58670044 381.72796631
 387.2762146  389.54385376 395.03436279 396.53970337 394.33959961
 393.30712891 394.84130859 395.24664307 395.35275269 393.74133301
 398.97125244 397.99661255 399.42477417 399.68533325 399.61776733
 397.43704224 397.74581909 398.16070557 391.84036255 390.18075562
 397.94845581 401.34494019 400.93969727 396.4335022  393.71234131
 390.92373657 398.16070557 398.26681519 396.52032471 398.37301636
 397.67828369 397.15719604 398.52737427 395.86416626 400.66952515
 404.52932739 403.94064331 404.10476685 399.56951904 396.67471313
 400.1098938  405.29162598 405.4460144  403.19766235 407.0284729
 412.9145813  412.12329102 413.0206604  411.59262085 414.0821228
 414.82513428 418.58840942 421.34805298 421.84985352 427.07977295
 425.62506104 423.4168396  421.24734497 422.76794434 419.5718689
 417.85757446 422.43869019 422.6517334  424.31750488 429.3248291
 429.8187561  429.17947388 425.81878662 424.7437439  425.81878662
 428.53060913 431.97854614 435.40710449 435.13595581 436.64678955
 439.89135742 440.86953735 437.94467163 437.94467163 439.90106201
 441.10202026 441.16976929 438.24487305 442.53546143 443.37802124
 442.10934448 435.95922852 434.70977783 432.74365234 436.52090454
 434.62261963 431.71707153 431.87194824 431.62017822 434.00274658
 428.94711304 425.79937744 422.55487061 422.75827026 425.50888062
 424.35632324 429.08267212 423.13601685 426.11898804 428.82119751
 435.01980591 436.81149292 436.17224121 436.98583984 435.09719849
 432.17230225 430.84536743 431.49429321 434.33209229 431.94949341
 432.45315552 436.18191528 430.92666626 431.17938232 430.28521729
 426.32943726 419.28289795 418.34011841 420.09936523 413.92755127
 414.09274292 416.49346924 415.4826355  415.31741333 409.75793457
 412.74179077 412.58627319 417.48480225 420.15768433 422.34451294
 424.07455444 421.48919678 419.38980103 423.80239868 423.78292847
 418.13598633 414.46206665 409.36914062 408.65960693 411.74066162
 405.83126831 400.97161865 399.15408325 403.92633057 406.46307373
 410.79788208 418.67059326 422.49026489 423.46221924 424.66741943
 424.97842407 421.66409302 428.24414062 427.83590698 436.13619995
 437.05957031 437.59417725 438.13845825 441.51104736 440.54882812
 442.24969482 442.52185059 441.72491455 442.16223145 441.85119629
 443.5909729  446.21517944 443.87283325 443.78540039 441.99700928
 445.36959839 447.28439331 449.02410889 451.07485962 457.29528809
 458.76287842 458.00750732 460.5838623  463.38461304 456.96337891
 461.29626465 462.22332764 464.17507935 465.01434326 465.19000244
 463.84332275 461.24749756 457.48059082 456.00701904 456.63156128
 463.15045166 462.44775391 465.06317139 464.8581543  465.18023682
 463.47247314 460.89614868 464.99478149 470.79150391 471.78692627
 473.16287231 473.68014526 476.25646973 475.65133667 479.41824341
 479.04742432 471.23065186 477.39825439 482.42398071 480.66732788
 482.06292725 486.08349609 486.29818726 489.10870361 488.89404297
 482.16043091 486.54211426 489.8991394  487.45947266 484.77584839
 485.21496582 495.25671387 495.5982666  493.78314209 494.70046997
 494.04663086 495.82269287 500.4776001  499.94091797 494.94439697
 497.4524231  502.39038086 499.37487793 498.94555664 504.31289673
 503.52236938 502.52694702 499.07629395 502.04241943 504.83236694
 509.50161743 511.18545532 510.21633911 508.80664062 507.86685181
 512.1348877  512.03710938 511.14627075 507.89633179 508.45425415
 502.24798584 507.4949646  507.77880859 508.3661499  503.27587891
 507.07397461 500.07485962 493.80981445 492.90921021 489.99200439
 488.98379517 484.71575928 489.17959595 494.98449707 494.74960327
 492.87002563 497.53945923 499.30148315 491.39193726 489.79629517
 494.37759399 500.50558472 505.67416382 506.23220825 506.28106689
 509.19824219 509.85415649 509.92260742 512.26226807 518.60552979
 517.53857422 518.28253174 518.87969971 520.15228271 518.65460205
 514.86608887 518.27270508 518.63500977 515.00317383 511.58682251
 516.24639893 516.6673584  517.24493408 523.39233398 523.38262939
 522.74621582 524.36151123 525.62432861 529.94122314 531.00830078
 531.33135986 535.56011963 536.9208374  535.46234131 534.74450684
 533.00610352 535.05871582 535.72650146 536.57104492 534.45965576
 535.55957031 539.16375732 541.56982422 544.69281006 545.32128906
 545.85162354 551.25292969 546.49975586 549.94689941 551.45922852
 554.72955322 546.95153809 542.74822998 539.14404297 544.70257568
 543.84820557 531.52331543 528.75378418 534.67572021 534.9899292
 532.27954102 540.93145752 533.2713623  523.34265137 508.1010437
 512.78540039 509.35803223 521.13305664 523.43109131 523.70605469
 532.31872559 533.99810791 543.15093994 544.36871338 549.57373047
 548.67993164 550.56549072 546.24438477 552.04840088 550.73248291
 551.48864746 548.28717041 548.33612061 553.57061768 542.17877197
 541.06890869 539.75299072 530.66882324 536.61029053 538.94763184
 544.47680664 549.06298828 551.93066406 552.74578857 552.97155762
 551.331604   560.73968506 559.77044678 561.16912842 562.77490234
 561.53363037 563.76000977 562.94238281 565.19818115 560.13482666
 560.37121582 559.34686279 564.42980957 559.3270874  564.61694336
 568.52783203 567.53283691 570.93133545 575.60058594 571.12835693
 573.61071777 573.66003418 575.86657715 574.9208374  574.61547852
 569.36505127 570.59643555 570.39929199 572.16271973 573.08868408
 571.35498047 560.15454102 562.51867676 561.30712891 568.09436035
 582.22039795 586.7220459  589.26367188 589.82513428 587.99279785
 588.27856445 584.49584961 577.00921631 579.37347412 581.49133301
 581.68847656 584.81103516 586.62359619 588.61346436 591.68695068
 589.89404297 593.55847168 594.62237549 594.89831543 598.59222412
 597.60717773 598.7401123  595.65679932 593.80480957 598.39532471
 595.31207275 595.19378662 597.73522949 595.27264404 577.53137207
 577.35400391 584.28863525 587.78753662 594.32080078 594.36035156
 588.10375977 581.39257812 579.27746582 577.85424805 585.0793457
 588.44976807 581.7979126  582.64782715 573.7522583  574.64190674
 575.43261719 585.89971924 584.77301025 590.64404297 596.05041504
 599.40112305 602.67279053 600.91326904 592.41320801 597.50341797
 594.82489014 598.01733398 594.8347168  590.83172607 594.79516602
 597.20684814 599.28253174 593.79699707 597.82958984 598.28424072
 596.35681152 602.6529541  602.62329102 604.39245605 605.8157959
 603.29541016 592.97662354 590.27832031 587.3427124  587.63922119
 578.25933838 587.28344727 576.9942627  570.16442871 576.2925415
 566.06262207 569.23535156 554.07342529 549.46746826 552.38323975
 545.01971436 556.27752686 560.56719971 554.50830078 560.54742432
 558.92651367 559.11083984 569.12365723 570.49169922 563.68109131
 562.18408203 550.8626709  554.56048584 556.12683105 559.64624023
 532.06640625 500.91763306 500.02539062 492.19363403 543.88348389
 520.05096436 529.33013916 534.4654541  532.96850586 521.12164307
 521.86517334 509.44338989 522.69793701 530.79736328 541.97015381
 545.88604736 546.09423828 549.53424072 549.75231934 553.64837646
 561.86682129 558.64483643 553.97558594 556.30529785 560.18157959
 559.4677124  577.95672607 581.77349854 582.51702881 585.36224365
 589.06988525 589.71429443 587.73156738 577.82781982 578.0559082
 574.11016846 586.04632568 582.65582275 584.95574951 584.30151367
 587.59283447 590.94360352 590.78503418 587.92987061 593.96728516
 594.50262451 597.87329102 596.16815186 598.53747559 591.84570312
 597.47674561 592.37121582 592.28198242 590.89099121 596.72747803
 603.31964111 603.65771484 608.38061523 611.40325928 614.32647705
 614.12768555 616.91174316 621.77386475 617.14031982 616.80236816
 620.50109863 622.2510376  620.06365967 621.24682617 618.59204102
 620.66015625 624.45837402 624.0010376  625.18426514 625.27374268
 630.59320068 630.80200195 633.46673584 633.30767822 631.63726807
 630.84179688 628.4753418  618.17437744 627.57055664 624.38879395
 629.17138672 628.64440918 633.54626465 632.29345703 639.02484131
 641.21234131 641.27197266 639.77056885 639.63140869 636.16125488
 634.47094727 631.92559814 641.62994385 638.80609131 641.48077393
 642.94238281 645.21929932 641.37139893 636.61871338 640.06884766
 645.41821289 643.54888916 645.12988281 646.62127686 648.49053955
 653.87969971 653.66082764 657.14093018 656.23614502 655.4208374
 658.48321533 661.74462891 664.87536621 661.25610352 659.15222168
 656.11126709 659.87017822 661.72467041 664.21728516 666.48065186
 667.24829102 667.23840332 669.63128662 667.14862061 671.12689209
 669.18261719 651.09606934 661.08654785 660.27893066 663.21026611
 658.69366455 662.43261719 669.32220459 669.31219482 665.83251953
 669.78088379 675.25469971 683.22113037 685.0357666  685.36480713
 677.8270874  680.05053711 681.32678223 673.25061035 675.58374023
 668.33514404 668.99316406 679.43237305 680.98773193 681.36663818
 670.05999756 669.95037842 663.70880127 658.13531494 660.67779541
 650.60754395 657.08837891 666.75976562 673.03125    677.67755127
 681.37658691 678.26580811 679.52209473 681.87512207 682.37365723
 683.6697998  681.61590576 681.02758789 685.54431152 687.13952637
 679.75140381 678.72442627 676.86993408 669.42193604]

In [9]:
# 3) Create a Series indexed by date named SPY_close_series
SPY_close_series = pd.Series(spy_close_np, index=spy_df["date"], name="SPY_close_series")
print(SPY_close_series)

date
2022-01-03    451.875122
2022-01-04    451.723785
2022-01-05    443.049774
2022-01-06    442.633545
2022-01-07    440.883575
                 ...
2025-12-11    687.139526
2025-12-12    679.751404
2025-12-15    678.724426
2025-12-16    676.869934
2025-12-17    669.421936
Name: SPY_close_series, Length: 994, dtype: float64

In [10]:
# 4) Compute the mean/min/max with Series methods
SPY_close_series.mean(), SPY_close_series.min(), SPY_close_series.max()

(np.float64(485.6085843061297),
 np.float64(341.1820068359375),
 np.float64(687.1395263671875))

### 3.2.3 From Dictionary to Series 

Using `us_mkt`:

1. Compute the **last available close** for each ticker in `tickers`.
2. Store it in a dict `{ticker: last_close}`.
3. Convert to a Series and sort descending.

In [13]:
# 3.2.3 From Dictionary to Series

# make sure date is datetime 
us_mkt_sorted = us_mkt.copy()
us_mkt_sorted["date"] = pd.to_datetime(us_mkt_sorted["date"])
us_mkt_sorted = us_mkt_sorted.sort_values("date")
# 1) Compute the last available close for each ticker in tickers
last_close_series = us_mkt_sorted.groupby("ticker")["close"].last().reindex(tickers)
print(last_close_series)

ticker
SPY    669.421936
QQQ    599.637390
TLT     87.459633
GLD    399.290009
EEM     52.599998
Name: close, dtype: float64

In [15]:
# 2) Store it in a dict {ticker: last_close}
last_close_dict = last_close_series.to_dict()
print(last_close_dict)

{'SPY': 669.4219360351562, 'QQQ': 599.6373901367188, 'TLT': 87.45963287353516, 'GLD': 399.2900085449219, 'EEM': 52.599998474121094}

In [16]:
# 3) Convert to a Series and sort descending
pd.Series(last_close_dict).sort_values(ascending=False)

SPY    669.421936
QQQ    599.637390
GLD    399.290009
TLT     87.459633
EEM     52.599998
dtype: float64

### 3.2.4 Series vs NumPy 

Goal: show why pandas alignment matters.

1. Create two Series indexed by date:
   - df mid-rate from `df`
   - SPY close from `us_mkt`
2. Combine them into a yh_dfFrame (pandas aligns on dates).
3. Separately, build two NumPy arrays by truncating to the same length.
4. In markdown: explain why alignment is safer.

### 3.3.6 Dealing with Nulls 
Using `us_mkt`:

1. Copy `us_mkt` to `us_mkt_nan`.
2. Set 1% of `close` to NaN (fixed random seed).
3. Create:
   - `us_drop`: drop NaNs
   - `us_fill`: fill NaNs with ticker-specific median close
4. Compare shapes.

### 3.3.7 Duplicates 

1. Create `dup_df` by stacking the last 5 rows of `us_mkt` twice.
2. Detect duplicates using `.duplicated()`.
3. Remove them using `.drop_duplicates()`.

### 3.3.8 Groupby 


Using `us_mkt`:

1. Group by `ticker` and compute:
   - mean close
   - median close
   - max volume
2. Rename columns clearly.
3. Sort by mean close descending.

### 3.3.9 Reshape 

1. Create a 1-row wide yh_dfFrame with last closes per ticker.
2. Convert it to long format with `melt()` into columns: `ticker`, `last_close`.
3. Pivot `us_mkt` into a wide table: index=`date`, columns=`ticker`, values=`close` (keep first 50 dates).

In [13]:
#Solutions for 3.3.9
# Create a 1-row wide DataFrame with the last close for each ticker
last_closes = (
    us_mkt
    .sort_values("date") # Sort data by date to make sure we keep the most recent observation
    .groupby("ticker", as_index=False) # Group by ticker and take the last available close price
    .last()[["ticker", "close"]] # Keep only ticker and close columns
    .set_index("ticker") 
    .T # Transpose the DataFrame to get a single-row wide format
)
last_closes

ticker        EEM         GLD        QQQ         SPY        TLT
close   52.599998  399.290009  599.63739  669.421936  87.459633

In [14]:
# Convert the wide DataFrame to long format
last_closes_long = last_closes.melt( # Convert the wide DataFrame into long format
    var_name="ticker",
    value_name="last_close" # Each row represents the last close of one ticker
)
last_closes_long

  ticker  last_close
0    EEM   52.599998
1    GLD  399.290009
2    QQQ  599.637390
3    SPY  669.421936
4    TLT   87.459633

In [16]:
# Pivot us_mkt into a wide table (date x ticker) keeping first 50 dates
us_mkt_wide = (
    us_mkt
    .pivot(index="date", columns="ticker", values="close") # Pivot the market data to create a wide table,rows are dates and columns are tickers
    .sort_index() # Sort dates in ascending order
    .head(50) # Keep only the first 50 available dates
)
us_mkt_wide

ticker            EEM         GLD         QQQ         SPY         TLT
date
2022-01-03  44.624966  168.330002  391.679443  451.875183  125.295334
2022-01-04  44.470772  169.570007  386.599182  451.723846  124.774353
2022-01-05  43.745167  169.059998  374.722412  443.049744  124.097084
2022-01-06  43.944706  166.990005  374.459137  442.633514  124.418388
2022-01-07  44.343792  167.750000  370.402649  440.883545  123.523994
2022-01-10  44.343792  168.259995  370.646423  440.334930  123.827965
2022-01-11  45.368717  170.289993  376.214294  444.345612  124.652779
2022-01-12  46.121532  170.740005  377.706238  445.546906  124.175262
2022-01-13  45.468487  170.160004  368.257446  439.407959  125.277977
2022-01-14  45.450352  169.669998  370.548981  439.587738  123.385139
2022-01-18  44.643108  169.389999  361.324493  431.802704  121.648537
2022-01-19  44.833576  172.080002  357.355835  427.319122  122.490753
2022-01-20  45.096619  171.649994  352.714355  422.589539  123.246162
2022-01-21  44.443565  171.089996  342.934052  414.293762  124.713585
2022-01-24  43.817722  172.029999  344.503937  416.053223  123.689018
2022-01-25  43.736092  172.580002  336.517914  410.973633  123.489281
2022-01-26  43.182816  169.789993  335.991302  409.942535  121.995827
2022-01-27  42.683960  167.600006  332.607697  407.918365  124.236053
2022-01-28  42.892574  167.100006  343.041229  418.049103  124.279442
2022-01-31  44.298439  168.089996  354.011200  425.578644  123.636917
2022-02-01  44.570545  168.229996  356.419739  428.454163  123.226479
2022-02-02  44.497990  168.839996  359.315826  432.616241  123.643829
2022-02-03  44.026337  168.600006  344.747742  422.447632  122.678688
2022-02-04  44.135178  168.860001  349.096802  424.434082  120.870125
2022-02-07  44.044476  170.110001  346.288330  423.071960  120.948418
2022-02-08  44.470772  170.630005  350.179047  426.552917  120.139793
2022-02-09  45.169174  171.210007  357.599670  432.795929  120.365837
2022-02-10  44.869862  170.559998  349.506195  425.020538  118.452927
2022-02-11  44.189606  173.809998  338.419342  416.639648  120.209312
2022-02-14  43.881222  174.740005  338.838654  415.277527  118.713715
2022-02-15  44.833576  173.080002  347.263489  421.974640  117.366020
2022-02-16  45.160103  174.860001  347.175720  422.447632  118.061623
2022-02-17  44.634041  177.250000  336.849365  413.423553  118.939827
2022-02-18  44.189606  177.119995  333.007599  410.746613  120.191933
2022-02-22  43.563759  177.490005  329.662933  406.338623  120.504967
2022-02-23  43.055840  178.289993  321.218506  399.130676  118.844193
2022-02-24  42.166965  177.139999  332.012878  405.137299  118.922440
2022-02-25  42.946991  176.550003  337.161499  414.076294  119.009407
2022-02-28  42.384644  178.380005  338.165833  413.016815  121.617897
2022-03-01  41.822300  181.619995  332.987976  406.726410  123.024055
2022-03-02  41.894863  179.729996  338.575378  414.208649  118.818733
2022-03-03  41.305302  180.800003  333.738831  412.146545  120.028969
2022-03-04  40.470852  183.679993  328.902252  408.797974  122.101143
2022-03-07  38.956142  186.410004  316.772003  396.746979  121.169518
2022-03-08  39.083126  191.509995  315.299622  393.738983  119.950615
2022-03-09  40.189682  185.820007  326.649780  404.295380  118.775192
2022-03-10  39.436855  186.399994  323.022369  402.469818  117.068718
2022-03-11  38.611477  185.089996  316.323547  397.352417  117.460541
2022-03-14  37.677261  182.300003  310.248596  394.448395  114.717964
2022-03-15  37.731678  178.889999  319.980103  403.122559  114.517715