# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [24]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [25]:
#1. Print the first item of the second item of tuple1 object.
#Recordamos que el [1] repreenta el segundo elemento de la tupla (lista 2.)
#También sabemos que [0] es el primero elemento de la lista requerida (como sabemos, los índices inician desde cero).
print(tuple1[1][0])

10

In [26]:
#2. Print the last item of the tuple1 object.
#Como tuple1 es una tupla con 3 ítems que son listas, al pedirle el últipo ítem de la tupla da como resultado el último ítem (lista) de la tupla.
print(tuple1[-1])

(5, 15, 25)

In [ ]:
#3. Change the value "orange" for "pink grapefruit". Comment the output. Hint: Is it possible?
# NO es posible modificar las tuplas en python directamente. Tal como se mencionó en clase, al ocupar menos espacio en la memoria pierden la posibilidad de ser modificados.

In [27]:
#4. Print the length of tuple1
#Utilizamos la función len() para poder tener la cantidad de elementos existentes en la tupla.
print(len(tuple1))

3

In [28]:
#5. Sum all the elements of tuple2 and describe your steps and explain each of them.
#1° tuple2 contiene 3 listas de números.
#2° utilizamos la función sum porque suma los valores numéricos en cada lista.
#3° con map nos aseguraremos de que la suma se aplique en cada elemento (listas) que hay en tuple2
#4° finalmente utilizamos list para que las convierta en una lista y se pueda utilizar posteriormente.
list(map(sum, tuple2))

[15, 10, 17]

In [29]:
#6. Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists.
#1° [i / 2 for i in s] nos va a ayudar a tomar cada elemento de la lista y dividirlo entre 2
#2° la función lambda s: será utilizada para que map pueda trabajar y se aplique a cada elemento 
#3° como se mencionó en el ejercicio anterior, map será el que indica cómo será repartido la petición de dividir los elementos.
#4° finalmente, con la función tuple crearemos la tupla requerida inicialmente 
#
tuple3 = tuple(map(lambda s: [i / 2 for i in s], tuple2))
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [30]:
import numpy as np

In [31]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [32]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [33]:
p2_list = [ 2 , 3, 4, 5 ]

In [34]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [35]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [36]:
#1. Show the indices of the np.nan values in the f_list list. We want to see this output: The indices 0, 1, 4, 7 have np.nan values.
#1° Usamos la función enumerate para que nos devuelva la posición del objeto y el valor que está en esa posición.
#2° Para asegurarnos de que los elementos sean del mismo tipo (números), usamos isinstance. Luego, aplicamos np.isnan() para poder verificar que el elemento corresponda a np.nan.
#3° Si lo anterior se cumple, el índice del elemento se guardará en la lista que estamos llamando nan_indices.
#4° Finalmente, usamos un f-string para imprimir el mensaje solicitado y join para poder motrar los índices separados por comas dentro del texto final.

nan_indices = [i for i, s in enumerate(f_list)
    if isinstance(s, (int, float)) and np.isnan(s)]

print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [37]:
#2. Replicate 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5].
#1° Le indicamos a pyhton que queremos multiplicar la lista y los elementos se van a repetir la cantidad de veces requerida manteniendo su orden inicial.
#2° Creamos una lista replicated_list que nos dará una nueva lista con valores repetidos.
replicated_list = p2_list * 4

print(replicated_list)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [38]:
#3. Print the length of f_list
#La función len permite saber el tamaño de una lista específica, en este cado f_list tiene 8 elementos.
print(len(f_list))

8

In [39]:
#4. Print My teacher assistant is so boring. using text1 list.
#join nos permite concatenar elementos de una lista en un solo texto. También permite añadir un espacio entre cada palabra.
print(" ".join(text1))

My teacher assistant is so boring.

In [40]:
#5. Print My TA is so boring, but is very funny.
#1° Reemplazamos 'teacher' y 'assistant' por 'TA' y quitamos el punto de 'boring.'
#2° Utilizamos la función extend para añadir lo requerido en text1
#3°Unimos la lista en un solo string y lo llamamos new_text1.
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

text1[1:3] = ['TA'] 
text1[4] = 'boring,'

text1.extend(['but', 'is', 'very', 'funny.'])

new_text1 = " ".join(text1)

print(new_text1)

My TA is so boring, but is very funny.

In [41]:
#6. Print 
#The max value of values1 is 86 and is located in the 0 index.
#The min value of values1 is 0 and is located in the 7 index.
#1° Debemos encontrar el valor máximo y mínimo, 
#2° así como su índice que nos dará la primera posición en la que el mayor número se encuentra.
#3° Luego, utilizando f-strings obtenemos el texto requerido añadiendo el resultado entre llaves.

values1 = [86, 86, 85, 85, 85, 83, 23, 0, 84, 1]

max_val = max(values1)
min_val = min(values1)

max_index = values1.index(max_val)
min_index = values1.index(min_val)

print(f"The max value of values1 is {max_val} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_val} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [42]:
#7. Get two lists: names and last_names using last_and_name list. 
#1° Usamos la función map para dividir cada elemento en una sublista. En este caso serán dos [Apellido, Nombre]
#2° "Descomprimimos" los resultados en dos listas usando zip(*) para que las separe y luego las agrupe según lo requerido
#Esto separa los primeros elementos de los segundos automáticamente

split_data = map(lambda x: x.split(", "), last_and_name)

last_names, names = map(list, zip(*split_data))

print("Names:", names)
print("Last Names:", last_names)

Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

In [43]:
#8. Give only the last names of students who do not have email. Use the emails and last_names
#1° Utilizaremos la función map para poder separar los nombres y apellidos
#2° Creamos una lista que solo contenga apellidos
#3° Con la función zip emparejaremos cada apellido con su email respectivo.
#4° Filtramos a los estudiantes que no tienen email (email vacío "") y nos quedamos solo con su apellido

split_data = map(lambda x: x.split(", "), last_and_name)

last_names = list(map(lambda x: x[0], split_data))

students = zip(emails, last_names)

no_email_last_names = list(
    map(lambda x: x.split()[0],
        [last for email, last in students if email == ""]))

print("Apellido de estudiantes sin email:", no_email_last_names)

Apellido de estudiantes sin email: ['HUANCAYA', 'CALVO', 'IBAÑEZ', 'MELÉNDEZ', 'CRISTIAN', 'ANGLAS', 'ALDAVE', 'NÚÑEZ', 'OBREGON', 'SOTO', 'INGARUCA', 'ROJAS', 'NEYRA', 'HUERTA', 'HUANCA']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [ ]:
str1 = 'I am                            too                                                        old'

In [18]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

# 1 Assignment (Part 2)

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 120)
START = "2022-01-01"
END = "2025-12-18"

In [2]:
# --- Yahoo Finance via yfinance: US tickers (real market yh_df) ---
tickers = ["SPY", "QQQ", "TLT", "GLD", "EEM"]
# SPY : S&P 500 index
# QQQ : Nasdaq-100 index
# TLT : U.S. Treasury bonds with 20+ year maturity
# GLD : Physical gold prices
# EEM : MSCI Emerging Markets index

try:
    import yfinance as yf
except Exception as e:
    yf = None
    print("Could not import yfinance:", type(e).__name__, str(e))

if yf is not None:
    try:
        yh_df = yf.download(tickers, start=START, end=END, auto_adjust=True, progress=False)
    except Exception as e:
        yh_df = pd.DataFrame()
        print("yfinance download failed:", type(e).__name__, str(e))
else:
    yh_df = pd.DataFrame()

# Convert to long format: date, ticker, close, volume
if isinstance(yh_df, pd.DataFrame) and yh_df.shape[0] > 0:
    if isinstance(yh_df.columns, pd.MultiIndex):
        close = yh_df["Close"].copy()
        vol = yh_df["Volume"].copy()
    else:
        close = yh_df[["Close"]].rename(columns={"Close": tickers[0]})
        vol = yh_df[["Volume"]].rename(columns={"Volume": tickers[0]})

    close.index.name = "date"
    vol.index.name = "date"

    us_close_long = close.reset_index().melt(id_vars="date", var_name="ticker", value_name="close")
    us_vol_long = vol.reset_index().melt(id_vars="date", var_name="ticker", value_name="volume")
    us_mkt = us_close_long.merge(us_vol_long, on=["date","ticker"], how="inner").dropna(subset=["close"])
else:
    us_mkt = pd.DataFrame(columns=["date","ticker","close","volume"])

us_mkt.head(), us_mkt.shape

(        date ticker      close    volume
 0 2022-01-03    EEM  44.624966  27572700
 1 2022-01-04    EEM  44.470768  24579500
 2 2022-01-05    EEM  43.745167  46425100
 3 2022-01-06    EEM  43.944710  34288700
 4 2022-01-07    EEM  44.343792  32640900,
 (4970, 4))

### 3.2.2 From NumPy array to Series 

Using `us_mkt`:

1. Filter to `ticker == "SPY"`.
2. Take `close` as a NumPy array.
3. Create a Series indexed by `date` named `SPY_close_series`.
4. Compute the mean/min/max with Series methods.

In [3]:
# 1° Filter the DataFrame to only SPY ticker rows
spy_data = us_mkt[us_mkt["ticker"] == "SPY"]

# 2° Extract the 'close' column as a NumPy array (loses date information)
spy_close_array = spy_data["close"].values

# 3° Create a pandas Series using the NumPy array as values and dates as index
# This restores the date information that was lost when converting to array
SPY_close_series = pd.Series(spy_close_array, index=spy_data["date"].values, name="SPY_close")

# 4° Use Series methods to compute statistics (mean, min, max)
print(f"Mean: {SPY_close_series.mean():.2f}")
print(f"Min: {SPY_close_series.min():.2f}")
print(f"Max: {SPY_close_series.max():.2f}")

Mean: 485.61
Min: 341.18
Max: 687.14

### 3.2.3 From Dictionary to Series 

Using `us_mkt`:

1. Compute the **last available close** for each ticker in `tickers`.
2. Store it in a dict `{ticker: last_close}`.
3. Convert to a Series and sort descending.

In [4]:
# 1° Use dictionary comprehension to get the last close price for each ticker
# Filter us_mkt by ticker, then use .iloc[-1] to get the last row's close value
last_close_dict = {ticker: us_mkt[us_mkt["ticker"] == ticker]["close"].iloc[-1]
                   for ticker in tickers}

# 2° Convert the dictionary to a pandas Series (keys become index, values become data)
last_close_series = pd.Series(last_close_dict)

# 3° Sort the Series in descending order by values (highest close prices first)
last_close_series = last_close_series.sort_values(ascending=False)

print(last_close_series)

SPY    669.421936
QQQ    599.637390
GLD    399.290009
TLT     87.459633
EEM     52.599998
dtype: float64

### 3.2.4 Series vs NumPy 

Goal: show why pandas alignment matters.

1. Create two Series indexed by date:
   - df mid-rate from `df`
   - SPY close from `us_mkt`
2. Combine them into a yh_dfFrame (pandas aligns on dates).
3. Separately, build two NumPy arrays by truncating to the same length.
4. In markdown: explain why alignment is safer.

In [5]:
# 1° Create first Series: mid-rate from yh_df (average of High and Low for SPY)
# Access MultiIndex columns with ["High"]["SPY"], compute average, remove NaN
mid_rate = ((yh_df["High"]["SPY"] + yh_df["Low"]["SPY"]) / 2).dropna()

# 2° Create second Series: SPY close prices from us_mkt with date as index
# Filter by ticker, set date as index, extract close column
spy_close = us_mkt[us_mkt["ticker"] == "SPY"].set_index("date")["close"]

# 3° Combine both Series into a DataFrame
# Pandas automatically aligns by date index (matching dates), creates NaN for missing dates
combined_df = pd.DataFrame({"mid_rate": mid_rate, "close": spy_close})
print("Pandas alignment:\n", combined_df.head(), f"\nShape: {combined_df.shape}")

# 4° Alternative approach: using NumPy arrays (manual truncation required)
# Find the minimum length between both series
min_len = min(len(mid_rate), len(spy_close))
# Truncate both arrays to the same length (assumes positions correspond to same dates!)
mid_array, close_array = mid_rate.values[:min_len], spy_close.values[:min_len]
print(f"\nNumPy arrays truncated to length: {min_len}")

Pandas alignment:
               mid_rate       close
2022-01-03  450.115787  451.875183
2022-01-04  451.941357  451.723785
2022-01-05  447.542861  443.049744
2022-01-06  442.808538  442.633545
2022-01-07  441.673424  440.883575
Shape: (994, 2)

NumPy arrays truncated to length: 994

**Why pandas alignment is safer:**
 Pandas aligns by index (dates), not position. Handles missing dates with NaN and different lengths automatically.
NumPy aligns by position only, requiring manual truncation and assuming positions match same dates.

### 3.3.6 Dealing with Nulls 
Using `us_mkt`:

1. Copy `us_mkt` to `us_mkt_nan`.
2. Set 1% of `close` to NaN (fixed random seed).
3. Create:
   - `us_drop`: drop NaNs
   - `us_fill`: fill NaNs with ticker-specific median close
4. Compare shapes.

### 3.3.7 Duplicates 

1. Create `dup_df` by stacking the last 5 rows of `us_mkt` twice.
2. Detect duplicates using `.duplicated()`.
3. Remove them using `.drop_duplicates()`.

### 3.3.8 Groupby 


Using `us_mkt`:

1. Group by `ticker` and compute:
   - mean close
   - median close
   - max volume
2. Rename columns clearly.
3. Sort by mean close descending.

### 3.3.9 Reshape 

1. Create a 1-row wide yh_dfFrame with last closes per ticker.
2. Convert it to long format with `melt()` into columns: `ticker`, `last_close`.
3. Pivot `us_mkt` into a wide table: index=`date`, columns=`ticker`, values=`close` (keep first 50 dates).