# Assignment 2 (Part 1)

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [1]:
#DEFINIMOS LOS DATOS
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [3]:
#PRINT THE FIRST ITEM OF THE SECOND ITEM OF tuple1 object using indexing
#COMO SABEMOS EL ÍNDICE 1 ACCEDE AL SEGUNDO ELEMENTO DE LA TUPLA 1
#EL ÍNDICE 0 ACCEDE AL PRIMER ELEMENTO DE ESA LISTA
print(tuple1[1][0])

10

In [4]:
#PRINT THE LAST ITEM OF THE tuple1 object using indexing
#RECORDEMOS QUE EL ÍNDICE -1 NOS PERMITE ACCEDER AL ÚLTIMO ELEMENTO DE LA TUPLA
print(tuple1[-1])

(5, 15, 25)

In [5]:
#CHANGE THE VALUE "ORANGE" FOR "PINK GRAPEFRUIT". COMMENT THE OUTPUT. IS IT POSSIBLE?
#COMO LO VIMOS EN CLASE, LAS TUPLAS NO SE PUEDEN MODIFICAR UNA VEZ CREADAS. ESTAS OCUPAN MENOS ESPACIO EN LA MEMORIA, LO QUE EVITA QUE PUEDAN SER MODIFICADAS

In [6]:
#PRINT THE LENGTH OF tuple1 USING LENGHT FUNCTION
#NOS PIDEN LA LONGITUD ES DECIR LA CANTIDAD DE ELEMENTOS QUE HAY EN LA TUPLA1, PARA ELLO USAMOS LA FUNCIÓN LEN(  ) 
print(len(tuple1))

3

In [7]:
#SUM ALL THE ELEMENTS OF tuple2 AND DESCRIBE YOUR STEPS AND EXPLAIN EACH OF THEM USING MAP FUNCTION.
#NOS PIDEN SUMAR TODOS LOS ELEMENTOS DE LA TUPLA2. 
#LA TUPLA2 CONTIENE 3 LSITAS DE NÚMEROS, PARA ELLO USAMOS LA FUNCIÓN SUM QUE SUMARÁ LOS ELEMENTOS NUMÉRICOS EN CADA LISTA
#LA FUNCIÓN MAP NOS ASEGURARÁ A QUE LA SUMA SE EJECUTE PARA CADA UNO DE LAS LISTAS
suma_total = sum(map(sum, tuple2))
print(suma_total)

42

In [9]:
#GENERATE A NEW TUPLE OBJECT NAMED AS tuple3 WITH THE HALF VALUES OF tuple2. THIS TUPLE SHOULD BE SIMILAR AS tuple2, TUPLE OF LISTS. USE MAP FUNCTION.
#PARA GENERAR LA TUPLA3 PRIMERO DEBEMOS DIVIDIR CADA ELEMENTO ENTRE 2 USANDO MAP
#ASIMISMO, LA TUPLA3 DEBE SER SIMILAR A LA TUPLA2 POR LO QUE DEBE CONTENER LISTAS. 
#COMO SABEMOS MAP NECESITA DE UNA FUNCIÓN, PARA ELLO USAREMOS LA FUNCIÓN LAMBDA QUE CREAR FUNCIONES MÁS RÁPIDAS Y CORTAS, PERMITIRÁ QUE SE APLIQUE EN CADA ELEMENTO
#x representa cada lista dentro de tuple2
#y representa cada número dentro de la lista
#FINALMENTE CON LA FUNCIÓN TUPLE SE CREARÁ LA NUEVA TUPLA "TUPLE3"
tuple3 = tuple(
    map(lambda x: list(map(lambda y: y / 2, x)), tuple2))

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [15]:
#1. SHOW THE INDICES OF THE np.nan VALUES IN THE f_list. WE WANT TO SEE THIS OUTPUT: THE INDICES 0, 1, 4, 7 HAVE np.nan values. USING PRINT FUNCTION AND F-STRINGS TO INSERT THE INDICES VALUES
import numpy as np
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan]

In [16]:
#NOS PIDEN MOSTRAR LOS INDICES DE NP.NAN DE LA LISTA, PARA ELLO USAREMOS LA FUNCIÓN ENUMERATE QUE NOS DIRÁ LA POSICIÓN Y EL VALOR DE CADA ELEMENTO.
#PARA EVITAR ERRORES CON VALORES QUE NO SON NUMÉRICOS (COMO STRINGS), USAMOS ISINSTANCE PARA VERIFICAR QUE EL ELEMENTO SEA DE TIPO INT O FLOAT. LUEGO EJECUTAMOS NP.ISNAN() PARA COMPROBAR QUE ESE VALOR NUMÉRICO SEA NP.NAN.
#SI AMBAS CONDICIONES SE CUMPLEN, EL ÍNDICE DEL ELEMENTO SE GUARDA EN LA LISTA NAN_INDICES.
#FINALMENTE, USAMOS UN F-STRING PARA IMPRIMIR EL MENSAJE SOLICITADO Y LA FUNCIÓN JOIN (JUNTO CON MAP(STR)) PARA MOSTRAR LOS ÍNDICES SEPARADOS POR COMAS.
nan_indices = [
    i for i, x in enumerate(f_list)
    if isinstance(x, (int, float)) and np.isnan(x)]
print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values. ")

The indices 0, 1, 4, 7 have np.nan values.

In [17]:
#2. REPLICATE 4 times the values of the list p2_list. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in lists and see the output.
#USAMOS EL OPERADOR * PARA INDICAR QUE QUEREMOS REPETIR LA LISTA COMPLETA UN NÚMERO DETERMINADO DE VECES
#COMO SABEMOS, EN PYTHON AL MULTIPLICAR UNA LISTA ELLO NO MULTIPLICA LOS VALORES, SINO QUE REPITE LA SECUENCIA MANTENIENDO SU ORDEN ORIGINAL.
#CREAMOS UNA NUEVA LISTA LLAMADA lista_replicada DONDE SE ALMACENARÁ EL RESULTADO DE REPETIR p2_list 4 veces.
p2_list = [2, 3, 4, 5]
lista_replicada = p2_list * 4
print(lista_replicada)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [18]:
#3. Print the length of f_list. Hint: Length function
#USAMOS LA FUNCIÓN len() PARA OBTENER EL NÚMERO TOTAL DE ELEMENTOS QUE CONTIENE LA LISTA
#APLICAMOS len() SOBRE LA LISTA f_list QUE CONTIENE 8 ELEMENTOS Y USAMOS print() PARA MOSTRAR EL RESULTADO.
print(len(f_list))

8

In [19]:
#4. Print My teacher assistant is so boring. using text1 list. Hint: Use the join function.
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']
#USAMOS LA FUNCION join() PARA UNIR TODOS LOS ELEMENTOS DE LA LISTA text1 EN UN SOLO STRING
#EL STRING " " INDICA QUE QUEREMOS SEPARAR CADA PALABRA CON UN ESPACIO AL MOMENTO DE UNIRLAS
#FINALMENTE, USAMOS print() PARA MOSTRAR EL TEXTO COMPLETO EN PANTALLA
print(" ".join(text1))

My teacher assistant is so boring.

In [20]:
#5. Print My TA is so boring, but is very funny. using text1 list.Hint: Use the join function, and extend method
#EMPEZAMOS DESDE LA LISTA text1, QUE CONTIENE EL TEXTO ORIGINAL
#REEMPLAZAMOS LAS PALABRAS 'teacher' y 'assistant' por 'TA'
#MODIFICAMOS 'boring.' por 'boring,' PARA QUE LA ORACIÓN CONTINÚE CON UNA COMA.
#USAMOS EL MÉTODO extend() PARA AGREGAR NUEVAS PALABRAS AL FINAL DE LA LISTA (but is very funny), MANTENIENDO EL FORMATO DE LISTA.
#FINALMENTE, UTILIZAMOS join() PARA UNIR TODOS LOS ELEMENTOS DE LA LISTA EN UN SOLO STRING, LOS SEPARAMOS POR ESPACIOS Y LO IMPRIMIMOS.
text1[1:3] = ['TA']
text1[4] = 'boring,'

text1.extend(['but', 'is', 'very', 'funny.'])
text2 = " ".join(text1)
print(text2)

My TA is so boring, but is very funny.

In [22]:
#6. Print
#The max value of values1 is 86 and is located in the 0 index. 
#The min value of values1 is 0 and is located in the 7 index. 
#Hint: Use the f-string, min, and max functions.
#ENCONTRAMOS EL VALOR MÁXIMO Y MÍNIMO
values1 = [86, 86, 85, 85, 85, 83, 23, 0, 84, 1]
max_val = max(values1)
min_val = min(values1)
#ENCONTRAMOS EL ÍNDICE DEL MÁXIMO Y DEL MÍNIMO, YA QUE SE REPITEN ALGUNOS VALORES Y QUEREMOS QUE NOS DEVUELVA EL PRIMERO.
max_index = values1.index(max_val)
min_index = values1.index(min_val)
#USAMOS F-STRINGS PARA OBTENER EL TEXTO REQUERIDO COLOCANDO EL RESULTADO ENTRE LLAVES.
print(f"The max value of values1 is {max_val} and is located in the {max_index} index.")
print(f"The min value of values1 is {min_val} and is located in the {min_index} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [23]:
#7. Get two lists: `names` and `last_names` using `last_and_name` list. Hint: Use `map` and `split`.
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [27]:
#SEPARAMOS EL APELLIDO Y EL NOMBRE USANDO MAP Y SPLIT
#MAP() RECORRE CADA ELEMENTO DE last_and_name
#split(", ") DIVIDE EL TEXTO EN DOS PARTES
split_data = map(lambda x: x.split(", "), last_and_name)
#SEPARAMOS EN DOS LISTAS USANDO ZIP(*) PARA QUE SEPARE NOMBRES Y APELLIDOS PARA QUE LOS JUNTE SEGUN LAS INDICACIONES
last_names, names = map(list, zip(*split_data))
print("Names:", names)
print("Last Names:", last_names)

Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

In [30]:
#8. Give only the last names of students who do not have email. Use the `emails` and `last_names` list. Hint: Use `map` and `split`
#NOS PIDEN SOLO LOS APELLIDOS DE LOS ESTUDIANTES QUE NO TIENEN EMAIL 
#SEPARAMOS APELLIDO Y NOMBRE USANDO MAP Y SPLIT
split_data = map(lambda x: x.split(", "), last_and_name)
#OBTENEMOS SOLO LA LISTA DE APELLIDOS
#X[0] TOMA SOLO LA PARTE DEL APELLIDO
last_names = list(map(lambda x: x[0], split_data))
#USANDO ZIP EMPAREJAMOS LOS EMAILS CON APELLIDOS 
students = zip(emails, last_names)
#FILTRAMOS ESTUDIANTES SIN EMAIL Y NOS QUEDAMOS SOLO CON EL PRIMER APELLIDO
no_email_last_names = list(
    map(lambda x: x.split()[0],
        [last for email, last in students if email == ""]))
print("Apellidos de estudiantes sin email:", no_email_last_names)

Apellidos de estudiantes sin email: ['HUANCAYA', 'CALVO', 'IBAÑEZ', 'MELÉNDEZ', 'CRISTIAN', 'ANGLAS', 'ALDAVE', 'NÚÑEZ', 'OBREGON', 'SOTO', 'INGARUCA', 'ROJAS', 'NEYRA', 'HUERTA', 'HUANCA']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [32]:
#1. Drop the duplicated blank spaces in str1. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.Hint: Use split method and join function.
str1 = 'I am                            too                                                        old'
#PRIMERO USAMOS SPLIT() LO QUE DIVIDE EL STRING EN UNA LISTA DE PALABRAS
#CUANDO SE USA SPLIT() SIN ARGUMENTOS, SE ELIMINA AUTOMÁTICAMENTE LOS ESPACIOS EN BLANCO DUPLICADOS.
str1.split()
#USAMOS " ".join() PARA UNIR LOS ELEMENTOS DE LA LISTA EN UN SOLO STRING. CON JOIN INSERTAMOS UN SOLO ESPACIO ENTRE CADA PALABRA.
" ".join(['I', 'am', 'too', 'old'])

'I am too old'

In [35]:
#2. Get the number of letters in the string .Hint: Use lenfunction.
#PARA CONTAR SOLO LAS LETRAS, PRIMERO USAMOS EL RESULTADO DEL EJERCICIO ANTERIOR.
#USAMOS clean_str PARA LIMPIAR LOS ESPACIO DUPLICADOS DEL STRING
clean_str = " ".join(str1.split())
#COMO QUEREMOS SOLO LAS LETRAS, QUITAMOS LOS ESPACIOS:
only_letters = clean_str.replace(" ", "")
#PARA CONTAR LAS LETRAS USAMOS LA FUNCIÓN len()
num_letters = len(only_letters)
print(num_letters)

9

In [36]:
#3. Get the number of blank spaces (all of them) in the string .Hint: Use lenfunction.
#SI CONTAMOS TODOS LOS CARACTERES Y LUEGO CONTAMOS EL STRING SIN ESPACIOS, LA DIFERENCIA SERÁN LOS ESPACIOS EN BLANCO
total_characters = len(str1)
#QUITAMOS TODOS LOS ESPACIOS Y LOS CONTAMOS CON LA FUNCION len()
no_spaces = str1.replace(" ", "")
characters_without_spaces = len(no_spaces)
#CALCULAMOS EL NÚMERO DE ESPACIOS
blank_spaces = total_characters - characters_without_spaces
print(blank_spaces)

85

In [37]:
#4. Get the position of @ in each string in the emails list. Hint: Use mapfunction and find method.
#NOS PIDE LA POSICIÓN DEL @, PARA ELLO USAMOS EL MÉTODO FIND () QUE BUSCA UN CARÁCTER DENTRO DE UN STRING Y DEVUELVE LA POSICIÓN SI LO ENCUENTRA Y EL -1 SI NO EXISTE
#USAMOS MAP() PARA RECORRER CADA ELEMENTO DE LA LISTA emails.
#PARA CADA EMAIL, APLICAMOS FIND("@"), QUE DEVUELVE LA POSICIÓN DEL SÍMBOLO @.
#CONVERTIMOS EL RESULTADO EN UNA LISTA CON LIST() PARA PODER VISUALIZARLO.
positions = list(map(lambda x: x.find("@"), emails))
print(positions)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11, -1, -1, -1, -1, -1, 8, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 13]

In [38]:
#5. Identifies if exists .edu. in each string in the emails list. Get a list of Booleans. Hint: Use mapfunction and find method.
#USAMOS MAP() ESTO NOS PERMITE APLICAR UNA MISMA OPERACIÓN A CADA ELEMENTO DE UNA LISTA
#USAMOS LAMBDA PARA DEFINIR LA OPERACIÓN.
#EMAIL REPRESENTA CADA STRING DENTRO DE LA LISTA EMAILS
#.find(".edu.") BUSCA LA SUBCADENA .edu. DENTRO DEL EMAIL
#USAMOS FIND(), SI ENCUENTRA .edu. DEVUELVE LA POSICIÓN (0, 1, 2, etc) SI NO LA ENCUENTRA DEVUELVE -1
#FINALMENTE CONVERTIMOS EL RESULTADO EN UNA LISTA PARA OBTENER UNA LISTA DE VALORES BOOLEANOS
edu_exists = list(
    map(lambda email: email.find(".edu.") != -1, emails))
print(edu_exists)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, True]

In [39]:
#6. Get all the strings before the first dot .in each string in the emails list. Identifies how many of them has @. Hint: Use mapfunction and find method.
#PRIMERO DEBEMOS OBTENER EL TEXTO ANTES DEL PRIMERO PUNTO PARA CADA EMAIL
#DE ESOS TEXTOS, DEBEMOS CONTAR CUANTOS CONTIENEN EL SÍMBOLO @
#OBTENEMOS LOS STRINGS ANTES DEL PRIMER PUNTO
#USAMOS MAP() PARA APLICAR ESTO A TODOS LOS EMAILS
before_dot = list(
    map(lambda email: email[:email.find(".")], emails))
#VERIFICAMOS CUÁLES CONTIENEN @ CON "@" IN X, TRUE SI EL STRING CONTIENE @, FALSE SI NO
#CONTAMOS CUANTOS CONTIENEN '@' O CONTAMOS CUÁNTOS TRUE HAY
count = sum(
    map(lambda x: "@" in x, before_dot))
print("Strings before first dot:", before_dot)
print("How many contain '@':", count)

Strings before first dot: ['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp', '', '', '', '', '', 'f0873079@pucp', '', '', '', '', '', '', '', '', '', '', 'flores']
How many contain '@': 15

# Assignment 2 (Part 2)

In [3]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 120)
START = "2022-01-01"
END = "2025-12-18"

In [ ]:
# --- Yahoo Finance via yfinance: US tickers (real market yh_df) ---
tickers = ["SPY", "QQQ", "TLT", "GLD", "EEM"]
# SPY : S&P 500 index
# QQQ : Nasdaq-100 index
# TLT : U.S. Treasury bonds with 20+ year maturity
# GLD : Physical gold prices
# EEM : MSCI Emerging Markets index

try:
    import yfinance as yf
except Exception as e:
    yf = None
    print("Could not import yfinance:", type(e).__name__, str(e))

if yf is not None:
    try:
        yh_df = yf.download(tickers, start=START, end=END, auto_adjust=True, progress=False)
    except Exception as e:
        yh_df = pd.DataFrame()
        print("yfinance download failed:", type(e).__name__, str(e))
else:
    yh_df = pd.DataFrame()

# Convert to long format: date, ticker, close, volume
if isinstance(yh_df, pd.DataFrame) and yh_df.shape[0] > 0:
    if isinstance(yh_df.columns, pd.MultiIndex):
        close = yh_df["Close"].copy()
        vol = yh_df["Volume"].copy()
    else:
        close = yh_df[["Close"]].rename(columns={"Close": tickers[0]})
        vol = yh_df[["Volume"]].rename(columns={"Volume": tickers[0]})

    close.index.name = "date"
    vol.index.name = "date"

    us_close_long = close.reset_index().melt(id_vars="date", var_name="ticker", value_name="close")
    us_vol_long = vol.reset_index().melt(id_vars="date", var_name="ticker", value_name="volume")
    us_mkt = us_close_long.merge(us_vol_long, on=["date","ticker"], how="inner").dropna(subset=["close"])
else:
    us_mkt = pd.DataFrame(columns=["date","ticker","close","volume"])

us_mkt.head(), us_mkt.shape

In [ ]:
# --- BCRP: daily exchange rate PEN/USD buy & sell (official API) ---
# Codes:
# - PD04637PD: USD/PEN (buy)
# - PD04638PD: USD/PEN (sell)

import requests

bcrp_url = f"https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PD04637PD-PD04638PD/json/{START}/{END}/esp"
try:
    r = requests.get(bcrp_url, timeout=30)
    r.raise_for_status()
    bcrp_obj = r.json()
except Exception as e:
    bcrp_obj = {"periods": []}
    print("BCRP request failed:", type(e).__name__, str(e))

periods = bcrp_obj.get("periods", [])
rows = []
for p in periods:
    name = p.get("name")
    vals = p.get("values", [])
    if isinstance(vals, str):
        vals = [vals]
    if name is None or not isinstance(vals, list) or len(vals) < 2:
        continue
    rows.append([name, vals[0], vals[1]])

df = pd.DataFrame(rows, columns=["date_raw", "PENUSD_buy", "PENUSD_sell"])
df

### 3.2.2 From NumPy array to Series 

Using `us_mkt`:

1. Filter to `ticker == "SPY"`.
2. Take `close` as a NumPy array.
3. Create a Series indexed by `date` named `SPY_close_series`.
4. Compute the mean/min/max with Series methods.

### 3.2.3 From Dictionary to Series 

Using `us_mkt`:

1. Compute the **last available close** for each ticker in `tickers`.
2. Store it in a dict `{ticker: last_close}`.
3. Convert to a Series and sort descending.

### 3.2.4 Series vs NumPy 

Goal: show why pandas alignment matters.

1. Create two Series indexed by date:
   - df mid-rate from `df`
   - SPY close from `us_mkt`
2. Combine them into a yh_dfFrame (pandas aligns on dates).
3. Separately, build two NumPy arrays by truncating to the same length.
4. In markdown: explain why alignment is safer.

### 3.3.6 Dealing with Nulls 
Using `us_mkt`:

1. Copy `us_mkt` to `us_mkt_nan`.
2. Set 1% of `close` to NaN (fixed random seed).
3. Create:
   - `us_drop`: drop NaNs
   - `us_fill`: fill NaNs with ticker-specific median close
4. Compare shapes.

In [6]:
# 1.
us_mkt_nan = us_mkt.copy()       # Copy of the original dataframe to 'us_mkt_nan'

In [7]:
# 2.
np.random.seed(1)       # Set random seed
n_rows = len(us_mkt_nan)        # Define number of rows in 'us_mkt_nan'
n_nan = int(0.01*n_rows)        # Define number of NaNs to be added truncated to integer
nan_indices = us_mkt_nan.sample(n=n_nan, replace=False).index       # Randomly select 'n_nan' indices from 'us_mkt_nan'
us_mkt_nan.loc[nan_indices, 'close'] = np.nan       # Add NaNs in the rows with the indices previouly selected
print(f"NaNs in us_mkt_nan:\n{us_mkt_nan.isna().sum()}")

NaNs in us_mkt_nan:
date       0
ticker     0
close     49
volume     0
dtype: int64

In [ ]:
# 3.
us_drop = us_mkt_nan.dropna()       # Drop rows with missing values
us_fill = us_mkt_nan.copy()         # Copy the original dataframe
median_per_ticker = us_fill.groupby('ticker')['close'].transform('median')      # Calculate the median of each ticker group and replace it to the 'close' value of every row in a new column
us_fill['close'] = us_fill['close'].fillna(median_per_ticker)       # Replace the NaN values in 'close' column with the median of its ticker group, taking the values from the previous created column

0       39.107407
1       39.107407
2       39.107407
3       39.107407
4       39.107407
          ...
4965    88.549717
4966    88.549717
4967    88.549717
4968    88.549717
4969    88.549717
Name: close, Length: 4970, dtype: float64

In [ ]:
# 4. Only the 'us_drop' df has less rows than others because it dropped the rows with NaN values.
print(f"Original df shape: {us_mkt.shape}")
print(f"NaN df shape: {us_mkt_nan.shape}")
print(f"Dropped NaN df shape: {us_drop.shape}")
print(f"Filled NaN df shape: {us_fill.shape}")

### 3.3.7 Duplicates 

1. Create `dup_df` by stacking the last 5 rows of `us_mkt` twice.
2. Detect duplicates using `.duplicated()`.
3. Remove them using `.drop_duplicates()`.

In [ ]:
# 1.
last_5_rows = us_mkt.iloc[-5:]         # Select the last 5 rows
dup_df = pd.concat([us_mkt, last_5_rows], ignore_index=True)        # Concatenate the last 5 rows to the original dataframe in a new one
dup_df.iloc[-10:]           # Show the last 10 rows to see the duplicates

In [ ]:
# 2.
duplicates = dup_df.duplicated()        # Detect duplicates assigning them a boolean value in 'duplicates'
duplicates[-10:]        # Show last 10 rows to verify duplicates

In [ ]:
# 3.
dup_df = dup_df.drop_duplicates()       # Remove duplicates from the original dataframe
dup_df.iloc[-5:]        # Show the last 5 rows

### 3.3.8 Groupby 


Using `us_mkt`:

1. Group by `ticker` and compute:
   - mean close
   - median close
   - max volume
2. Rename columns clearly.
3. Sort by mean close descending.

### 3.3.9 Reshape 

1. Create a 1-row wide yh_dfFrame with last closes per ticker.
2. Convert it to long format with `melt()` into columns: `ticker`, `last_close`.
3. Pivot `us_mkt` into a wide table: index=`date`, columns=`ticker`, values=`close` (keep first 50 dates).