# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [1]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

In [2]:
# 1) Print the first item of the second item of tuple1
# The second item of tuple1 is the list [10, 20, 30] at index 1.
# The first item of that list is 10 at index 0.
print(tuple1[1][0])

10

In [3]:
# 2) Print the last item of the tuple1 object
# We use negative indexing [-1] to access the last element dynamically.
print(tuple1[-1])

(5, 15, 25)

In [4]:
# 3) Change the value "orange" for "pink grapefruit"
# Tuples are immutable, so item assignment is not supported. 
# We use a try-except block to handle the TypeError gracefully and print the explanation.
try:
    tuple1[0] = "pink grapefruit"
except TypeError as e:
    print("TypeError:", e)
    print("Comment: It is impossible to modify a tuple item directly because tuples are immutable objects.")

TypeError: 'tuple' object does not support item assignment
Comment: It is impossible to modify a tuple item directly because tuples are immutable objects.

In [5]:
# 4) Print the length of tuple1
# The len() function returns the number of top-level items in the tuple.
print(len(tuple1))

3

In [6]:
# 5) Sum all the elements of tuple2
# tuple2 consists of lists. We cannot sum lists directly.
# Step 1: Use map(sum, tuple2) to apply the sum function to each inner list: ([7,8]->15, [9,1]->10, [10,7]->17).
# Step 2: Use sum() again on the result of the map to get the total aggregation (15+10+17).
total_sum = sum(map(sum, tuple2))
print(total_sum)

42

In [7]:
# 6) Generate a new tuple object named as tuple3 with the half values of tuple2
# We need to divide each number inside the nested lists by 2.
# Since loops are prohibited, we use nested map functions with lambda expressions.
# Outer map: Iterates through each list 'x' in tuple2.
# Inner map: Iterates through each item 'y' in list 'x' and performs y/2.
# Finally, we convert the inner maps back to lists and the outer map to a tuple to match the original structure.
tuple3 = tuple(map(lambda x: list(map(lambda y: y/2, x)), tuple2))
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [8]:
import numpy as np

In [9]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [10]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring.']

In [11]:
p2_list = [ 2 , 3, 4, 5 ]

In [12]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [13]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

### 1.2.1 Solution

In [14]:
# 1) It asks to determine the index of the elements that are np.nan in the f_list list and print them.

# There is no native tool to index lists with np.nan, but we can use numpy and pandas to do it.
import numpy as np
import pandas as pd

# We convert the list into a numpy array
f_array = np.array(f_list, dtype=object)

# We use np.isnan to get a boolean array indicating where the np.nan values are
nan_indices = pd.isna(f_array)

# We obtain the indices where the value is True (that is, where there is np.nan)
indices = np.where(nan_indices)[0]

# We put the result into a string to print it
indices = indices.tolist()
indices = ', '.join(map(str, indices))

# We print the indices
print(f"The indices {indices} have np.nan values.")

The indices 0, 1, 4, 7 have np.nan values.

In [15]:
# 2) It asks to replicate the p2_list list four times using the list multiplication function.

# We replicate the list p2_list four times
p2_list_replicated = p2_list * 4

# We print the replicated list
print(p2_list_replicated)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [16]:
# 3) It asks to determine the length of the f_list list using the len() function.

# We calculate the length of f_list
length_f_list = len(f_list)

# We print the length of f_list
print(f"The length of f_list is {length_f_list}.")

The length of f_list is 8.

In [17]:
# 4) It asks to print the string "My teacher assistant is so boring." as a single text string using the join() function.

# We join the elements of text1 into a single string with spaces in between
full_text = ' '.join(text1)

# We print the complete text
print(full_text)

My teacher assistant is so boring.

In [18]:
# 5) It asks to print the string "My TA is so boring, but is very funny." using text1, the join function, and the extend method.

# We create a copy of text1 to avoid modifying the original
text1_extended = text1.copy()

# We edit the necessary words
text1_extended[1] = "TA"
text1_extended[5] = "boring,"

# We extend the list with the new words
text1_extended.extend(["but", "is", "very", "funny."])

# We join the list into a single string
full_text_extended = " ".join(text1_extended)

# We print the complete text
print(full_text_extended)

My TA assistant is so boring, but is very funny.

In [19]:
# 6) It asks to determine the min and max of the values1 list using the min() and max() functions.

# We calculate the minimum and maximum values of values1
min_value = min(values1)
max_value = max(values1)

# We print the minimum and maximum values
print(f"The max value of values1 is {max_value} and is located in the {values1.index(max_value)} index.")
print(f"The min value of values1 is {min_value} and is located in the {values1.index(min_value)} index.")

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [20]:
# 7) It asks to separate the last_and_name list into two lists: names and last_names using map() and split(). 

# We use map and split to separate last names and names
separated = list(map(lambda x: x.split(", "), last_and_name))
# Explanation: The lambda function takes each element x from the last_and_name list and
# splits it into a list of two elements using ", " as the separator.

# We separate the new list into two lists
last_names, names = zip(*separated)

# We print the results
print("Names:", names)
print("Last Names:", last_names)

Names: ('CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS')
Last Names: ('CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO')

In [21]:
# 8) It asks to print the last names of students who do not have an email registered in the emails list using map() and split().

# We obtain the boolean values for empty emails
empty_email_flags = list(map(lambda x: x == "", emails))

# We filter the last names corresponding to empty emails
filtered_last_names = [last_names[i] for i in range(len(emails)) if empty_email_flags[i]]
# Explanation: For each index in the range of the length of emails, if the value in empty_email_flags
# is True (empty email), we add the corresponding last name to filtered_last_names.

# We print the filtered last names
print("Last names of students without email:", filtered_last_names)

Last names of students without email: ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [22]:
str1 = 'I am                            too                                                        old'

In [23]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

### 1.3.1 Solution

In [24]:
# 1) It asks to remove unnecessary blank spaces in the str1 string using the split() and join() functions.

# We use split to divide the string into words, removing unnecessary blank spaces
words = str1.split()
# Explanation: The split() function without arguments divides the string into words
# using any amount of whitespace as a separator.

# We use join to combine the words with a single space between them
cleaned_str1 = ' '.join(words)

# We print the cleaned string
print(cleaned_str1)

I am too old

In [25]:
# 2) It asks to calculate the number of letters in str1 using the len() function.

# From the cleaned string, we count the number of letters excluding spaces
num_letters = len(cleaned_str1.replace(" ", ""))

# We print the number of letters
print(f"The number of letters in str1 is {num_letters}.")

The number of letters in str1 is 9.

In [26]:
# 3) It asks to calculate the number of spaces in the original str1 using the len() function.

# We count the number of characters in the original str1 string
len_str1 = len(str1)

# We subtract the number of letters calculated previously
num_spaces = len_str1 - num_letters

# We print the number of spaces
print(f"The number of spaces in str1 is {num_spaces}.")

The number of spaces in str1 is 85.

In [27]:
# 4) It asks to identify the index of "@" in each element of the emails list and return the result using the map() and find() functions.

# We use map and find to obtain the index of "@" in each email.
list_of_at_index = list(map(lambda x: x.find("@"), emails))
# Explanation: The lambda function takes each email x and uses find() to search for the "@" character.

# We print the result
print(list_of_at_index)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [28]:
# 5) It asks to identify whether the string ".edu." exists in each element of the emails list and return a boolean using the map() and find() functions.

# We use map and find to check the presence of ".edu." in each email.
list_of_edu = list(map(lambda x: x.find(".edu.") != -1, emails))
# Explanation: The lambda function takes each email x and uses find() to search for the substring ".edu.".
# If it is found, find() returns an index >= 0, so we compare it with -1 to get a boolean.

# We print the result
print(list_of_edu)

[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [29]:
# 6) It asks to print the string before the "." character and count the number of elements that have "@" in them using the map() and find() functions.

# We use map and find to get the string before the first "." in each email.
list_before_dot = list(map(lambda x: x[:x.find(".")], emails))
# Explanation: The lambda function takes each email x and uses find() to search for the "." character.
# With the obtained index, we extract the substring from the beginning up to that index.

# We count the number of elements that have "@" in them
list_with_at = list(map(lambda x: x.find("@") != -1, emails))
# Explanation: The lambda function takes each email x and uses find() to search for the "@" character.
# If it is found, find() returns an index >= 0, so we compare it with -1 to get a boolean.

# We sum the boolean values to get the count of elements with "@"
count_with_at = sum(list_with_at)

# We print the results
print(list_before_dot)
print(f"The number of elements with '@' is {count_with_at}.")

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
The number of elements with '@' is 35.

# 2 Assignment

## Set Up

In [30]:
%pip install "yfinance<1.0" typing_extensions

Requirement already satisfied: yfinance<1.0 in c:\users\chasq\anaconda3\lib\site-packages (0.2.66)
Requirement already satisfied: typing_extensions in c:\users\chasq\anaconda3\lib\site-packages (4.7.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (2.4.7)
Requirement already satisfied: peewee>=3.16.2 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (3.19.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (4.12.2)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (6.33.2)
Requirement already satisfied: websockets>=13.0 in c:\users\chasq\anaconda3\lib\site-packages (from yfinance<1.0) (15.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\chasq\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance<1.0) (2.4)
Requirement already satisfied: cffi>=1.12.0 in c:\users\chasq\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance<1.0) (1.15.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\chasq\anaconda3\lib\site-packages (from curl_cffi>=0.7->yfinance<1.0) (2026.1.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chasq\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance<1.0) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\chasq\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance<1.0) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\chasq\anaconda3\lib\site-packages (from requests>=2.31->yfinance<1.0) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\chasq\anaconda3\lib\site-packages (from requests>=2.31->yfinance<1.0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\chasq\anaconda3\lib\site-packages (from requests>=2.31->yfinance<1.0) (1.26.16)
Requirement already satisfied: pycparser in c:\users\chasq\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance<1.0) (2.21)
Requirement already satisfied: six>=1.5 in c:\users\chasq\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance<1.0) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 120)
START = "2022-01-01"
END = "2025-12-18"

In [32]:
# --- Yahoo Finance via yfinance: US tickers (real market yh_df) ---
tickers = ["SPY", "QQQ", "TLT", "GLD", "EEM"]
# SPY : S&P 500 index
# QQQ : Nasdaq-100 index
# TLT : U.S. Treasury bonds with 20+ year maturity
# GLD : Physical gold prices
# EEM : MSCI Emerging Markets index

try:
    import yfinance as yf
except Exception as e:
    yf = None
    print("Could not import yfinance:", type(e).__name__, str(e))

if yf is not None:
    try:
        yh_df = yf.download(tickers, start=START, end=END, auto_adjust=True, progress=False)
    except Exception as e:
        yh_df = pd.DataFrame()
        print("yfinance download failed:", type(e).__name__, str(e))
else:
    yh_df = pd.DataFrame()

# Convert to long format: date, ticker, close, volume
if isinstance(yh_df, pd.DataFrame) and yh_df.shape[0] > 0:
    if isinstance(yh_df.columns, pd.MultiIndex):
        close = yh_df["Close"].copy()
        vol = yh_df["Volume"].copy()
    else:
        close = yh_df[["Close"]].rename(columns={"Close": tickers[0]})
        vol = yh_df[["Volume"]].rename(columns={"Volume": tickers[0]})

    close.index.name = "date"
    vol.index.name = "date"

    us_close_long = close.reset_index().melt(id_vars="date", var_name="ticker", value_name="close")
    us_vol_long = vol.reset_index().melt(id_vars="date", var_name="ticker", value_name="volume")
    us_mkt = us_close_long.merge(us_vol_long, on=["date","ticker"], how="inner").dropna(subset=["close"])
else:
    us_mkt = pd.DataFrame(columns=["date","ticker","close","volume"])

us_mkt.head(), us_mkt.shape

(        date ticker      close    volume
 0 2022-01-03    EEM  44.624966  27572700
 1 2022-01-04    EEM  44.470772  24579500
 2 2022-01-05    EEM  43.745163  46425100
 3 2022-01-06    EEM  43.944702  34288700
 4 2022-01-07    EEM  44.343792  32640900,
 (4970, 4))

In [33]:
# --- BCRP: daily exchange rate PEN/USD buy & sell (official API) ---
# Codes:
# - PD04637PD: USD/PEN (buy)
# - PD04638PD: USD/PEN (sell)

import requests

bcrp_url = f"https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PD04637PD-PD04638PD/json/{START}/{END}/esp"
try:
    r = requests.get(bcrp_url, timeout=30)
    r.raise_for_status()
    bcrp_obj = r.json()
except Exception as e:
    bcrp_obj = {"periods": []}
    print("BCRP request failed:", type(e).__name__, str(e))

periods = bcrp_obj.get("periods", [])
rows = []
for p in periods:
    name = p.get("name")
    vals = p.get("values", [])
    if isinstance(vals, str):
        vals = [vals]
    if name is None or not isinstance(vals, list) or len(vals) < 2:
        continue
    rows.append([name, vals[0], vals[1]])

df = pd.DataFrame(rows, columns=["date_raw", "PENUSD_buy", "PENUSD_sell"])
df

      date_raw        PENUSD_buy       PENUSD_sell
0    03.Ene.22  3.98366666666667  3.98883333333333
1    04.Ene.22            3.9595             3.964
2    05.Ene.22             3.952  3.95633333333333
3    06.Ene.22  3.96716666666667  3.96966666666667
4    07.Ene.22  3.94516666666667  3.94816666666667
..         ...               ...               ...
983  12.Dic.25  3.36685714285714  3.36885714285714
984  15.Dic.25  3.36871428571429            3.3705
985  16.Dic.25  3.36985714285714  3.37142857142857
986  17.Dic.25  3.36771428571429  3.36914285714286
987  18.Dic.25  3.36514285714286  3.36664285714286

[988 rows x 3 columns]

## 3.2.2 From NumPy array to Series 

Using `us_mkt`:

1. Filter to `ticker == "SPY"`.
2. Take `close` as a NumPy array.
3. Create a Series indexed by `date` named `SPY_close_series`.
4. Compute the mean/min/max with Series methods.

In [34]:
us_mkt1= us_mkt[us_mkt["ticker"]== "SPY"]
us_mkt1

           date ticker       close     volume
2982 2022-01-03    SPY  451.875153   72668200
2983 2022-01-04    SPY  451.723755   71178700
2984 2022-01-05    SPY  443.049713  104538900
2985 2022-01-06    SPY  442.633545   86858900
2986 2022-01-07    SPY  440.883545   85111600
...         ...    ...         ...        ...
3971 2025-12-11    SPY  687.139526   86173700
3972 2025-12-12    SPY  679.751404  113160300
3973 2025-12-15    SPY  678.724426   90811000
3974 2025-12-16    SPY  676.869934  122030600
3975 2025-12-17    SPY  669.421936  110625200

[994 rows x 4 columns]

In [35]:
us_mkt1_close= us_mkt1["close"].to_numpy()
us_mkt1_close

array([451.87515259, 451.72375488, 443.04971313, 442.63354492,
       440.88354492, 440.33493042, 444.34558105, 445.54690552,
       439.4079895 , 439.58764648, 431.80270386, 427.31906128,
       422.58953857, 414.29385376, 416.05319214, 410.97357178,
       409.9425354 , 407.91824341, 418.04910278, 425.5786438 ,
       428.45422363, 432.61627197, 422.44763184, 424.43408203,
       423.07192993, 426.55297852, 432.79595947, 425.02047729,
       416.63964844, 415.27749634, 421.97467041, 422.44763184,
       413.42355347, 410.74658203, 406.33862305, 399.13076782,
       405.13729858, 414.07620239, 413.0168457 , 406.72644043,
       414.2086792 , 412.14648438, 408.79800415, 396.74697876,
       393.73892212, 404.29541016, 402.46981812, 397.35241699,
       394.44836426, 403.12246704, 412.06143188, 417.21664429,
       421.78637695, 421.6630249 , 426.59707642, 421.10317993,
       427.4510498 , 429.5385437 , 432.59384155, 437.94534302,
       435.2411499 , 428.54223633, 429.75671387, 433.43832397,
       427.96350098, 423.684021  , 425.81896973, 424.68045044,
       417.42160034, 415.87493896, 420.63821411, 415.4005127 ,
       415.57141113, 422.27978516, 421.96664429, 415.65670776,
       404.25152588, 406.59515381, 394.8197937 , 395.92999268,
       405.93093872, 390.92950439, 393.28268433, 395.08551025,
       407.11700439, 392.64691162, 390.30325317, 377.80682373,
       378.67971802, 372.66400146, 372.2749939 , 381.17520142,
       379.62863159, 387.43765259, 371.81951904, 369.54217529,
       369.70355225, 376.62072754, 373.74572754, 377.04779053,
       384.58166504, 394.02282715, 391.81188965, 388.64273071,
       396.04388428, 389.54415894, 390.73025513, 394.47821045,
       390.18936157, 380.90957642, 369.86486816, 355.82174683,
       354.74957275, 359.80697632, 347.89877319, 348.64880371,
       357.42553711, 356.77752686, 360.27481079, 371.7293396 ,
       370.30947876, 362.74301147, 362.44760132, 359.50296021,
       363.3052063 , 363.99139404, 365.22070312, 370.69067383,
       370.38571167, 366.15463257, 362.91448975, 361.00863647,
       360.13189697, 367.01226807, 363.98184204, 373.81634521,
       376.1987915 , 380.02972412, 376.50369263, 376.96112061,
       372.50131226, 382.17382812, 386.96716309, 392.6086731 ,
       391.44604492, 388.86355591, 394.95297241, 394.68612671,
       394.01907349, 393.56155396, 391.99880981, 400.23226929,
       400.23226929, 407.00784302, 408.68505859, 409.48556519,
       406.57897949, 407.76071167, 402.28121948, 393.9046936 ,
       392.95175171, 394.20968628, 399.77490234, 386.24295044,
       383.68902588, 379.47686768, 376.58953857, 377.7711792 ,
       373.78775024, 372.37741089, 379.06716919, 381.54486084,
       387.47219849, 391.6366272 , 374.6072998 , 376.03677368,
       371.76748657, 368.93130493, 371.79238892, 367.52474976,
       361.11364746, 358.0803833 , 352.08081055, 348.59783936,
       347.70794678, 354.54956055, 347.14334106, 341.77532959,
       350.7986145 , 361.66867065, 360.82669067, 357.10437012,
       347.14334106, 344.4928894 , 342.31121826, 341.18200684,
       350.18618774, 342.20593262, 350.99957275, 355.12365723,
       352.60705566, 349.65039062, 358.14736938, 362.52981567,
       368.31900024, 365.54397583, 363.59194946, 372.24212646,
       369.55331421, 367.93615723, 358.70239258, 355.00881958,
       360.11856079, 363.56332397, 365.52493286, 357.99429321,
       377.6675415 , 381.32284546, 378.07901001, 381.30368042,
       378.39477539, 377.23693848, 378.94979858, 377.57189941,
       382.65286255, 385.06417847, 384.97808838, 378.83493042,
       378.18426514, 390.09738159, 389.81027222, 389.36050415,
       382.35623169, 376.84460449, 376.20355225, 379.15075684,
       376.31835938, 381.74383545, 384.63357544, 382.17440796,
       372.82580566, 368.4241333 , 365.30007935, 365.79992676,
       371.26953125, 365.97296143, 368.07815552, 366.62664795,
       362.07022095, 368.58761597, 367.61669922, 366.0690918 ,
       368.89517212, 364.68490601, 373.04788208, 372.83639526,
       375.45098877, 380.19961548, 381.58389282, 383.06420898,
       382.36251831, 376.32577515, 373.58624268, 380.54574585,
       385.11169434, 384.69839478, 384.84265137, 389.07211304,
       389.96609497, 385.07330322, 390.73516846, 394.8878479 ,
       400.63619995, 396.3777771 , 393.9553833 , 399.10778809,
       394.74368286, 391.3215332 , 392.23474121, 396.83917236,
       396.65658569, 397.9446106 , 392.46536255, 391.48495483,
       383.63134766, 383.10266113, 385.14059448, 381.02630615,
       382.32403564, 380.91104126, 379.44985962, 382.40100098,
       388.53381348, 388.80300903, 382.84310913, 383.46801758,
       376.39306641, 370.96194458, 370.43319702, 376.55651855,
       374.20135498, 380.76678467, 376.31463623, 379.93313599,
       384.92184448, 378.36026001, 379.38308716, 381.87268066,
       382.58670044, 381.72790527, 387.27627563, 389.54388428,
       395.03433228, 396.53961182, 394.33959961, 393.30712891,
       394.84133911, 395.24661255, 395.3527832 , 393.74133301,
       398.97125244, 397.99667358, 399.42477417, 399.68530273,
       399.61779785, 397.43701172, 397.74581909, 398.1607666 ,
       391.84039307, 390.18069458, 397.94848633, 401.3449707 ,
       400.93972778, 396.43353271, 393.71243286, 390.92373657,
       398.1607666 , 398.26687622, 396.52032471, 398.37304688,
       397.67825317, 397.15722656, 398.5274353 , 395.86422729,
       400.66958618, 404.52929688, 403.94061279, 404.10473633,
       399.56954956, 396.67474365, 400.10992432, 405.29153442,
       405.44595337, 403.19766235, 407.02850342, 412.9145813 ,
       412.12329102, 413.02069092, 411.59262085, 414.08215332,
       414.82510376, 418.58834839, 421.34811401, 421.84985352,
       427.07983398, 425.62506104, 423.41687012, 421.24737549,
       422.76800537, 419.57183838, 417.85751343, 422.4387207 ,
       422.6517334 , 424.31762695, 429.32485962, 429.81878662,
       429.17953491, 425.81881714, 424.74371338, 425.81881714,
       428.53067017, 431.97854614, 435.40713501, 435.13589478,
       436.64678955, 439.89141846, 440.86953735, 437.9446106 ,
       437.9446106 , 439.90109253, 441.10202026, 441.16983032,
       438.24487305, 442.53540039, 443.37805176, 442.10925293,
       435.95916748, 434.70977783, 432.74368286, 436.52090454,
       434.62261963, 431.71707153, 431.87200928, 431.62023926,
       434.00274658, 428.94711304, 425.79949951, 422.55487061,
       422.75827026, 425.5088501 , 424.35632324, 429.08270264,
       423.13601685, 426.11904907, 428.82119751, 435.01971436,
       436.81152344, 436.17221069, 436.98580933, 435.09719849,
       432.17221069, 430.84539795, 431.49429321, 434.33209229,
       431.94955444, 432.453125  , 436.1819458 , 430.92666626,
       431.17935181, 430.28518677, 426.32943726, 419.28289795,
       418.34011841, 420.09936523, 413.92755127, 414.09283447,
       416.49346924, 415.48266602, 415.31744385, 409.75796509,
       412.74176025, 412.58627319, 417.48486328, 420.15765381,
       422.3444519 , 424.07455444, 421.48922729, 419.38980103,
       423.80239868, 423.78292847, 418.13598633, 414.46209717,
       409.36920166, 408.65969849, 411.74066162, 405.83129883,
       400.97161865, 399.15414429, 403.92633057, 406.46310425,
       410.7979126 , 418.67062378, 422.49029541, 423.46221924,
       424.66738892, 424.97842407, 421.66415405, 428.24414062,
       427.83590698, 436.13623047, 437.05957031, 437.59417725,
       438.13842773, 441.51104736, 440.54879761, 442.24969482,
       442.52185059, 441.72485352, 442.16226196, 441.85119629,
       443.59100342, 446.21520996, 443.87283325, 443.78543091,
       441.99703979, 445.36962891, 447.28433228, 449.02407837,
       451.07485962, 457.29522705, 458.76290894, 458.00753784,
       460.58389282, 463.38461304, 456.96340942, 461.29626465,
       462.22329712, 464.17507935, 465.01437378, 465.19000244,
       463.8432312 , 461.24743652, 457.48052979, 456.00698853,
       456.6315918 , 463.15042114, 462.44784546, 465.06311035,
       464.85821533, 465.18023682, 463.47241211, 460.89611816,
       464.99484253, 470.79150391, 471.78689575, 473.16290283,
       473.68008423, 476.25643921, 475.65136719, 479.41827393,
       479.04742432, 471.23065186, 477.39819336, 482.42398071,
       480.66741943, 482.06286621, 486.08349609, 486.29818726,
       489.10870361, 488.89398193, 482.16046143, 486.54208374,
       489.89916992, 487.45947266, 484.77581787, 485.2149353 ,
       495.25671387, 495.59823608, 493.78311157, 494.70043945,
       494.04663086, 495.82272339, 500.4776001 , 499.94088745,
       494.94442749, 497.45239258, 502.39035034, 499.37496948,
       498.94555664, 504.31286621, 503.52230835, 502.52700806,
       499.07635498, 502.04241943, 504.83236694, 509.50167847,
       511.18548584, 510.21630859, 508.80670166, 507.86700439,
       512.1348877 , 512.03704834, 511.14620972, 507.89630127,
       508.45425415, 502.24801636, 507.49493408, 507.77877808,
       508.36627197, 503.27584839, 507.07400513, 500.0748291 ,
       493.80984497, 492.90924072, 489.99209595, 488.98379517,
       484.71578979, 489.17959595, 494.98452759, 494.74954224,
       492.87008667, 497.53945923, 499.30148315, 491.39193726,
       489.79632568, 494.37759399, 500.50558472, 505.67419434,
       506.23220825, 506.28109741, 509.19815063, 509.85415649,
       509.92260742, 512.26220703, 518.60559082, 517.53851318,
       518.28253174, 518.87969971, 520.15222168, 518.65447998,
       514.86621094, 518.27276611, 518.6348877 , 515.00317383,
       511.58676147, 516.24639893, 516.66729736, 517.24481201,
       523.39233398, 523.38269043, 522.74639893, 524.36151123,
       525.62438965, 529.94128418, 531.00830078, 531.33135986,
       535.56011963, 536.9208374 , 535.46228027, 534.74450684,
       533.00616455, 535.05871582, 535.72650146, 536.57110596,
       534.45959473, 535.55950928, 539.16375732, 541.56988525,
       544.69274902, 545.32128906, 545.85168457, 551.25292969,
       546.49981689, 549.94683838, 551.45928955, 554.72943115,
       546.95153809, 542.74829102, 539.144104  , 544.70263672,
       543.84820557, 531.52319336, 528.75384521, 534.67565918,
       534.98999023, 532.27954102, 540.93139648, 533.2713623 ,
       523.3427124 , 508.1010437 , 512.78552246, 509.35800171,
       521.13305664, 523.43103027, 523.70611572, 532.31878662,
       533.99804688, 543.15087891, 544.36859131, 549.57366943,
       548.67993164, 550.56555176, 546.24438477, 552.04840088,
       550.73236084, 551.48864746, 548.28710938, 548.33618164,
       553.57067871, 542.17871094, 541.06896973, 539.75292969,
       530.66894531, 536.61029053, 538.94769287, 544.47668457,
       549.06292725, 551.93054199, 552.74572754, 552.97155762,
       551.33154297, 560.73968506, 559.77038574, 561.16918945,
       562.77490234, 561.53363037, 563.75994873, 562.94232178,
       565.19812012, 560.13482666, 560.37127686, 559.34686279,
       564.42974854, 559.32714844, 564.61694336, 568.52770996,
       567.53289795, 570.93139648, 575.60064697, 571.12835693,
       573.61071777, 573.65997314, 575.86657715, 574.92089844,
       574.61560059, 569.36505127, 570.59643555, 570.39941406,
       572.16271973, 573.08862305, 571.35491943, 560.15460205,
       562.51873779, 561.30712891, 568.09429932, 582.22033691,
       586.72210693, 589.26367188, 589.82501221, 587.99285889,
       588.27850342, 584.49591064, 577.00927734, 579.37353516,
       581.49139404, 581.68835449, 584.81103516, 586.62359619,
       588.61352539, 591.68695068, 589.89404297, 593.55859375,
       594.62243652, 594.89825439, 598.59234619, 597.60717773,
       598.7401123 , 595.65673828, 593.80480957, 598.39532471,
       595.31201172, 595.19384766, 597.73522949, 595.27258301,
       577.53137207, 577.35400391, 584.28863525, 587.78753662,
       594.32080078, 594.3604126 , 588.1038208 , 581.39263916,
       579.27740479, 577.85418701, 585.0793457 , 588.44970703,
       581.79779053, 582.64782715, 573.75231934, 574.64190674,
       575.43255615, 585.89971924, 584.77294922, 590.64404297,
       596.05047607, 599.40118408, 602.67272949, 600.91333008,
       592.41320801, 597.50341797, 594.82489014, 598.01739502,
       594.83477783, 590.83178711, 594.79528809, 597.20690918,
       599.28253174, 593.79693604, 597.82965088, 598.28430176,
       596.35687256, 602.6529541 , 602.62329102, 604.39251709,
       605.81585693, 603.29541016, 592.9765625 , 590.27825928,
       587.34277344, 587.63922119, 578.25939941, 587.28344727,
       576.9942627 , 570.16442871, 576.29248047, 566.06262207,
       569.23535156, 554.07342529, 549.46746826, 552.38323975,
       545.01977539, 556.27752686, 560.56719971, 554.50830078,
       560.54736328, 558.92645264, 559.11083984, 569.12359619,
       570.49176025, 563.68109131, 562.184021  , 550.8626709 ,
       554.56048584, 556.12683105, 559.6461792 , 532.06640625,
       500.91763306, 500.02539062, 492.19360352, 543.88348389,
       520.05102539, 529.33026123, 534.4654541 , 532.96844482,
       521.12164307, 521.86517334, 509.44335938, 522.69799805,
       530.79736328, 541.97009277, 545.88604736, 546.09423828,
       549.53424072, 549.75231934, 553.6484375 , 561.86688232,
       558.64489746, 553.97558594, 556.30529785, 560.18151855,
       559.46777344, 577.95672607, 581.7734375 , 582.51696777,
       585.36224365, 589.06994629, 589.71435547, 587.73156738,
       577.82781982, 578.05584717, 574.11022949, 586.04626465,
       582.65576172, 584.95574951, 584.30151367, 587.59289551,
       590.94360352, 590.78503418, 587.92980957, 593.96728516,
       594.50262451, 597.87335205, 596.16809082, 598.53741455,
       591.84576416, 597.47674561, 592.37121582, 592.28192139,
       590.89093018, 596.72747803, 603.31964111, 603.65771484,
       608.38061523, 611.40325928, 614.32653809, 614.12768555,
       616.91168213, 621.77380371, 617.14038086, 616.80236816,
       620.50109863, 622.25109863, 620.06359863, 621.24676514,
       618.59204102, 620.66015625, 624.45837402, 624.0010376 ,
       625.18426514, 625.27374268, 630.59326172, 630.80200195,
       633.46673584, 633.30767822, 631.63720703, 630.84179688,
       628.47540283, 618.17437744, 627.57049561, 624.38873291,
       629.17138672, 628.64434814, 633.54626465, 632.29345703,
       639.02490234, 641.21234131, 641.27197266, 639.77062988,
       639.63134766, 636.16125488, 634.47094727, 631.92553711,
       641.62994385, 638.80603027, 641.48077393, 642.94238281,
       645.21929932, 641.37139893, 636.61865234, 640.06884766,
       645.41815186, 643.54888916, 645.12982178, 646.62127686,
       648.49060059, 653.87969971, 653.66088867, 657.14093018,
       656.23614502, 655.4208374 , 658.48327637, 661.74462891,
       664.87536621, 661.25610352, 659.15222168, 656.11126709,
       659.87017822, 661.72467041, 664.21728516, 666.48065186,
       667.24829102, 667.23840332, 669.63128662, 667.14862061,
       671.12689209, 669.18261719, 651.09606934, 661.08654785,
       660.27893066, 663.21026611, 658.69366455, 662.43261719,
       669.32220459, 669.31219482, 665.83251953, 669.78088379,
       675.25469971, 683.22113037, 685.0357666 , 685.36480713,
       677.8270874 , 680.05053711, 681.32678223, 673.25061035,
       675.58374023, 668.33514404, 668.99316406, 679.43237305,
       680.98773193, 681.36663818, 670.05999756, 669.95037842,
       663.70880127, 658.13531494, 660.67779541, 650.60754395,
       657.08837891, 666.75976562, 673.03125   , 677.67755127,
       681.37658691, 678.26580811, 679.52209473, 681.87512207,
       682.37365723, 683.6697998 , 681.61590576, 681.02758789,
       685.54431152, 687.13952637, 679.75140381, 678.72442627,
       676.86993408, 669.42193604])

In [36]:
import pandas as pd
SPY_close_series= pd.Series(us_mkt1_close, index= us_mkt1["date"])
SPY_close_series

date
2022-01-03    451.875153
2022-01-04    451.723755
2022-01-05    443.049713
2022-01-06    442.633545
2022-01-07    440.883545
                 ...
2025-12-11    687.139526
2025-12-12    679.751404
2025-12-15    678.724426
2025-12-16    676.869934
2025-12-17    669.421936
Length: 994, dtype: float64

In [37]:
SPY_close_series.describe()[["mean","min","max"]]

mean    485.608586
min     341.182007
max     687.139526
dtype: float64

## 3.2.3 From Dictionary to Series 

Using `us_mkt`:

1. Compute the **last available close** for each ticker in `tickers`.
2. Store it in a dict `{ticker: last_close}`.
3. Convert to a Series and sort descending.

In [38]:
us_mkt_group =us_mkt.groupby("ticker")["close"].last()
us_mkt_group

ticker
EEM     52.599998
GLD    399.290009
QQQ    599.637390
SPY    669.421936
TLT     87.459633
Name: close, dtype: float64

In [39]:
us_mkt_2= us_mkt_group.reset_index()
us_mkt_2
us_mkt_tick= us_mkt_2["ticker"].to_list()
us_mkt_tick
us_mkt_lastclose= us_mkt_2["close"].to_list()
us_mkt_lastclose 
dictionary= dict(zip(us_mkt_tick,us_mkt_lastclose))
dictionary

{'EEM': 52.599998474121094,
 'GLD': 399.2900085449219,
 'QQQ': 599.6373901367188,
 'SPY': 669.4219360351562,
 'TLT': 87.45963287353516}

In [40]:
tick_last= pd.Series(dictionary)
print(tick_last)
tick_last.sort_values(ascending= False, inplace= True)
tick_last

EEM     52.599998
GLD    399.290009
QQQ    599.637390
SPY    669.421936
TLT     87.459633
dtype: float64

SPY    669.421936
QQQ    599.637390
GLD    399.290009
TLT     87.459633
EEM     52.599998
dtype: float64

## 3.2.4 Series vs NumPy 

Goal: show why pandas alignment matters.

1. Create two Series indexed by date:
   - df mid-rate from `df`
   - SPY close from `us_mkt`
2. Combine them into a yh_dfFrame (pandas aligns on dates).
3. Separately, build two NumPy arrays by truncating to the same length.
4. In markdown: explain why alignment is safer.

### Cleaning the dataframes

In [41]:
# Convert date column to datetime and sort ascending
us_mkt["date"] = pd.to_datetime(us_mkt["date"])
us_mkt = us_mkt.sort_values("date")

# Set date as the index 
us_mkt = us_mkt.set_index("date")
us_mkt

           ticker       close     volume
date
2022-01-03    EEM   44.624966   27572700
2022-01-03    SPY  451.875153   72668200
2022-01-03    QQQ  391.679474   40575900
2022-01-03    TLT  125.295311   33860400
2022-01-03    GLD  168.330002    9014400
...           ...         ...        ...
2025-12-17    SPY  669.421936  110625200
2025-12-17    GLD  399.290009   10456900
2025-12-17    EEM   52.599998   35740800
2025-12-17    QQQ  599.637390   70654300
2025-12-17    TLT   87.459633   24668300

[4970 rows x 3 columns]

In [42]:
# date_raw was originally in Spanish, so we map months to English before parsing.
month = {
    "Ene":"Jan","Feb":"Feb","Mar":"Mar","Abr":"Apr","May":"May","Jun":"Jun",
    "Jul":"Jul","Ago":"Aug","Set":"Sep","Sep":"Sep","Oct":"Oct","Nov":"Nov","Dic":"Dec"
}

# Convert date_raw to datetime 
df["date_raw"] = df["date_raw"].replace(month, regex=True)
df["date_raw"] = pd.to_datetime(df["date_raw"], format="%d.%b.%y")  

# Sort ascending
df = df.rename(columns={"date_raw": "date"})
df = df.sort_values("date")

# Set date as the index 
df = df.set_index("date")
df

                  PENUSD_buy       PENUSD_sell
date
2022-01-03  3.98366666666667  3.98883333333333
2022-01-04            3.9595             3.964
2022-01-05             3.952  3.95633333333333
2022-01-06  3.96716666666667  3.96966666666667
2022-01-07  3.94516666666667  3.94816666666667
...                      ...               ...
2025-12-12  3.36685714285714  3.36885714285714
2025-12-15  3.36871428571429            3.3705
2025-12-16  3.36985714285714  3.37142857142857
2025-12-17  3.36771428571429  3.36914285714286
2025-12-18  3.36514285714286  3.36664285714286

[988 rows x 2 columns]

### Step 1

In [43]:
# Convert FX bid/ask columns to numeric
df["PENUSD_buy"] = pd.to_numeric(df["PENUSD_buy"], errors="coerce")
df["PENUSD_sell"] = pd.to_numeric(df["PENUSD_sell"], errors="coerce")

# Compute the mid-rate series
mid_rate = (df["PENUSD_buy"] + df["PENUSD_sell"]) / 2
mid_rate.name = "PENUSD_mid"

# SPY close prices as a series 
spy_close = us_mkt[us_mkt["ticker"] == "SPY"]["close"]
spy_close.name = "SPY_close"

spy_close

date
2022-01-03    451.875153
2022-01-04    451.723755
2022-01-05    443.049713
2022-01-06    442.633545
2022-01-07    440.883545
                 ...
2025-12-11    687.139526
2025-12-12    679.751404
2025-12-15    678.724426
2025-12-16    676.869934
2025-12-17    669.421936
Name: SPY_close, Length: 994, dtype: float64

### Step 2

In [44]:
# Combine both Series into a DataFrame 
yh_dfFrame = pd.concat([mid_rate, spy_close], axis=1)
yh_dfFrame

            PENUSD_mid   SPY_close
date
2022-01-03    3.986250  451.875153
2022-01-04    3.961750  451.723755
2022-01-05    3.954167  443.049713
2022-01-06    3.968417  442.633545
2022-01-07    3.946667  440.883545
...                ...         ...
2025-12-12    3.367857  679.751404
2025-12-15    3.369607  678.724426
2025-12-16    3.370643  676.869934
2025-12-17    3.368429  669.421936
2025-12-18    3.365893         NaN

[1025 rows x 2 columns]

### Step 3

In [45]:
# Convert both series to numpy arrays 
mid_np = mid_rate.to_numpy()
spy_np = spy_close.to_numpy()

# Truncate to the same length 
n = min(len(mid_np), len(spy_np))
mid_np = mid_np[:n]
spy_np = spy_np[:n]

both = np.column_stack((mid_np, spy_np))
both

array([[  3.98625   , 451.87515259],
       [  3.96175   , 451.72375488],
       [  3.95416667, 443.04971313],
       ...,
       [  3.37064286, 683.6697998 ],
       [  3.36842857, 681.61590576],
       [  3.36589286, 681.02758789]])

### Step 4

- In pandas, each series has a date index, so when we combine them, pandas matches values by date. If one series is missing a date, pandas keeps the date and fills the missing value with NaN. This is safer because it avoids matching values from different days.

- In NumPy, converting a series to an array drops the date index and keeps only the values. To make both arrays the same size, we truncate to the shorter length (e.g., 988), which drops extra observations. After truncation, values are matched by position (row 1 with row 1), which can silently mix different dates and give incorrect results.

## 3.3.5 Dealing with Nulls 
Using `us_mkt`:

1. Copy `us_mkt` to `us_mkt_nan`.
2. Set 1% of `close` to NaN (fixed random seed).
3. Create:
   - `us_drop`: drop NaNs
   - `us_fill`: fill NaNs with ticker-specific median close
4. Compare shapes.

### Step 1 and 2

In [46]:
# Copy us_mkt to us_mkt_nan
us_mkt_nan = us_mkt.copy()

# Set 1% of close to NaN (fixed random seed)
np.random.seed(123)
num_missing = int(len(us_mkt_nan) * 0.01)

# Randomly select 1% of rows and set close to NaN
random_rows = np.random.choice(us_mkt_nan.index, size=num_missing, replace=False)
us_mkt_nan.loc[random_rows, "close"] = np.nan

us_mkt_nan[us_mkt_nan["close"].isna()].head(10)

           ticker  close     volume
date
2022-01-11    TLT    NaN   24388700
2022-01-11    GLD    NaN    8369000
2022-01-11    SPY    NaN   74303100
2022-01-11    EEM    NaN   57536400
2022-01-11    QQQ    NaN   68295700
2022-02-14    GLD    NaN   13650700
2022-02-14    TLT    NaN   23157400
2022-02-14    QQQ    NaN   80254400
2022-02-14    EEM    NaN   59439800
2022-02-14    SPY    NaN  123006300

### Step 3 and 4

In [47]:
# Drop rows with NaN close
us_drop = us_mkt_nan.dropna(subset=["close"])

# Fill NaN close with the median close for each ticker
us_fill = us_mkt_nan.copy()
us_fill["close"] = us_fill["close"].fillna(us_fill.groupby("ticker")["close"].transform("median"))

In [48]:
# Compare shapes
us_mkt_nan.shape, us_drop.shape, us_fill.shape

((4970, 3), (4730, 3), (4970, 3))

us_mkt_nan keeps the same shape; us_drop has fewer rows; us_fill keeps the same shape after filling NaNs.

## 3.3.6 Duplicates 

1. Create `dup_df` by stacking the last 5 rows of `us_mkt` twice.
2. Detect duplicates using `.duplicated()`.
3. Remove them using `.drop_duplicates()`.

In [49]:
# Create dup_df by stacking the last 5 rows twice
dup_df = pd.concat([us_mkt.tail(5), us_mkt.tail(5)])

# Detect duplicates
dup_df.duplicated()

date
2025-12-17    False
2025-12-17    False
2025-12-17    False
2025-12-17    False
2025-12-17    False
2025-12-17     True
2025-12-17     True
2025-12-17     True
2025-12-17     True
2025-12-17     True
dtype: bool

In [50]:
# Remove duplicates
dup_clean = dup_df.drop_duplicates()
dup_clean

           ticker       close     volume
date
2025-12-17    SPY  669.421936  110625200
2025-12-17    GLD  399.290009   10456900
2025-12-17    EEM   52.599998   35740800
2025-12-17    QQQ  599.637390   70654300
2025-12-17    TLT   87.459633   24668300

## 3.3.8 Groupby 


Using `us_mkt`:

1. Group by `ticker` and compute:
   - mean close
   - median close
   - max volume
2. Rename columns clearly.
3. Sort by mean close descending.

In [51]:
# Group by ticker and compute closing price statistics
# Mean and median are calculated over the close variable
group_stats = us_mkt.groupby("ticker").close.agg(["mean", "median"])

# Add the maximum traded volume per ticker to the same DataFrame
group_stats["max_volume"] = us_mkt.groupby("ticker").volume.max()

# Rename columns for clarity and easier interpretation
group_stats = group_stats.rename(columns={
    "mean": "mean_close",
    "median": "median_close"
})

# Sort assets by average closing price in descending order
group_stats = group_stats.sort_values("mean_close", ascending=False)

group_stats

        mean_close  median_close  max_volume
ticker
SPY     485.608586    460.740005   256611400
QQQ     411.276965    400.214554   198685800
GLD     220.130422    187.864998    62025000
TLT      91.395622     88.549706   131353500
EEM      40.462350     39.107409   134225700

### Interpretation of results (3.3.8)

The table summarizes the average behavior of closing prices and liquidity for each ETF over the 2022–2025 period.

For all assets, the mean closing price is higher than the median, suggesting an upward trend, with relatively higher prices concentrated in more recent years.

SPY and QQQ exhibit the highest average prices and the largest maximum trading volumes, reflecting their high liquidity and their importance as major U.S. equity ETFs. GLD shows a noticeable gap between the mean and the median, consistent with price spikes associated with its role as a safe-haven asset.

In contrast, TLT displays lower and more stable prices, with relatively less dispersion, which is characteristic of fixed-income instruments. EEM presents lower average prices but relatively high trading volumes, indicating a high turnover rate.

Overall, these results show that grouping by ticker allows for a clear comparison of price levels and liquidity across different types of financial assets.

## 3.3.9 Reshape 

1. Create a 1-row wide yh_dfFrame with last closes per ticker.
2. Convert it to long format with `melt()` into columns: `ticker`, `last_close`.
3. Pivot `us_mkt` into a wide table: index=`date`, columns=`ticker`, values=`close` (keep first 50 dates).

In [52]:
# Sort observations by date and obtain the last available closing price per ticker
last_close = (
    us_mkt
    .sort_values("date")
    .groupby("ticker")
    .close
    .last()
)

last_close_wide = last_close.to_frame().T
last_close_wide

ticker        EEM         GLD        QQQ         SPY        TLT
close   52.599998  399.290009  599.63739  669.421936  87.459633

### Interpretation of results (3.3.9.a)

La tabla muestra un activo financiero y el valor corresponde al precio observado en la fecha más reciente de la base de datos.

Este resumen reduce la dimensión temporal del dataset y presenta la información en formato wide, lo que facilita la comparación directa entre activos. Asi mismos sucede en 3.3.9.b y 3.3.9.c dado que el objetivo del ejercicio es ilustrar la transformación de formato long a wide y no analizar la serie completa.

In [53]:
# 3.3.9.B Change the DataFrame structure from wide to long format without losing information
last_close_long = last_close_wide.melt(
    var_name="ticker",
    value_name="last_close"
)

last_close_long

  ticker  last_close
0    EEM   52.599998
1    GLD  399.290009
2    QQQ  599.637390
3    SPY  669.421936
4    TLT   87.459633

In [54]:
#  3.3.9.C Reorganize the dataset from long to wide format: each row represents a date, each column represents a ticker, and the cell values correspond to closing prices
us_wide_50 = (
    us_mkt
    .pivot(columns="ticker", values="close")
    .sort_index()
    .head(50)
)

us_wide_50

ticker            EEM         GLD         QQQ         SPY         TLT
date
2022-01-03  44.624966  168.330002  391.679474  451.875153  125.295311
2022-01-04  44.470772  169.570007  386.599213  451.723755  124.774368
2022-01-05  43.745163  169.059998  374.722412  443.049713  124.097115
2022-01-06  43.944702  166.990005  374.459167  442.633545  124.418388
2022-01-07  44.343792  167.750000  370.402679  440.883545  123.523987
2022-01-10  44.343792  168.259995  370.646423  440.334930  123.827919
2022-01-11  45.368717  170.289993  376.214325  444.345581  124.652855
2022-01-12  46.121540  170.740005  377.706238  445.546906  124.175217
2022-01-13  45.468487  170.160004  368.257446  439.407990  125.277977
2022-01-14  45.450348  169.669998  370.548981  439.587646  123.385147
2022-01-18  44.643108  169.389999  361.324463  431.802704  121.648483
2022-01-19  44.833576  172.080002  357.355835  427.319061  122.490768
2022-01-20  45.096615  171.649994  352.714325  422.589539  123.246162
2022-01-21  44.443565  171.089996  342.934113  414.293854  124.713562
2022-01-24  43.817726  172.029999  344.503967  416.053192  123.689011
2022-01-25  43.736095  172.580002  336.517822  410.973572  123.489296
2022-01-26  43.182812  169.789993  335.991241  409.942535  121.995827
2022-01-27  42.683964  167.600006  332.607758  407.918243  124.236046
2022-01-28  42.892570  167.100006  343.041321  418.049103  124.279442
2022-01-31  44.298439  168.089996  354.011169  425.578644  123.636917
2022-02-01  44.570545  168.229996  356.419647  428.454224  123.226501
2022-02-02  44.497982  168.839996  359.315857  432.616272  123.643845
2022-02-03  44.026337  168.600006  344.747742  422.447632  122.678711
2022-02-04  44.135181  168.860001  349.096649  424.434082  120.870178
2022-02-07  44.044479  170.110001  346.288422  423.071930  120.948410
2022-02-08  44.470772  170.630005  350.179077  426.552979  120.139740
2022-02-09  45.169167  171.210007  357.599548  432.795959  120.365852
2022-02-10  44.869862  170.559998  349.506226  425.020477  118.452927
2022-02-11  44.189606  173.809998  338.419312  416.639648  120.209335
2022-02-14  43.881218  174.740005  338.838684  415.277496  118.713768
2022-02-15  44.833576  173.080002  347.263550  421.974670  117.366020
2022-02-16  45.160103  174.860001  347.175812  422.447632  118.061638
2022-02-17  44.634033  177.250000  336.849426  413.423553  118.939827
2022-02-18  44.189606  177.119995  333.007538  410.746582  120.191902
2022-02-22  43.563759  177.490005  329.662933  406.338623  120.504929
2022-02-23  43.055843  178.289993  321.218506  399.130768  118.844185
2022-02-24  42.166965  177.139999  332.012848  405.137299  118.922424
2022-02-25  42.946995  176.550003  337.161438  414.076202  119.009392
2022-02-28  42.384640  178.380005  338.165710  413.016846  121.617912
2022-03-01  41.822308  181.619995  332.988037  406.726440  123.024040
2022-03-02  41.894859  179.729996  338.575378  414.208679  118.818733
2022-03-03  41.305309  180.800003  333.738861  412.146484  120.028969
2022-03-04  40.470852  183.679993  328.902313  408.798004  122.101158
2022-03-07  38.956146  186.410004  316.772003  396.746979  121.169510
2022-03-08  39.083126  191.509995  315.299622  393.738922  119.950638
2022-03-09  40.189678  185.820007  326.649841  404.295410  118.775223
2022-03-10  39.436855  186.399994  323.022430  402.469818  117.068764
2022-03-11  38.611481  185.089996  316.323486  397.352417  117.460541
2022-03-14  37.677261  182.300003  310.248596  394.448364  114.717987
2022-03-15  37.731678  178.889999  319.980103  403.122467  114.517731