# 1 Assignment

It is totally prohibited to use any kind of loop. You can use stackoverflow. If you copy codes from previous answers, explain each step. No explanation is `0 points`.

## 1.1 Tuple



1. Print the first item of the second item of `tuple1` object. **Hint: Use indexing**<br><br>
2. Print the last item of the `tuple1` object.**Hint: Use indexing**<br><br>
3. Change the value "orange" for "pink grapefruit". Comment the output. **Hint: Is it possible?** <br><br>
4. Print the length of `tuple1`. **Hint: Length function**<br><br>
5. Sum all the elements of tuple2 and describe your steps and explain each of them. **Hint: Use `map` function.**<br><br>
6. Generate a new tuple object named as `tuple3` with the half values of `tuple2`. This tuple should be similar as `tuple2`, tuple of lists.  **Hint: Use `map` funciont.**<br><br>

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

#PARTE 1.1 TUPLE

In [ ]:
### 1. Print the first item of the second item
a = tuple1[1][0]
print(a)

10

In [ ]:
### 2. Print the last item of the tuple1
b = tuple1[-1][-1]
print(b)
c = tuple1[-1]
print(c)

25
(5, 15, 25)

In [ ]:
### 3. Change the value'orange' for 'pink'. Is it Possible?
#tuple1[0] = 'pink'
#print(tuple1)


### Comment: The object "tuple" cannot be modified.

In [ ]:
###4. Print the length of tuple1
print(len(tuple1))

3

In [ ]:
### 5.Sum all the elements of tuple2 and describe your steps and explain each of them . Hint: Using map function
# Step 1: First we use the sum fuction to sum each value inside every list of tuple2. Then, we transform the result into a list
e = list(map(sum,tuple2))
print(e)
# Step 2: We use the previously defined object to sum the previous result, which is shown as a list
sum_tuple2 = sum(e) ### (Function, object to iterate)

print(sum_tuple2)

[15, 10, 17]
42

In [ ]:
def funcion(x):
  x = x+5

In [ ]:
print(tuple2)

([7, 8], [9, 1], [10, 7])

In [ ]:
### 6. Generate a tuple3 with the half values of  tuple2. The tuple3 should be similar as tuple2 , tuple of lists

tuple3 = tuple(map(lambda x: [x[0]/2, x[1]/2], tuple2))
print(tuple3)

([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

## 1.2 Lists
1. Show the indices of the `np.nan` values  in the `f_list` list. We want to see this output: `The indices 0, 1, 4, 7 have np.nan values.` **Hint: Use print function and [f-strings](https://realpython.com/python-f-strings/) to insert the indices values.**<br><br>

2. Replicate 4 times the values of the list `p2_list`. We expect an ouput like this: `[ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]`.  **Hint: Use multiplication function in `lists`and see the output.**<br><br>
3. Print the length of `f_list`. **Hint: Length function**<br><br>
4. Print `My teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**<br><br>
5. Print `My TA is so boring, but is very funny.` using `text1` list.**Hint: Use the `join` function, and `extend` method.**<br><br>
6. Print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>
7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**
<br>
8. Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**
<br>

In [ ]:
import numpy as np

In [ ]:
f_list = [np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]

In [ ]:
print(type(np.nan))

<class 'float'>

In [ ]:
print(type(f_list[1]))

<class 'float'>

In [ ]:
### 1. Show the indices with Nan values in the f_list . We want to see this output  [0,1,4,7]

par_indice = filter(lambda par: isinstance(par[1], float) and np.isnan(par[1]), enumerate(f_list))
par_indice = list(par_indice)

print(par_indice)

indice_nan = list(map(lambda x: x[0], par_indice))

print(f'The np.nan values in the f_list are in the next position index: {indice_nan}')

[(0, nan), (1, nan), (4, nan), (7, nan)]
The np.nan values in the f_list are in the next position index: [0, 1, 4, 7]

In [ ]:
p2_list = [ 2 , 3, 4, 5 ]

In [ ]:
### 2. Replicate 4 times the values of the list p2_list. Using the multiplication function in list
h = p2_list * 4 ### As the object is a list, the multiplication function replicate the object 4 times
print(h)

[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]

In [ ]:
### 3. Print the lenght of f_list
i = len(f_list)
print(i)

8

In [ ]:
text1 = ['My', 'teacher', 'assistant', 'is', 'so', 'boring,']

In [ ]:
### 4. Print the expression " My teacher assistent is so boring". Using the join function
j = ' '.join(text1)

print(j)

My teacher assistant is so boring,

In [ ]:
### Change text_1 to be equal to "My TA is so boring"
text1[1] = 'TA'
text1.remove('assistant')
print(text1)

['My', 'TA', 'is', 'so', 'boring,']

In [ ]:
### Extend j including, "but is very funny". Using extend function
extention = ['but is very funny.']
#j = [j] ### To convert a list again
text1.extend(extention)
k = ' '.join(text1)

print(k)

My TA is so boring, but is very funny.

In [ ]:
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1 ]

In [ ]:
### 6. Print "The max value of values1 is 86 and is located in the 0 index."
###          "The min value of values1 is 0 and is located in the 7 index."


print(f'The max value of values1 is {max(values1)} and is located in the {values1.index(max(values1))} index.')
print(f'The min value of values1 is {min(values1)} and is located in the {values1.index(min(values1))} index.')

The max value of values1 is 86 and is located in the 0 index.
The min value of values1 is 0 and is located in the 7 index.

In [ ]:
# These two lists a
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

In [ ]:
### 7. Get two lists: `names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.
last_names = list(map(lambda x: x.split(',')[0], last_and_name))

names = list(map(lambda x: x.split(', ')[1], last_and_name))
print(names)
print(last_names)

['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

In [ ]:
### 8. Give only the last names of students who do not have email. Use the `emails` and `last_names` list. **Hint: Use `map` and `split`.**
# Step 1: We need to join the list previously created with the emails list to find those students who doesn't have an email
lista_zip_gmails = list(zip(last_names, emails))
print(lista_zip_gmails)
# Step 2: We use filter function to find the students with no email
lista_zip_gmails2 = list(filter(lambda x: x[1] == '', lista_zip_gmails))
# Step 3: We use map and split function to separate last names from the emails
answer = list(map(lambda x: x[0].split(',')[0], lista_zip_gmails2))
print('Answer:', answer)

[('CORNEJO SANCHEZ', 'cscornejo@pucp.edu.pe'), ('ORELLANA QUISPE', 'orellana.cn@pucp.edu.pe'), ('MORALES CHOQUEHUANCA', 'karina.morales@pucp.edu.pe'), ('GUIMARAY RIBEYRO', 'a20083223@pucp.pe'), ('CAMACHO GAVIDIA', 'abel.camacho@pucp.pe'), ('TINTAYA ORIHUELA', 'mtintaya@pucp.edu.pe'), ('CHAVEZ MARTINEZ', 'joselin.chavez@pucp.edu.pe'), ('FIGUEROA MURO', 'a20105737@pucp.pe'), ('GOMEZ CRIBILLERO', 'jfgomezc@pucp.pe'), ('PALOMINO SEGUÍN', 'afrania.palomino@pucp.pe'), ('LUZON CUEVA', 'luzon.bianca@pucp.pe'), ('SUAÑA ZEGARRA', 'adrian.suanaz@pucp.pe'), ('SOTO POMACHAGUA', 'soto.y@pucp.edu.pe'), ('FIORENTINO MARTINEZ', 'a20132766@pucp.pe'), ('LAMA MAVILA', 'andre.lama@pucp.edu.pe'), ('MEZA HINOJO', 'gustavo.meza@pucp.edu.pe'), ('LOZADA MURILLO', 'pmlozada@pucp.edu.pe'), ('ZAMBRANO JIMENEZ', 'm.zambranoj@pucp.edu.pe'), ('JACOBS LUQUE', 'nicolas.jacobs@pucp.edu.pe'), ('VIDAL VIDAL', 'gvidal@pucp.edu.pe'), ('TORRES ANICAMA', 'jane.torres@pucp.edu.pe'), ('LOPEZ ESTRADA', 'm.lopez@pucp.edu.pe'), ('BOYCO ORAMS', 'alejandro.boyco@pucp.edu.pe'), ('DIAZ BERROSPI', 'a20167070@pucp.edu.pe'), ('RIEGA ESCALANTE', 'riega.stephy@pucp.edu.pe'), ('LEVANO TORRES', 'vlevanot@pucp.edu.pe'), ('ESQUIVES BRAVO', 'sesquives@pucp.edu.pe'), ('PEREZ GONZALES', 'perez.juanc@pucp.edu.pe'), ('OTERO MAGUIÑA', 'mariana.otero@pucp.edu.pe'), ('CLAVO CAMPOS', 'aclavo@pucp.edu.pe'), ('AGUILAR GARCIA', 'a20182474@pucp.edu.pe'), ('CALDAS VELASQUEZ', 'josue.caldas@pucp.edu.pe'), ('SALAS NUÑEZ BORJA', 'fabio.salas@pucp.edu.pe'), ('PIZARRO VILLANES', 'fernanda.pizarro@pucp.edu.pe'), ('QUILLATUPA MORALES', 'aquillatupa@pucp.pe'), ('HUANCAYA IDONE', ''), ('CALVO PORTOCARRERO', ''), ('IBAÑEZ ABANTO', ''), ('MELÉNDEZ APONTE', ''), ('CRISTIAN SERRANO', ''), ('HINOJOSA CAHUANA', 'f0873079@pucp.edu.pe'), ('ANGLAS GARCÍA', ''), ('ALDAVE ACOSTA', ''), ('NÚÑEZ HUAMÁN', ''), ('OBREGON HUAMAN', ''), ('SOTO PACHERRES', ''), ('INGARUCA RIVERA', ''), ('ROJAS HUAMAN', ''), ('NEYRA SALAS', ''), ('HUERTA ESPINOZA', ''), ('HUANCA MARTINEZ', ''), ('FLORES CADILLO', 'flores.alexis@pucp.edu.pe')]
Answer: ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

## 1.3 Strings


1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

2. Get the number of letters in the string .**Hint: Use `len`function.**

3. Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

4. Get the position of `@` in each string in the emails list. **Hint: Use `map`function and `find` method.**

5. Identifies if exists `.edu.`  in each string in the `emails` list. Get a list of Booleans. **Hint: Use `map`function and `find` method.**

6. Get all the strings before the first dot `.`in each string in the `emails` list. Identifies how many of them has `@`. **Hint: Use `map`function and `find` method.**

In [ ]:
str1 = 'I am                            too                                                        old'

In [ ]:
### 1. Drop duplicated blank spaces in str1. Using split and method join function
str1_without = str1.split() ### Remove the blank spaces and convert str1 as a list with elements
print(str1_without)
str1_without_1 =  " ".join(str1_without) ### After remove the blank spaces we use join to make the sentence again
print(str1_without_1)

['I', 'am', 'too', 'old']
I am too old

In [ ]:
### 2. Get the number of letters in the string. Using len function 

letters_str1 = "".join(str1_without) #Join the elements of str1_without into a single string without using any separator and save the result in letters_str1.
print(letters_str1)  #returns the length of the string
print(len(letters_str1))

Iamtooold
9

In [ ]:
### 3.1 Get the number of blank spaces in the string. Using len function - Here, the number of spaces in the original string is calculated by subtracting the length of the string without letters from the length of the original string.
number_blank_spaces_original = len(str1) - len(letters_str1)

print(f'Conteo de espacios sobre el str original: {number_blank_spaces_original}')


### 3.2 Get the number of blank spaces in the string. Using len function - Here, the number of spaces in the reduced string is calculated using the len() function in the same way.
number_blank_spaces_reduced = len(str1_without_1) - len(letters_str1)

print(f'Conteo de espacios sobre el str original: {number_blank_spaces_reduced}')

Conteo de espacios sobre el str original: 85
Conteo de espacios sobre el str original: 3

In [ ]:
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

In [ ]:
### 4.Get the position of @ in each string in the emails list. Using mapfunction and find method.
l = list(map(lambda x: x.find('@'), emails))  #In this code we apply Lambda to an undefined function, and with it we can find the position where the substring '@' appears
print(l)

[9, 11, 14, 9, 12, 8, 14, 9, 8, 16, 12, 13, 6, 9, 10, 12, 8, 11, 14, 6, 11, 7, 15, 9, 12, 8, 9, 11, 13, 6, 9, 12, 11, 16, 11]

In [ ]:
### 5. Identifies if exists "".edu."" in each string in the emails list. Get a list of Booleans. Using mapfunction and find method.
p = list(map(lambda x : x.find('.edu.'), emails)) #In this code we apply Lambda to an undefined function, and with it we can find the position where the substring '.edu.' appears

print(p) ### We observed the list p have an incorrect value "-1". This indicate the value don't have 'edu.pe'.

# Testing the hypothesis that -1 equals to don't have ".edu" in the email

bool_arroba = list(map(lambda x: x != -1, p))
print(bool_arroba)

[14, 16, 19, -1, -1, 13, 19, -1, -1, -1, -1, -1, 11, -1, 15, 17, 13, 16, 19, 11, 16, 12, 20, 14, 17, 13, 14, 16, 18, 11, 14, 17, 16, 21, -1]
[True, True, True, False, False, True, True, False, False, False, False, False, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False]

In [ ]:
### 6.Get all the strings before the first dot .in each string in the emails list. Identifies how many of them has @. Hint: Use mapfunction and find method.

r = list(map(lambda x: x.split('.')[0], emails))  #For each email, it obtains the part of the text before the first period (.).
 
s = list(map(lambda x: x.find('@'), r))  #searches for the position of the @ symbol in each element of r (returns -1 if it does not exist).

t = list(map(lambda x: x != -1, s))  #converts that result to True or False, indicating whether the @ symbol is present or not.


print(r)
print(s)
print(t)

['cscornejo@pucp', 'orellana', 'karina', 'a20083223@pucp', 'abel', 'mtintaya@pucp', 'joselin', 'a20105737@pucp', 'jfgomezc@pucp', 'afrania', 'luzon', 'adrian', 'soto', 'a20132766@pucp', 'andre', 'gustavo', 'pmlozada@pucp', 'm', 'nicolas', 'gvidal@pucp', 'jane', 'm', 'alejandro', 'a20167070@pucp', 'riega', 'vlevanot@pucp', 'sesquives@pucp', 'perez', 'mariana', 'aclavo@pucp', 'a20182474@pucp', 'josue', 'fabio', 'fernanda', 'aquillatupa@pucp']
[9, -1, -1, 9, -1, 8, -1, 9, 8, -1, -1, -1, -1, 9, -1, -1, 8, -1, -1, 6, -1, -1, -1, 9, -1, 8, 9, -1, -1, 6, 9, -1, -1, -1, 11]
[True, False, False, True, False, True, False, True, True, False, False, False, False, True, False, False, True, False, False, True, False, False, False, True, False, True, True, False, False, True, True, False, False, False, True]